{% extends "../../layouts/career.twig" %}

{% block main %}
<section class="section-career-jobs-list">
  {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Руководитель группы по управлению закупками", "btnText": "Откликнуться", "btnClasses": "btn_colorPrimary2 btn_append-icon", "btnIcon": "../svg/icon-mail-svg.twig", "btnLink": "#modal_job", "attributes": "rel='modal:open'"} %}

  <article class="text jobs-list__item">
    <p class="strong colorPrimary">
      Барнаул, пр. Калинина, 116 <br>
      Требуемый опыт работы: от 3 лет в должности руководителя. <br>
      Полная занятость, полный день
    </p>

    <p class="strong colorPrimary">Обязанности:</p>
    <ul>
      <li>Осуществлять экспертизу проектов приказов, инструкций, положений, стандартов и других актов.</li>
      <li>Подготовка заключений по вопросам, возникающих в сфере закупок товаров, работ, услуг.</li>
      <li>Участие в оптимизации закупочной политики организации.</li>
      <li>Проводит регулярный анализ статистики по закупкам.</li>
      <li>Контроль оформление пакета документов необходимых для организации закупки.</li>
      <li>Формирование закупочной документации, обоснование цены.</li>
      <li>Публиковать закупки и размещать документацию по ней в соответствии с требованиями ЕИС и ЭТП на основании
        положения о закупках.</li>
      <li>Мониторинг показателей эффективности закупочной деятельности.</li>
      <li>Организация деятельности тендерного комитета.</li>
      <li>Осуществлять работу с электронными торговыми площадками и официальными сайтами для размещения информации о
        закупках.</li>
    </ul>

    <p class="strong colorPrimary">Требования:</p>
    <ul>
      <li>Высшее образование.</li>
      <li>Знание методов эффективного управления персоналом.</li>
      <li>Знание профильного законодательства и основ бюджетирования.</li>
      <li>Навыки эффективных закупок, ведение деловых переговоров, работа на электронных торговых площадках и в единой
        информационной системе в сфере закупок, формирование закупочной документации.</li>
      <li>Знание ФЗ 223-ФЗ</li>
    </ul>

    <p class="strong colorPrimary">Условия:</p>
    <ul>
      <li>З/п 35 000 руб.</li>
      <li>Официальное трудоустройство.</li>
      <li>Соцпакет.</li>
      <li>Возможность обучения и постоянного повышения квалификации.</li>
    </ul>
  </article>

  {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "PHP-разработчик", "btnText": "Откликнуться", "btnClasses": "btn_colorPrimary2 btn_append-icon", "btnIcon": "../svg/icon-mail-svg.twig", "btnLink": "#modal_job", "attributes": "rel='modal:open'"} %}

  <article class="text jobs-list__item">
    <p class="strong colorPrimary">
      Барнаул, Пеше-Стрелецкая улица, 90<br>
      Требуемый опыт работы: 1–3 года<br>
      Полная занятость, полный день
    </p>

    <p class="strong colorPrimary">Обязанности</p>

    <p>Участие в проектах разработки и внедрения отраслевой платформы биллинга и клиентских
      сервисов группы компаний «Росводоканал».</p>
    <ul>
      <li>Разработка новой и адаптация существующей функциональности программного
        обеспечения сервисов биллинга.
      </li>
      <li>Разработка пользовательских интерфейсов и серверной части корпоративных
        веб-приложений.
      </li>
    </ul>

    <p class="strong colorPrimary">Требования</p>

    <ul>
      <li>Отличное знание PHP.</li>
      <li>Опыт работы с Zend Framework.</li>
      <li>Знание JavaScript, jQuery, HTML,CSS.</li>
      <li>Опыт работы с СУБД Oracle, PostgreSQL.</li>
      <li>Знание SQL, желательно PL/SQL.</li>
      <li>Умение работать с Git.</li>
      <li>Навыки командной работы, нацеленность на результат.</li>
      <li>Приветствуется опыт разработки мобильных приложений.</li>
    </ul>

    <p class="strong colorPrimary">Условия</p>

    <ul>
      <li>
        Полностью «белая» Компания, график работы 5/2.
      </li>
      <li>
        Расширенное ДМС со стоматологией.
      </li>
      <li>
        Оплата мобильной связи.
      </li>
    </ul>
  </article>

  {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Ведущий разработчик Java", "btnText": "Откликнуться", "btnClasses": "btn_colorPrimary2 btn_append-icon", "btnIcon": "../svg/icon-mail-svg.twig", "btnLink": "#modal_job", "attributes": "rel='modal:open'"} %}

  <article class="text jobs-list__item">
    <p class="strong colorPrimary">
      Барнаул, Пеше-Стрелецкая улица, 90<br>
      Требуемый опыт работы: 1–3 года<br>
      Полная занятость, полный день
    </p>

    <p class="strong colorPrimary">Обязанности</p>

    <p>Участие в проектах разработки и внедрения отраслевой платформы биллинга и клиентских
      сервисов группы компаний «Росводоканал».</p>
    <ul>
      <li>Разработка новой и адаптация существующей функциональности программного
        обеспечения сервисов биллинга.
      </li>
      <li>Разработка пользовательских интерфейсов и серверной части корпоративных
        веб-приложений.
      </li>
    </ul>

    <p class="strong colorPrimary">Требования</p>

    <ul>
      <li>Отличное знание PHP.</li>
      <li>Опыт работы с Zend Framework.</li>
      <li>Знание JavaScript, jQuery, HTML,CSS.</li>
      <li>Опыт работы с СУБД Oracle, PostgreSQL.</li>
      <li>Знание SQL, желательно PL/SQL.</li>
      <li>Умение работать с Git.</li>
      <li>Навыки командной работы, нацеленность на результат.</li>
      <li>Приветствуется опыт разработки мобильных приложений.</li>
    </ul>

    <p class="strong colorPrimary">Условия</p>

    <ul>
      <li>
        Полностью «белая» Компания, график работы 5/2.
      </li>
      <li>
        Расширенное ДМС со стоматологией.
      </li>
      <li>
        Оплата мобильной связи.
      </li>
    </ul>
  </article>
  
</section>

  <div id="modal_job" class="modal modal_job">
    <form action="" class="form form_job {{ classes }}" data-isValidate="true">
      <p class="form-subtitle colorPrimary strong_M font-15">Отклик на вакансию:</p>
      <h4 class="form-title colorPrimary strong_M form-title_without-space">Руководитель группы по управлению закупками</h4>

      <hr class="colorPrimary">

      <div class="input-with-label">
        <label>Ваше имя *</label>
        <input type="text" class="required input_grey"></input>
      </div>

      <div class="input-with-label">
        <label>Контактные данные *</label>
        <input type="text" class="required input_grey"></input>
      </div>

      <div class="input-with-label">
        <label>Дополнительная информация</label>
        <textarea class="input_grey"></textarea>
      </div>

      <div class="input-with-label mb-0">
        <label>Файл резюме</label>
        {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор", "inputFileClasses": "input_file-grey"} %}
      </div>
        <span class="form-info italic">Прикрепить резюме (допустимые расширения файлов .doc .pdf .jpg .jpeg .rar .zip, до 2 Мб)</span>

      <div class="form-footer">
        {% include '../../includes/stdEls/checkbox.twig' with {"id": "check3", "text": "Я соглашаюсь с <a href='#'>условиями работы сайта</a>", "isRequired": true} %}
        <button type="submit" class="btn btn_colorPrimary mx-auto ">Отправить</button>
      </div>
    </form>
  </div>
{% endblock %}