{% extends "../../layouts/career.twig" %}

{% block main %}
  <section class="section-career-competence">
    {% include "../../includes/jumbo-img.twig" with {"imgSrc": "./img/career-competence-img.png", "title": "Оценка компетенций", "subtitle": "Карьера"} %}
    <article class="text">
      <p>Оценка компетенций персонала отражает стратегию и корпоративную культуру в требованиях, предъявляемых к сотрудникам.</p>

      <h4 class="colorCyan">Система оценки персонала включает:</h4> 

      <ul>
        <li>нормативные документы, которые описывают задачи и процедуры оценки, обработку и использование её результатов,</li>
        <li>квалифицированных специалистов, осуществляющих оценку, интерпретацию и применение результатов,</li>
        <li>набор методов оценки персонала,</li>
        <li>ряд оценочных мероприятий, результаты которых используются для отбора сотрудников, продвижения и вознаграждения.</li>
      </ul>

      <p>Основная задача оценки персонала - получение данных о характеристиках и эффективности сотрудников. Это дает возможность руководителям и специалистам дирекции по персоналу принимать решения о развитии и формировании кадрового резерва, перемещении работников или приеме новых. </p>

      <h4 class="colorCyan">К задачам оценки персонала в водоканале также относятся:</h4> 

      <ul>
        <li>получение информации для принятия управленческих решений,</li>
        <li>стимулирование сотрудников и их вознаграждение,</li>
        <li>разработка программ обучения и развития,</li>
        <li>разработка индивидуальных планов развития,</li>
        <li>снижение или обоснование затрат.</li>
      </ul>

      <p>Исходя из задач, решаемых сотрудниками «Росводоканал Барнаул», применяются следующие критерии оценки персонала:</p>

      <ul>
        <li>направленность на достижение стратегии и целей компании,</li>
        <li>соответствие корпоративной культуре,</li>
        <li>прозрачность процедур и понятность результатов оценки для руководителей и сотрудников.</li>
      </ul>

      <p>Все мероприятия по оценке персонала - это возможность определить имеющийся потенциал сотрудников и наметить дальнейшие карьерные маршруты в рамках предприятия или в группе компаний «Росводоканал».</p>
    </article>
  </section>
{% endblock %}