{% extends "../../layouts/career.twig" %}

{% block main %}
  <section class="section-career-jobs-categories">
    {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "11 открытых вакансий"} %}

    <article class="std-grid__content news-grid__cont jobs-grid__cont">
      <div class="std-grid news-grid jobs-grid">
        {% for idx, job in jobs %}
          <a href="career_jobs_list.html" class="std-grid__item news-item jobs-item">
            <div class="news-item__img-cont jobs-item__img-cont">
              <img data-src="../assets/img/jobs-categories-img-{{idx + 1}}.png" alt="" class="lazy news-item__img jobs-item__img">
            </div>

            <div class="news-item__bage jobs-item__bage">
              <p class="std-grid__title news-item__title jobs-item__title">{{job.title}}</p>
              <div class="news-item__info jobs-item__info">
                <div class="news-item__row jobs-item__row">
                  <p class="news-item__src jobs-item__amount">{{job.amount}}</p>
                  {% include '../../includes/svg/icon-arrow-svg.twig' with {'classes': 'std-grid__arrow news-item__arrow jobs-item__arrow'} %}
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </article>
  </section>
{% endblock %}