{% extends "../../layouts/career.twig" %}

{% block main %}
  <section class="section-career-study_experts">
    {% include "../../includes/stdBlocks/jumbo-img.twig" with {"imgSrc": "../assets/img/career-study-experts-img.png", "title": "Экспертам", "subtitle": "Карьера"} %}
    <article class="text">
      <p>Эксперты «Росводоканал Барнаул» - сотрудники, обладающие глубокими профессиональными знаниями и компетенциями в своей области.</p>

      <p>Непрерывная подготовка экспертов направлена на их профессиональное развитие. Повышение отраслевой экспертизы в компании осуществляться путем обмена лучшими практиками, сотрудничеством с внешними партнерами - носителями новых технологий и подходов. Большое внимание в водоканале уделяется обязательному обучению работников и сертификации новым профессиям. Повышению уровня экспертизы способствует инициатива по развитию института наставничества.</p>
      
      <p>Участие экспертов в профессиональных семинарах, конференциях и круглых столах позволяют им получать новую информацию, а также выступать спикерами, представляя результаты работы «Росводоканал Барнаул» своим коллегам. </p>
    </article>
  </section>
{% endblock %}