{% extends "../../layouts/career.twig" %}

{% block main %}
  <section class="section-career-study_heads">
    {% include "../../includes/jumbo-img.twig" with {"imgSrc": "../assets/img/career-study-heads.png", "title": "Руководителям", "subtitle": "Карьера"} %}
    <article class="text">
      <p>Профессиональная экспертиза и развитые управленческие навыки – являются неотъемлемыми качествами руководителей производственных подразделений, отделов и служб «Росводоканал Барнаул».</p>

      <p>В периметре группы компаний создана согласованная модель управленческих компетенций, которая отражает ожидания от руководителей и формирует векторы возможностей для развития менеджеров.</p>
      
      <p>Программы обучения и развивающие индивидуальные сессии для руководителей разного уровня разрабатываются и планируются, исходя из потребностей и пожеланий самих руководителей. Кроме того, обучение является важным элементом при внутренней ротации менеджера.</p>

      <p>В 2018 году в «Росводоканале» стартовала программа подготовки «Менторинг», в рамках которой руководители обучаются технологии менторинга и получают внутренний сертификат, подтверждающий профессиональную возможность консультировать работников внутри компании.</p>
    </article>
  </section>
{% endblock %}