{% extends "../../layouts/career.twig" %}

{% block main %}
  <section class="section-career-study_youth-knpk">
    {% include "../../includes/stdBlocks/jumbo-img.twig" with {"imgSrc": "../assets/img/career-study-youth-kpnk-img.png", "title": "Лаборатория новых решений", "subtitle": "Росводоканал Барнаул"} %}
    <article class="text">
      <p>Молодые специалисты предприятия – постоянные участники корпоративной научно-практической конференции (КНПК) группы компаний «Росводоканал». Это ежегодного мероприятие, направленное на развитие инновационных проектов в сфере водоснабжения и водоотведения. Участие в конференции молодых сотрудников водоканала дает им возможность заявить о себе, проявить лучшие качества, сделать первый шаг к практическим результатам воплощения своих проектов. </p>

      <p>Барнаульские инноваторы разрабатывают проекты и решения по повышению эффективности работы предприятия и оптимизации технологических процессов, сокращению затрат на электроэнергию и продлению сроков службы оборудования, улучшению качества воды и повышению уровня обслуживания клиентов.</p>
      
      <p>Экспертное жюри, в состав которого входят функциональные руководители региональных предприятий «Росводоканала», оценивают работы по нескольким критериям, главный из которых - возможность практического применения разработки.</p>
    </article>
  </section>
{% endblock %}