{# Добавить класс accept-cookies_always-hidden после того, как пользователь согласился #}
<div class="accept-cookies">
    <div class="accept-cookies__inner-cont">
        <p class="accept-cookies__p">«ООО УК «РОСВОДОКАНАЛ» использует файлы cookie. Продолжая работу с rosvodokanal.ru, Вы подтверждаете использование сайтом cookies вашего браузера, которые помогают нам делать этот сайт удобнее для пользователей. Однако Вы можете запретить сохранение файлов cookie в настройках своего браузера</p>
        <div class="accept-cookies__btn-row">
            <a href="#" class="btn btn_white btn_borderless">
              <span class="btn__text btn__text_colorPrimary">Подробнее</span>
            </a>

            <a id="accept-cookies-accept-btn" href="#" class="btn btn_white btn_borderless">
              <span class="btn__text btn__text_colorPrimary">Понятно</span>
            </a>
        </div>
    </div>
</div>
