<div id="animatedCanvasParent" class="bage">
  <div class="bage__overlay"></div>
  <div class="wrapper">
    <p class="subtitle">{{ bage.subtitle }}</p>
    <h1 class="title">{{ bage.title }}</h1>
  </div>
  <canvas id="animatedCanvas" class="bage__canvas"></canvas>
</div>        