<article class="jumbo-img__cont {{ classes }}">
  <img data-src="{{ imgSrc }}" alt="" class="lazy jumbo-img" width="770" height="370">
  <div class="jumbo-img__marker">
    <div class="jumbo-img__marker-cont">
      {% if subtitle is not empty %}
        <p class="jumbo-img__subtitle">{{subtitle}}</p>
      {% endif %}
      {% if title is not empty %}
      <h3 class="jumbo-img__title">{{title}}</h3>
      {% endif %}
    </div>
  </div>
</article>