.grid-icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  &_3-cols {
    .grid-icons__item {
      .size(3);
    }
  }
  &_4-cols {
    .grid-icons__item {
      .size(2);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative;

    &:hover {
      .grid-icons__item-hint {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
      .grid-icons__icon {
        transform: translateY(-10px);
      }
    }

    &-hint {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      background: @colorPrimary;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 190px;
      height: 190px;
      z-index: 1;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      transition: @transSlow;
      cursor: default;
    }

    &-text {
      color: #fff;
      padding: 20px;
      font-size: @font-15;
      font-weight: 100;
      line-height: @font-20;
      cursor: default;
    }
  }
  &__icon {
    margin-top: auto;
    margin-bottom: auto;
  }
  &__p {
    color: @colorPrimary3;
    font-size: @font-13;
    font-weight: 400;
    line-height: @font-15;
    margin-top: 14px;
    margin-bottom: 0;
    text-align: center;
  }
  .grid-icons__icon {
    transition: @transMid;
  }
  .grid-icons__icon:not(.grid-icons__icon_without-color) {
    .stroke {
      stroke: @colorPrimary;
    }
    .fill {
      fill: @colorPrimary;
    }
  }
}

@media (max-width: @mobileW) {
  .grid-icons {
    &__item {
      margin-bottom: 45px;
      margin-left: 10px;
      margin-right: 10px;
      min-width: 135px;
    }
  }
}

html.color-white {
  .grid-icons {
    &__p {
      color: @blackEye;
    }
    .grid-icons__icon:not(.grid-icons__icon_without-color) {
      .stroke {
        stroke: @blackEye;
      }
      .fill {
        fill: @blackEye;
      }
    }
  }
}

html.color-black {
  .grid-icons {
    &__p {
      color: @whiteEye;
    }
    .grid-icons__icon:not(.grid-icons__icon_without-color) {
      .stroke {
        stroke: @whiteEye;
      }
      .fill {
        fill: @whiteEye;
      }
    }
  }
}
