.std-grid.jobs-grid {
  .jobs-item {
    &__title {
      color: @colorPrimary;
      font-size: @font-17;
      font-weight: 700;
      line-height: @font-20;
    }
    &__amount {
      color: @colorPrimary3;
      font-size: @font-15;
      font-weight: 600;
      line-height: @font-20;
    }
  }
}
