.news {
  &-item {
    border-radius: 9px;

    &__img {
      opacity: 0.5;
      border-radius: 7px;
      &-cont {
        border-radius: 7px;
        background: @colorPrimary3;
      }
    }

    &__bage {
      transition: @transSlow;
    }

    &__row {
      display: flex;
      align-items: center;
    }

    &__arrow {
      transition: @transFast;
    }

    &:not(.news-item_full-size) {
      .news-item {
        &__bage {
          margin-top: 15px;
        }
        &__title {
          color: @colorPrimary3;
          font-size: @font-15;
          font-weight: 400;
          line-height: @font-20;
          margin-bottom: 2px;
          padding-right: 18px;
        }
        &__meta,
        &__src {
          color: @colorPrimary;
          font-size: @font-13;
          line-height: @font-16;
          font-weight: 700;
        }
        &__src {
          margin-right: 10px;
        }

        &__row {
          .news-item {
            &__meta {
              margin-right: 10px;
            }
            &__arrow {
              .stroke {
                stroke: @colorPrimary;
              }
            }
          }
          &_on-top {
            margin-bottom: 8px;
          }
        }
        &__img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          &-cont {
            height: 210px;
          }
        }
      }

      .divider {
        font-weight: 600;
        margin-right: 8px;
        color: @colorPrimary;
      }
    }

    &_full-size {
      position: relative;
      height: 440px;

      .news-item {
        &__bage {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding:12px 12px 13px ;
          background: rgba(#000, 0.1);
          border-bottom-right-radius: 7px;
          border-bottom-left-radius: 7px;
          max-height: 100%;
        }
        &__title {
          color: #fff;
          font-size: @font-15;
          line-height: @font-23;
          font-weight: 600;
        }
        &__src {
          color: @colorPrimary2;
          font-size: @font-15;
          line-height: @font-23;
          font-weight: 700;
        }
        &__meta {
          color: #fff;
          font-size: @font-12;
          font-weight: 700;
        }
        &__arrow.std-grid__arrow {
          .stroke {
            stroke: @colorPrimary2;
          }
        }
        &__row {
          .news-item__meta {
            margin-right: 10px;
          }
        }
        &__img {
          width: 100%;
          object-fit: cover;
          border-radius: 7px;
          height: 100%;
          &-cont {
            height: 440px;
            max-height: 100%;
            border-radius: 7px;
          }
        }
      }
    }
  }
}

@media (max-width: @wrapperMaxWidth) {
  .news {
    &-item {
      &_full-size {
        .news-item {
          &__img {
            height: 100%;

            &-cont {
              height: 100%;
            }
          }
        }
      }
      &:not(.news-item_full-size) {
        position: relative;
        display: flex;
        flex-direction: column;
        .news-item {
          &__title {
            margin-bottom: 10px;
          }
          &__bage {
            height: 100%;
            display: flex;
            flex-direction: column;
          }
          &__info {
            margin-top: auto;
          }
        }
      }
    }
  }
}

@media (max-width: @mobileLandscapeWBig) {
  .news {
    &-grid {
      grid-template-areas:
        'full full full full full full'
        'full full full full full full'
        'st2 st2 st2 st3 st3 st3'
        'st4 st4 st4 st5 st5 st5'
        'st6 st6 st6 st7 st7 st7';
    }
  }
}

@media (max-width: @mobileLandscapeW) {
  .news {
    &-item {
      &:not(.news-item_full-size) {
        margin-bottom: 25px;
        .divider {
          display: none;
        }
        .news-item {
          position: relative;
          &__img {
            &-cont {
              height: 100%;
            }
          }
          &__title,
          &__src,
          &__meta {
            color: #fff;
          }
          &__title {
            padding-right: 0;
          }
          &__row {
            justify-content: space-between;
          }
          &__src,
          &__meta {
            margin-right: 0;
          }
          &__arrow {
            display: none;
          }
          &__bage {
            position: absolute;
            height: 100%;
            bottom: 0;
            padding: 10px;
            width: 100%;
          }
        }
      }
      &_full-size {
        margin-bottom: 25px;
        .news-item {
          &__bage {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 10px;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            background: none !important;
          }
          &__arrow {
            display: none;
          }
          &__info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap-reverse;
            margin-top: auto;
          }
          &__title,
          &__src,
          &__meta {
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: @mobileW) {
  .news {
    &-item {
      &_full-size {
        .news-item {
          &__info {
          }
        }
      }
    }
  }
}

html.color-white,
html.color-black {
  .news {
    &-item {
      &:not(.news-item_full-size) {
        display: flex;
        flex-direction: column;
        .news-item {
          &__img {
            @media (min-width: @mobileLandscapeW) {
              border-bottom-left-radius: 0 !important;
              border-bottom-right-radius: 0 !important;
            }
            &-cont {
              background: rgba(@blackEye, 0.4);
              @media (min-width: @mobileLandscapeW) {
                border-bottom-left-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
              }
            }
          }
          &__bage {
            display: flex;
            flex-direction: column;
            // height: 100%;
            @media (min-width: @mobileLandscapeW) {
              margin-top: 10px;
              margin-bottom: 10px;
              padding-left: 10px;
              padding-right: 10px;
            }
          }
          &__info {
            margin-top: auto;
          }
        }
      }
      &_full-size {
        .news-item {
          &__bage {
            background: rgba(@blackEye, 0.6);
            margin-top: auto;
            margin-bottom: auto;
          }
          &__img {
            &-cont {
              background: rgba(@blackEye, 0.4);
            }
          }
          &__title {
            color: @whiteEye;
          }
          &__meta,
          &__src {
            color: @whiteEye;
          }
          &__arrow {
            * {
              stroke: @whiteEye;
            }
          }
        }
      }
    }
  }
}

html.color-white {
  .news {
    &-item {
      &:not(.news-item_full-size) {
        .news-item {
          &__img-cont {
            border-color: @blackEye;
          }
          &__title {
            color: @blackEye;
          }
          &__meta,
          &__src {
            color: @blackEye;
          }
          &__arrow {
            * {
              stroke: @blackEye;
            }
          }
        }
        .divider {
          color: @blackEye;
        }
      }
    }
  }
}

html.color-black {
  .news {
    &-item {
      &:not(.news-item_full-size) {
        .news-item {
          &__img-cont {
            background: @blackEye;
            border-color: @whiteEye;
          }
          &__title {
            color: @whiteEye;
          }
          &__meta,
          &__src {
            color: @whiteEye;
          }
          &__arrow {
            * {
              stroke: @whiteEye;
            }
          }
        }
        .divider {
          color: @whiteEye;
        }
      }
    }
  }
}
