.std-grid {
  .row-flex();
  flex-wrap: wrap;
  justify-content: space-between;
  &__content {
    margin-left: -15px;
    margin-right: -15px;
  }

  &__item {
    margin-left: 15px;
    margin-right: 15px;

    &:not(.std-grid__item_full-size) {
      .size(6);
      margin-bottom: 32px;
    }

    &_full-size {
      .size(12);
      margin-bottom: 65px;
    }

    @media (min-width: @hoverW) {
      &:hover {
        .std-grid__arrow {
          transform: translateX(5px);
        }
      }
    }
  }
}

@media (max-width: @wrapperMaxWidth) {
  .std-grid {
    display: grid;
    grid-template-areas:
      'full full full full st2 st2'
      'full full full full st3 st3'
      'st4 st4 st4 st5 st5 st5'
      'st6 st6 st6 st7 st7 st7';
    gap: 30px;
    margin-left: 0;
    margin-right: 0;
    &__content {
      margin-left: 0;
      margin-right: 0;
    }

    &__item {
      &_full-size {
        width: 100%;
        grid-area: full;
        margin: 0;
        height: 100%;
      }
      &:not(.std-grid__item_full-size) {
        width: 100%;
        height: 100%;
        margin: 0;
      }
      &:nth-child(2) {
        grid-area: st2;
      }
      &:nth-child(3) {
        grid-area: st3;
      }
      &:nth-child(4) {
        grid-area: st4;
      }
      &:nth-child(5) {
        grid-area: st5;
      }
      &:nth-child(6) {
        grid-area: st6;
      }
      &:nth-child(7) {
        grid-area: st7;
      }
    }
  }
}

@media (max-width: @mobileLandscapeWBig) {
  .news {
    &-grid {
      grid-template-areas:
        'full full full full full full'
        'full full full full full full'
        'st2 st2 st2 st3 st3 st3'
        'st4 st4 st4 st5 st5 st5'
        'st6 st6 st6 st7 st7 st7';
    }
  }
}

@media (max-width: @mobileLandscapeW) {
  .std-grid {
    display: flex;
    flex-direction: column;

    &__item {
      grid-template-areas: none !important;
      &:not(.std-grid__item_full-size) {
        margin-bottom: 25px;
        height: 250px;
      }
      &_full-size {
        height: 280px;
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: @mobileSSW) {
  .std-grid {
    &__item {
      &:not(.std-grid__item_full-size) {
        height: 95vw;
        margin-bottom: 30px;
      }
      &_full-size {
        height: 95vw;
      }
    }
  }
}

html.scale {
  .std-grid {
    &__item {
      &_full-size {
      }
      &:not(.std-grid__item_full-size) {
        @media (min-width: @mobileSSW) {
          margin-bottom: 40px;
        }
      }
    }
  }
}

html.color-white,
html.color-black {
  .std-grid {
    &___item {
      &:not(.std-grid__item_full-size) {
        display: flex;
        flex-direction: column;
      }
      &_full-size {
      }
    }
  }
}

html.color-white {
  .std-grid {
    &__item {
      .border-card-like_black();
    }
  }
}

html.color-black {
  .std-grid {
    &__item {
      .border-card-like_white();
    }
  }
}
