// Widthes
$fullWidthMaxWidth: 2560px;
$wrapperMaxWidthAdjusted: calc($wrapperMaxWidth + 10px);
$wrapperMaxWidth: 1160px;
$laptopW: 1400px;
$tabletW: 1024px;
$hoverW: 1024px;
$mobileLandscapeWBig: 850px;
$mobileLandscapeW: 768px;
$mobileW: 500px;
$mobileSSW: 350px;

// Colors
$colorPrimary: #1074b9;
$colorPrimary2: #00a2dd;
$colorPrimary3: #243970;
$colorBlue: #1878bb;
$colorBeautifulBlue: #0070ba;
$cyan: #30afcf;
$red: #e30613;
$colorLogo_blue: #0069b4;
$colorLogo_red: #e30613;


$blackEye: #161616;
$whiteEye: #fff;

// Transitions
$transFast: all 0.25s ease-in-out;
$transMid: all 0.35s ease-in-out;
$transSlow: all 0.45s ease-in-out;

// Z-indexes
$zHeader: 3;
$zBackTop: 4;
$zMenu: 5;
$zMenuOnTop: 6;
$zOverlay: 7;
$zModal: 8;

@mixin styled-scrollbar() {
  scrollbar-width: thin;
  scrollbar-color: $colorPrimary #fff;

  &::-webkit-scrollbar {
    width: 11px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $colorPrimary;
    border-radius: 6px;
    border: 3px solid #fff;
  }
}

@mixin styled-scrollbar_for-light-theme() {
  scrollbar-color: $blackEye $whiteEye;

  &::-webkit-scrollbar-track {
    background: $whiteEye;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $blackEye;
    border-color: $whiteEye;
  }
}

@mixin styled-scrollbar_for-dark-theme() {
  scrollbar-color: $whiteEye $blackEye;

  &::-webkit-scrollbar-track {
    background: $blackEye;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $whiteEye;
    border-color: $blackEye;
  }
}
