{% extends "../../layouts/users.twig" %}

{% block main %}
  {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Подать заявление ", "btnText": "Проверить статус"} %}

  <section class="section-users-individuals-connection-contract-application">
    <div class="text">
      <p>Заявитель оформляет документ установленного образца, при этом важно, чтобы заявление содержало всю необходимую справочную информацию:</p>

      <ul>
        <li>о видах подключаемых сетей (водоснабжение, водоотведение или оба вида).</li>
        <li>о сроках строительства (реконструкции) объекта и его ввода в эксплуатацию.</li>
        <li>величину нагрузки, которую планируете подключить.</li>
      </ul>

      <p>Уточнение по необходимому объему водопотребления на период строительства также указывается в заявлении. Для нежилых объектов данная информация может быть включена в Разрешение на строительство.</p>

      <ul>
        <li>в случае временного подключения, например, летнего водопровода, заявитель также указывает необходимый объем водопотребления на этот период. При возобновлении услуги абоненту достаточно написать заявление на присоединение к существующей врезке и заключить новый договор на оказание услуг в летний период.</li>
      </ul>

      <hr class="dashed">

      <ol class="doc-info-list">
        <li>
          <a href="#скачать_документ" class="doc-info">
            <div class="doc-info__body">
              <p class="doc-info__title">Форма заявления</p>
              <div class="doc-info__meta">
                <span class="doc-info__meta-item doc-info__name colorCyan">416_fz.doc</span>
                <span class="doc-info__meta-item divider colorCyan">|</span>
                <span class="doc-info__meta-item doc-info__size colorCyan">495 kB</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#скачать_документ" class="doc-info">
            <div class="doc-info__body">
              <p class="doc-info__title">Образец заполнения</p>
              <div class="doc-info__meta">
                <span class="doc-info__meta-item doc-info__name colorCyan">416_fz.doc</span>
                <span class="doc-info__meta-item divider colorCyan">|</span>
                <span class="doc-info__meta-item doc-info__size colorCyan">495 kB</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#скачать_документ" class="doc-info">
            <div class="doc-info__body">
              <p class="doc-info__title">Пример расчета объема водопотребления (водоотведения)</p>
              <div class="doc-info__meta">
                <span class="doc-info__meta-item doc-info__name colorCyan">416_fz.doc</span>
                <span class="doc-info__meta-item divider colorCyan">|</span>
                <span class="doc-info__meta-item doc-info__size colorCyan">495 kB</span>
              </div>
            </div>
          </a>
        </li>
      </ol>

      <hr class="dashed">

      <h5 class="colorCyan">Документы-приложения</h5>

      <p>Приведенный ниже перечень документов является обязательным приложением к заявлению. Заявление не может быть принято, если один из документов отсутствует или оформлен неверно. Проверить соответствие подготовленных документов требованиям законодательства вы можете, отправив сканы для проверки через сайт.</p>

      <ol>
        <li>
          <span class="li-head strong">Копия устава предприятия</span>
          <span class="li-text">Копия устава предприятия, заверенная нотариусом. Оригинал предъявляется при сдаче пакета документов специалисту.</span>
        </li>

        <li>
          <span class="li-head strong">Копия ИНН/КПП</span>
          <span class="li-text">Оригинал предъявляется при сдаче пакета документов специалисту. Индивидуальные Предприниматели дополнительно предоставляют Свидетельство о внесении записи в ЕГРИП. </span>
        </li>

        <li>
          <span class="li-head">Копия свидетельства о государственной регистрации юридического лица</span>
          <span class="li-text">
            Оригинал предъявляется при сдаче пакета документов специалисту.
          </span>
        </li>

        <li>
          <span class="li-head strong">Выписка из протокола общего собрания (собрания участников)</span>
          <span class="li-text">Выписка из протокола общего собрания (собрания участников) или приказ о назначении руководителя, заверенная печатью руководителя</span>
        </li>

        <li>
          <span class="li-head"><strong>Нотариально заверенная копия</strong> одного из нижеперечисленных <strong>правоустанавливающих документов на земельный участок</strong> установленного образца</span>
          <span class="li-text">
            <ul>
              <li>Свидетельство о государственной регистрации права</li>
              <li>Договор аренды/субаренды</li>
              <li>Договор дарения или наследования</li>
              <li>Распоряжение об установление сервитута</li>
              <li>Выписка из ЕГРН (дополнительно при подаче пакета документов предъявляется оригинал, документ можно получить в МФЦ)</li>
            </ul>
            <p>Документ должен содержать информацию о разрешенном использовании земельного участка. Такие сведения можно запросить в муниципальном образовании (копию распоряжения), либо указать дополнительно при получении выписки из градостроительного плана.  </p>
          </span>
        </li>

        <li>
          <span class="li-head strong">Информация о границах земельного участка</span>
          <span class="li-text">
            <p>Информация о границах земельного участка, на котором расположен объект или планируется осуществить строительство. Информация может быть представлена в виде одного из нижеприведенных документов.</p>
            <ul>
              <li>топографическая карта участка в масштабе 1:500 с указанием границ участка и объекта и информацией о предельных параметрах разрешенного строительства (реконструкции) объектов капитального строительства. Такой документ можно получить в любой геодезической организации, имеющий лицензию на осуществление данных работ или <a href="#">закажите услугу у нас.</a></li>
              <li>выписка из градостроительного плана.</li>
              <li>выписка из публичной кадастровой карты.</li>
            </ul>
          </span>
        </li>

        <li>
          <span class="li-head strong">Дополнительные документы</span>
          <span class="li-text">
            <p>Приведенный ниже перечень документов не является обязательным, но их предоставление ускорит проверку пакета документов или позволит вашему доверенному представителю взаимодействовать с водоканалом от вашего имени.</p>
            <ul>
              <li>Доверенность, заверенная нотариусом, в случае, если заявитель представляет интересы собственника.</li>
            </ul>
          </span>
        </li> 
      </ol>

      <hr class="dashed">

      <h5 class="colorCyan">Сформировать пакет документов</h5>

      <form action="" class="form form_flex-vertical form-in-text">
        <div class="input-with-label">
          <label>Наименование организации *</label>
          <input type="text" class="required">
        </div>

        <div class="input-with-label__row input-with-label__row_2">
          <div class="input-with-label">
            <label>ИНН организации *</label>
            <input type="text"  class="required">
          </div>
          <div class="input-with-label">
            <label>КПП *</label>
            <input type="text"  class="required">
          </div>
        </div>

        <div class="input-with-label">
          <label>Фамилия, Имя, Отчество представителя *</label>
          <input type="text" class="required">
        </div>

        <div class="input-with-label__row input-with-label__row_2">
          <div class="input-with-label">
            <label>Контактный телефон *</label>
            <input type="text"  class="required input_phone">
          </div>
          <div class="input-with-label">
            <label>Контактный е-mai *</label>
            <input type="text"  class="required">
          </div>
        </div>

        <h6 class="strong form-title">Адрес нового подключения</h6>

        <div class="input-with-label">
          <label>Район *</label>
          <select id="city-district"  class="required">
            <option></option> 
            <option value="1">- Железнодорожный район</option>
            <option value="2">- Индустриальный район</option>
            <option value="3">- Ленинский район </option>
            <option value="4">- Октябрьский район </option>
            <option value="5">- Центральный район </option>
          </select>
        </div>

        <div class="input-with-label__row input-with-label__row_2">
          <div class="input-with-label">
            <label>Город *</label>
            <input type="text"  class="required">
          </div>
          <div class="input-with-label">
            <label>Населенный пункт *</label>
            <input type="text"  class="required">
          </div>
        </div>

        <div class="input-with-label__row input-with-label__row_2">
          <div class="input-with-label">
            <label>Улица *</label>
            <input type="text"  class="required">
          </div>

          <div class="input-with-label__row input-with-label__row_3">
            <div class="input-with-label">
              <label>Дом *</label>
              <input type="text"  class="required">
            </div>
            <div class="input-with-label">
              <label>Корпус</label>
              <input type="text">
            </div>
            <div class="input-with-label">
              <label>Квартира *</label>
              <input type="text"  class="required">
            </div>
          </div>
        </div>

        <div class="form-titles-block">
          <h6 class="strong form-title">Документы</h6>
          <span class="form-info italic">Допустимые расширения файлов .doc .pdf .jpg .jpeg .rar .zip, до 20 Мб</span>
        </div>
        
        <div class="input-with-label">
          <label>Заявление на получение ТУ *</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
        </div>
        
        <div class="input-with-label">
          <label>Копия устава предприятия *</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
        </div>
        
        <div class="input-with-label">
          <label>Копия ИНН/КПП *</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Удалить"} %}
        </div>
        
        <div class="input-with-label">
          <label>Копия свидетельства о государственной регистрации юридического лица *</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
        </div>
        
        <div class="input-with-label">
          <label>Выписка из протокола общего собрания *</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
        </div>
        
        <div class="input-with-label">
          <label>Нотариально заверенная копия одного из правоустанавливающих документов на земельный участок * </label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
        </div>
        
        <div class="input-with-label">
          <label class="strong">Топографическая карта участка в масштабе 1:500 *</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
          {% include '../../includes/stdEls/checkbox.twig' with {"id": "check3", "text": "У меня нет нужного документа, я хочу заказать топографическую карту у вас"} %}
        </div>
        
        <div class="input-with-label">
          <label class="strong">Баланс водопотребления и водоотведения подключаемого объекта *</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
          {% include '../../includes/stdEls/checkbox.twig' with {"id": "check2", "text": "У меня нет нужного документа, я хочу заказать Баланс водопотребления и водоотведения у вас"} %}
        </div>

        <div class="input-with-label">
          <label>Нотариально заверенная доверенность, если заявитель представляет интересы предприятия или организации *</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
        </div>

        <div class="input-with-label">
          <label>Банковские реквизиты заявителя *</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
        </div>

        <div class="input-with-label">
          <label>Копия кадастрового паспорта земельного участка *</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
        </div>

        <div class="input-with-label">
          <label>Копии писем-согласования владельцев частных сетей *</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
        </div>

        <div class="input-with-label">
          <label>Гарантийное письмо об оплате услуг *</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
        </div>
        
        <div class="input-with-label" data-add-input-file-on-end="true">
          <label class="strong">Дополнительные документы</label>
          {% include '../../includes/stdEls/input_file.twig' with {"btnText": "Обзор"} %}
        </div>

        <hr class="dashed">

        <p class="strong">Важно!</p>

        <p class="italic">Отправляя заявление о получении Технических условий и приложенные документы, вы несете ответственность за достоверность и полноту сведений. Проверка направленной вами информации осуществляется в течение 3 рабочих дней, по итогам проверки вы получите письмо-уведомление на электронную почту, указанную в заявлении. Эта информация также будет отображена в Статусе исполнения заявок.  <br>
        В случае, если ваш пакет документов требует доработки, вы можете предоставить уточнения, дополнительные сведения или документы в течение 20 рабочих дней с момента получения уведомления в рамках этого же заявления. По истечении этого срока заявление аннулируется. <br>
        Если все документы успешно прошли проверку, то в течение 14 рабочих дней специалисты предприятия подготовят Технические условия на основании вашего заявления. </p>

        <hr class="dashed hr_only-top-space-S">

        <div class="form-footer">
          {% include '../../includes/stdEls/checkbox.twig' with {"id": "check1", "text": "Я принимаю <a href='#'>Политику конфиденциальности</a>", "isRequired": true} %}


          <button type="submit" class="btn btn_colorPrimary submit-element">Отправить</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}