{% extends "../../layouts/users.twig" %}

{% block main %}
  <section class="section-users-switch-off">
    {% include "../../includes/stdBlocks/jumbo-img.twig" with {"imgSrc": "../assets/img/users-switch-off-img.png", "subtitle": "Отключения", "title": "Получать информацию"} %}

    <form action="" class="form form_flex-vertical form-in-text" data-isValidate="true">
      <div class="input-with-label__row">
        <div class="input-with-label input-with-label_9">
          <label>Улица *</label>
          <input type="hidden" name="street_id" />
          <select name="street" id="street" data-placeholder="Выберите улицу">
            <option value=""></option>
          </select>
        </div>
        <div class="input-with-label input-with-label_3">
          <label>Номер дома *</label>
          <input type="text" name="house" class="required">
        </div>
      </div>

      <div class="input-with-label">
        <label>E-mail для рассылки *</label>
        <input type="text" name="email" class="required">
      </div>

      <div class="form-footer">
        {% include '../../includes/stdEls/checkbox.twig' with {"id": "check1", "text": "Я соглашаюсь с <a href='#'>условиями работы сайта</a>", "isRequired": true} %}

        <div class="grid_2-cells submit-element">
          <button class="btn btn_colorCyan" data-selected-validation="street, house">Узнать</button>
          <button type="submit" class="btn btn_colorPrimary">Подписаться</button>
        </div>

      </div>
    </form>

    {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Информация", "prependIcon": "../svg/icon-warning-svg.twig", "classes": "page-content__title-cont_with-prepended-icon"} %}

    <div class="text">
      <p>В настоящее время «Росводоканал Барнаул» <strong>не проводит</strong> работ, связанных с отключением холодного водоснабжения по этому адресу. В случае отсутствия холодной воды рекомендуем обратиться в управляющую компанию, обслуживающую ваш дом.</p>
    
    </div>

  </section>
{% endblock %}