{% extends "../../layouts/users.twig" %}

{% block main %}
  {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Подключение к системам водоснабжения и водоотведения"} %}

  <section class="section-users-individuals-acts">
    <div class="text">
      <p>«Росводоканал Барнаул» предоставляет жителям города возможности для подключения к сетям водоснабжения и водоотведения в соответствии с <a href="#">Федеральным законом №416-ФЗ</a> «О водоснабжении и водоотведении» и <a href="#">Постановлениями правительства РФ</a> , регулирующими порядок подключения к сетям водоснабжения и водоотведения. </p>

      <h5 class="colorCyan">Вы можете:</h5>
 
      <ul>
        <li>предварительно получить <a href="#">Технические условия</a> или сразу подать заявление для <a href="#">заключения договора на подключение</a> к сетям водоснабжения и/или водоотведения, предоставив необходимые документы в соответствии с требованиями законодательства.</li>
        <li>отправить для проверки сканы документов и заявлений через соответствующий раздел сайта для предварительной проверки, после чего предоставить оригиналы на <a href="#">встрече со специалистом</a>. </li>
        <li><a href="#">записаться на встречу со специалистом</a> и получить консультацию по подготовке комплекта документов.</li>
      </ul>

      <p>Часть документов может быть подготовлена сотрудниками предприятия, для этого необходимо оформить заявку в соответствующем разделе сайта. </p>

      <article class="jumbo-icons__article">
        <hr class="dashed">
        <div class="jumbo-icons">
          <a href="services_individual_meters_application.html" class="jumbo-icons__item">
            {% include '../../includes/svg/icon-site-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Оформить заявление через сайт</p>
          </a>

          <a href="#modal_arrange-appointment" class="jumbo-icons__item" rel="modal:open">
            {% include '../../includes/svg/woman-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Записаться на встречу</p>
          </a>
        </div>
        <hr class="dashed">
      </article>

      <p>Прием заявлений без предварительной записи в Центре обслуживания абонентов пр. Калинина, 116  с 8.00 до 12.00 и с 13.00 до 17.00, тел. 28-29-70.</p>
    </div>
  </section>

  <div id="modal_arrange-appointment" class="modal modal_arrange-appointment">
    <form action="" class="form form_arrange-appointment {{ classes }}">
      <h6 class="form-title form-title_space-bottom colorPrimary">Запись на встречу со специалистом</h6>

      <div class="input-with-label">
        <label>Фамилия Имя Отчество *</label>
        <input type="text" class="required input_grey"></input>
      </div>

      <div class="input-with-label">
        <label>Ваш телефон *</label>
        <input type="text" class="required input_grey input_phone"></input>
      </div>

      <div class="input-with-label">
        <label>Ваш е-mail *</label>
        <input type="text" class="required input_grey"></input>
      </div>

      <div class="input-with-label">
        <label>Дата *</label>
        <div class="input-cont">
          <input type='text' class="datepicker-here input_grey" autocomplete="off"  class="required"/>
          {% include '../../includes/svg/icon-calendar-svg.twig' with {"classes": "input__icon"} %}
        </div>
      </div>

      <div class="input-with-label">
        <label>Время</label>
        <select id="time" class="required" disabled="true">
          <option></option>
          <option value="1">8:00 - 9:00</option>
          <option value="2">9:00 - 10:00</option>
          <option value="3">11:00 - 12:00</option>
          <option value="4" disabled="disabled">13:00 - 14:00</option>
          <option value="5" disabled="disabled">14:00 - 15:00</option>
          <option value="7">15:00 - 16:00</option>
          <option value="8" disabled="disabled">16:00 - 17:00</option>
        </select>
      </div>

      <div class="form-footer form-footer_vertical">
        <p class="form-footer__p">Записываясь на встречу, я соглашаюсь на обработку <a href="#">персональных данных</a>, в соответствии c политикой конфиденциальности.</p>
        <button type="submit" class="btn btn_colorPrimary mr-auto ">Отправить</button>
      </div>
    </form>
  </div>

{% endblock %}