{% extends "../../layouts/users.twig" %}

{% block main %}
  {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Образцы документов"} %}

  <section class="section-users-connection-docs">
    <div class="text"> 
      <p class="section-users-connection-docs__firstP">Здесь мы отобрали образцы документов, которые помогут вам при подготовке заявлений, обращений, договоров, касающихся оказания услуг водоснабжения и водоотведения, а также нетарифных сервисов «Росводоканал Барнаул».</p>
      
      <h5 class="colorCyan section-users-connection-docs__first-title">Список документов</h5>

      <hr class="dashed hr_space-S">

      <ol class="doc-info-not-list">
        {% for doc in docs %}
          <li>
            <a href="#скачать_документ" class="doc-info">
              <div class="doc-info__body">
                <p class="doc-info__title">{{doc.title}}</p>
                <div class="doc-info__meta">
                  <span class="doc-info__meta-item doc-info__name colorCyan">{{doc.name}}</span>
                  <span class="doc-info__meta-item divider colorCyan">|</span>
                  <span class="doc-info__meta-item doc-info__size colorCyan">{{doc.size}}</span>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ol>
    </div>
  </section>
{% endblock %}