{% extends "../../layouts/users.twig" %}

{% block main %}
  <section class="section-contacts">
    {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Заявка" } %}

    <article id="connection-map" class="map map_contacts"></article>

    <hr class="dashed">

    <div class="contacts-single">
      <p class="contacts-single__title">Центр обслуживания абонентов </p>
      <p class="contacts-single__subtitle">Отдел подключения новых абонентов</p>
      {% include "../../includes/contacts-blocks/contacts-block.twig" with {"address": "656037, г. Барнаул, проспект Калинина, 116", "addressLink": "https://yandex.ru/maps/?pt=83.744140,53.388919&z=17&l=map", "phone": "+7 (3852) 28-29-10"} %}
    </div>
  </section>
{% endblock %}

{% block indvidualPageJS %}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=8e7ca4bf-0e6c-4f83-a757-531abebea7b5&lang=ru_RU" type="text/javascript"></script>
{% endblock %}