{% extends "../../layouts/users.twig" %}

{% block main %}
  <section class="section-users-questions">
    {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Частые вопросы"} %}
    <article class="text">
      <form action="" class="form form_flex-vertical form-in-text">
        <div class="input-with-label__row input-with-label__row_2">
          <div class="input-with-label">
            <label>Ваше имя *</label>
            <input type="text"  class="required">
          </div>
          <div class="input-with-label">
            <label>Телефон *</label>
            <input type="text"  class="required">
          </div>
        </div>

        <div class="input-with-label__row input-with-label__row_2">
          <div class="input-with-label">
            <label>Название организации или адрес *</label>
            <input type="text"  class="required">
          </div>

          <div class="input-with-label">
            <label>Email *</label>
            <input type="text"  class="required">
          </div>
        </div>

        <div class="input-with-label input-with-label_extra-mb">
          <label class="strong">Тема *</label>
          <select class="select-item_general select-item_in-text">
            <option value="1">Услуги на сетях водоснабжения и водоотведения</option>
            <option value="2">Услуги вне сетей</option>
            <option value="3">Сетевые дела</option>
          </select>
        </div>

        <div class="input-with-label">
          <label>Ваш вопрос *</label>
          <textarea  class="required"></textarea>
        </div>

        <div class="form-footer">
          <div class="input-with-label">
            <label>Предпочтительная форма ответа *</label>
            <select class="select-item_general select-item_in-text">
              <option value="1">Ответа не требует</option>
              <option value="2">Услуги вне сетей</option>
              <option value="3">Сетевые дела</option>
            </select>
          </div>

          {% include '../../includes/stdEls/checkbox.twig' with {"id": "check1", "text": "Я принимаю <a href='#'>Политику конфиденциальности</a>", "isRequired": true} %}

          <button type="submit" class="btn btn_colorPrimary submit-element">Подписаться</button>
        </div>
      </form>

      <hr class="dashed">

      <p>Благодарим вас за обращение. Наши специалисты внимательно относятся к сообщениям пользователей сайта и обязательно ответят на ваше письмо.</p>
    </article>
  </section>
{% endblock %}