.border-section-like_black(@border : 2px) {
  border-top: @border solid #000;
  border-bottom: @border solid #000;
}
.border-section-like_white(@border : 2px) {
  border-top: @border solid #fff;
  border-bottom: @border solid #fff;
}

.border-card-like_black(@border : 2px) {
  border: @border solid #000;
}
.border-card-like_white(@border : 2px) {
  border: @border solid #fff;
}

.styled-scrollbar() {
  scrollbar-width: thin;
  scrollbar-color: @colorPrimary #fff;

  &::-webkit-scrollbar {
    width: 11px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @colorPrimary;
    border-radius: 6px;
    border: 3px solid #fff;
  }
}

.styled-scrollbar_for-light-theme() {
  scrollbar-color: @blackEye @whiteEye;

  &::-webkit-scrollbar-track {
    background: @whiteEye;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @blackEye;
    border-color: @whiteEye;
  }
}

.styled-scrollbar_for-dark-theme() {
  scrollbar-color: @whiteEye @blackEye;

  &::-webkit-scrollbar-track {
    background: @blackEye;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @whiteEye;
    border-color: @blackEye;
  }
}
