.border-section-like_black(@border : 2px) {
  border-top: @border solid #000;
  border-bottom: @border solid #000;
}
.border-section-like_white(@border : 2px) {
  border-top: @border solid #fff;
  border-bottom: @border solid #fff;
}

.border-card-like_black(@border : 2px) {
  border: @border solid #000;
}
.border-card-like_white(@border : 2px) {
  border: @border solid #fff;
}
