@import './apply-overlay.less';
@import './img-as-bg.less';
@import './card.less';

.toUpperCase {
  text-transform: uppercase !important;
}

.strong {
  font-weight: 600 !important;
}

.ul_rvk-logos {
  li {
    position: relative;
    padding-left: 50px;
    &:before {
      content: '';
      position: absolute;
      background: url('../../img/logo_white.svg');
      left: 0;
      top: 0;
      width: 21px;
      height: 29px;
      line-height: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
