.accept-cookies {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 5;
  background: @colorPrimary;
  padding: 15px;
  transition: @transFast;

  &__inner-cont {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
  }

  &__btn-row {
    display: flex;
    margin-right: auto;
    .btn {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__p {
    color: #fff;
    font-size: @font-14;
    margin-left: auto;
    margin-right: 8px;
    transition: @transFast;
  }
}

@media (max-width: @mobileLandscapeW) {
  .accept-cookies {
    &__inner-cont {
      flex-direction: column;
      align-items: flex-start;
    }
    &__p {
      margin-bottom: 15px;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

@media (max-width: @mobileW) {
  .accept-cookies {
    padding: 12px;
    &__p {
      font-size: @font-12;
      margin-bottom: 10px;
    }
    &__btn-row {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

html.color-white {
  .accept-cookies {
    background: @whiteEye;
    .border-section-like_black();
    &__p {
      color: @blackEye;
    }
  }
}

html.color-black {
  .accept-cookies {
    background: @blackEye;
    .border-section-like_white();
    &__p {
      color: @whiteEye;
    }
  }
}
