{% extends "../layouts/default.twig" %}

{% block content %}
  {% include "../includes/bage.twig"%}

  <div class="page-guts wrapper">
    <div class="page-nav">
      {% include "../includes/sidemenu.twig" %}

      {% block undersidemenu %}

      {% endblock %}
    </div>

    <main class="page-content">
      {% block main %}

      {% endblock %}
    </main>
  </div>

{% endblock %}