html {
  font-size: 14px;
  &.color-white {
    filter: grayscale(1);
  }
  &.color-black {
    filter: grayscale(1);
    body {
      background: #000;
    }
  }
  &.scale-1 {
    font-size: 15px;
  }
  &.scale-2 {
    font-size: 16px;
  }
  &.scale-3 {
    font-size: 17px;
  }
}
