html.color-white {
  .eye-version-panel {
    .border-section-like_black();
  }
}

html.color-black {
  .eye-version-panel {
    .border-section-like_white();
  }
}
.eye-version-panel {
  display: none;
  padding-top: 28px;
  padding-bottom: 28px;
  background: #ededed;
  * {
    user-select: none;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.eye-version-item {
  display: flex;
  align-items: center;

  &_back {
    cursor: pointer;
    &__text {
      margin-right: 10px;
    }
    .icon-back-svg {
      transition: @transFast;
    }
    @media (min-width: @hoverW) {
      &:hover {
        .icon-back-svg {
          transform: rotate(-30deg) translateY(6px) translateX(-2px);
        }
      }
    }
  }
}
.eye-version__color_text,
.eye-version__scale_text {
  font-size: @font-15;
  font-weight: 700;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.eye-version__colors {
  display: flex;
  align-items: center;
}
.eye-version__color {
  position: relative;
  background: white;
  border: 2px solid #000000;
  border-radius: 7px;
  width: 40px;
  height: 40px;
  font-weight: 700;
  text-align: center;
  color: #000 !important;
  line-height: 35px;
  box-sizing: border-box;
  font-size: 25px !important;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.eye-version__color:not(.m--current):hover {
  text-decoration: underline;
}
.eye-version__color[data-color='black'] {
  background: black;
  color: white !important;
  border-color: black;
}
.eye-version__color.m--current {
  cursor: default;
  pointer-events: none;
}
.eye-version__color.m--current:after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  bottom: -10px;
  border-radius: 50%;
  left: 50%;
  margin-left: -2px;
  background: #000;
}
.eye-version__scales {
  display: flex;
  align-items: center;
  line-height: 20px;
}
.eye-version__scale {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  font-weight: bold;
  color: #000 !important;
  line-height: 1em;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  line-height: 36px;
  text-align: center;
}
.eye-version__scale:not(.m--current):hover {
  text-decoration: underline;
}
.eye-version__scale.m--current {
  border: 2px solid #000000;
  border-radius: 7px;
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  background: #fff;
}
.eye-version__scale.m--current:after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  bottom: -10px;
  border-radius: 50%;
  left: 50%;
  margin-left: -2px;
  background: #000;
}
.eye-version__scale[data-scale='1'] {
  font-size: 20px !important;
}
.eye-version__scale[data-scale='2'] {
  font-size: 25px !important;
}
.eye-version__scale[data-scale='3'] {
  font-size: 30px !important;
}
.eye-version__back {
  font-size: 15px !important;
  font-weight: bold;
  color: #000 !important;
  float: right;
  line-height: 33px;
  @media (min-width: @hoverW) {
    &:hover {
    }
  }
}
