.questions {
  &__list {

    padding-top: 8px;
    //padding-bottom: 39px;
    //border-bottom: 1px solid #ececec;
    padding-left: 13px;
    & ol {
      counter-reset: item;
      margin: 0;
      li {
        position: relative;
        margin: 0;
        margin-bottom: 32px;
        padding-bottom: 28px;
        padding-left: 26px;

        cursor: pointer;
        border-bottom: 1px dashed #bdc3c6;
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }
        &:before {
          content: counter(item) '.';
          counter-increment: item;
          left: auto;
          right: 97%;
          top: -3px;
          font-size: 17px;
          font-weight: 600;
          position: absolute;
          color: @navy;
        }
      }
    }
    & .title {
      font-size: 17px;
      font-weight: 300;
      margin: 0;
    }
    & .open-answer {
      font-size: 13px;
      color: @blue;
      text-decoration: underline;
      position: relative;
      padding-right: 20px;
      margin-top: 0;
      line-height: 14px;
      display: inline-block;
      transition: 0.5s;
      &:after {
        content: url("../img/arr_bb.png");
        position: absolute;
        right: 0px;
        top: -1px;
      }
      &.open:after {
        transform: rotate(180deg);
      }
    }
    & .question {
      font-size: 17px;
      margin-top: 0;
      margin-bottom: 4px;
    }
    & .answer {
      display: none;
      margin: 0;
      padding-top: 5px;
      margin-top: 20px;
      margin-bottom: 15px;
      position: relative;
      &:before {
        width: 40px;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background: @blue;
      }
      & p {
        font-size: 15px;
        line-height: 25px;
        color: @blue;
      }
      & p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__form-list {
    margin-bottom: 80px;
    & > li {
      padding-top: 18px;
      margin-bottom: 12px;
      padding-bottom: 18px;
      cursor: pointer;
      border-bottom: 1px solid #bdc3c6;
    }
    .question {
      position: relative;
      border-bottom: 1px solid #bdc3c6;
      &.open span.answers-count:after {
        transform: rotate(180deg);top:2px;
      }
      & p {
        font-size: 15px;
        font-weight: 600;
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 16px;
        margin-top: 18px;
      }
      & span.answers-count {
        top: 4px;
        right: 0;
        font-size: 15px;
        color: @blue;
        position: absolute;
        padding-right: 20px;
        margin-top: 0;
        line-height: 14px;
        display: inline-block;
        transition: 0.5s;
        &:after {
          content: url("../img/arr_bb.png");
          position: absolute;
          right: 0px;
          top: -1px;
        }

      }
    }
    .hidden-block
    {
      display: none;
      border-bottom: 1px solid #bdc3c6;
      padding-bottom: 20px;
      &:after
      {
        content: '';
        display: table;
        clear: both;
      }
    }
    .answer
    {
      padding-top: 40px;
      position: relative;
      &:after
      {
        content: '';
        display: table;
        clear: both;
      }
    }
    .message {
      width: 87%;
      position: relative;

      &:after
      {
        content: '';
        display: table;
        clear: both;
      }
      & .top {
        position: relative;
        padding-left: 20px;
        white-space: nowrap;
        &:before {
          content: '•';
          color: @light-blue;
          left: 4px;
          top:2px;
          font-size: 16px;
          position: absolute;
        }
        .name {
          font-size: 13px;
          line-height: 15px;
          font-weight: 600;
          color: @light-blue;
          display: inline-block;

        }
        .date {
          font-size: 13px;
          color: #c4c4c4;
          display: inline-block;
          line-height: 15px;
          margin-left: 7px;
          padding-left: 10px;
          border-left: 1px solid #c4c4c4;
        }

      }
      & .mess-content {
        padding: 18px 21px;
        background: @light-blue;
        position: relative;
        color: white;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 26px;
        &:before
        {
          content: '';
          display: block;
          position: absolute;
          top: -3px;
          left: 19px;
          background: @light-blue;
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
        }
        & p {
          color: white;
          margin-top:0;
          font-size: 15px;
        }
      }
      &.question-message {

      }
      &.answer-message {
        & .mess-content:before
        {
          left: auto;
          right: 18px;
          background: @cyan;
        }
        & .top {
          text-align: right;
          padding-right: 20px;
          &:before {
            right: 4px;
            left: auto;
          }
          .date {
            margin-left: 0;
            padding-left: 0;
            border-right: 1px solid #c4c4c4;
            border-left: none;
            margin-right: 7px;
            padding-right: 11px;
          }
        }
        float: right;
        & .mess-content {
          background: @cyan;
        }
        .name {
          color: @cyan;
        }
      }
    }
    .answer-form__block
    {
      width: 87%;
      position: relative;
      float: right;
      border-top: 1px dashed #bdc3c6;
      margin-top: 10px;
      padding-top: 26px;
      & textarea
      {
        background: #f1f3f4;
        border: none;
        height: 110px;
        margin-top: 9px;
        margin-bottom: 24px;
      }
      & .form__btn
      {
        background: @light-blue;
        border: none;
      }
      & .top {
        position: relative;
        padding-right: 20px;
        text-align: right;
        &:before {
          content: '•';
          color: @navy;
          right: 4px;
          top:2px;
          font-size: 16px;
          position: absolute;
        }
        .name {
          font-size: 13px;
          line-height: 15px;
          font-weight: 600;
          color: @navy;
          display: inline-block;

        }
        .date {
          font-size: 13px;
          color: #c4c4c4;
          display: inline-block;
          line-height: 15px;
          border-right: 1px solid #c4c4c4;
          border-left: none;
          margin-right: 7px;
          padding-right: 11px;
        }

      }
    }
  }
}

.qa-h2
{
  display: block;
  color: @navy;
  font-size: 30px;
  line-height: 35px;
  border-bottom: 2px solid @navy;
  padding-bottom: 19px;
  margin-top: 7px;
}

.docs {
  &-h3 {
    margin-bottom: 14px;
    margin-top: 49px;
  }
  &__list {

    padding-bottom: 39px;
    border-top: 1px dashed #bdc3c6;
    & ol {
      counter-reset: item;
      margin: 0;
      li {
        position: relative;
        margin: 0;
        margin-bottom: 15px;
        padding-bottom: 18px;
        padding-left: 28px;

        cursor: pointer;
        border-bottom: 1px dashed #bdc3c6;
        &:last-child {
          border-bottom: none;
        }
        &:before {
          content: counter(item) '.';
          counter-increment: item;
          left: 3px;
          top: 2px;
          font-size: 17px;
          font-weight: 600;
          position: absolute;
          color: @navy;
        }
      }
    }
    & .filename {
      display: inline-block;
      position: relative;
      font-size: 13px;
      line-height: 20px;
      color: @cyan;
      font-weight: 300;
      & span {
        margin: 0 7px;
        display: inline-block;
      }
    }
    & .name {
      padding-top: 5px;
      margin-top: 16px;
      margin-bottom: 5px;
      font-size: 17px;
      line-height: 25px;
      & span {
        font-weight: 600;
      }
    }
  }
}