#{$prefix} {
  //  Light theme
  &#{$prefix}--light {
    color: #fff;
    background: $colorPrimary2;
  }
}

html.color-white {
  #{$prefix} {
    //  Light theme
    &#{$prefix}--light {
      background: #fff;
    }
  }
}

html.color-black {
  #{$prefix} {
    //  Light theme
    &#{$prefix}--light {
      background: #000;
    }
  }
}
