<div id="eye-version-btn" class="eye-version">
  {% include '../svg/icon-eye-svg.twig' %}
  <span class="eye-version__text eye-version__spez">Версия для слабовидящих</span>
  <span class="eye-version__text eye-version__std">Обычная версия</span>
</div>