<article class="info-hot {{ classes }}">
  <div class="info-hot__header">
    <p class="info-hot__subtitle">Горячая линия безопасности</p>
    <a href="tel:88002501747" class="info-hot__phone">8-800-250-17-47</a>
    <a href="mailto:etika@rosvodokanal.ru" class="info-hot__email">etika@rosvodokanal.ru</a>
  </div>

  <div class="info-hot__divider"></div>

  <div class="info-hot__footer">
    <p class="info-hot__text">
      На условиях анонимности, сообщите о фактах хищений, злоупотреблений, мошенничества,
      а также о других нарушениях и негативных событиях.
    </p>
    <a href="#" class="btn btn_trans">Подробнее</a>
  </div>
</article>