<div class="search-menu">
  <input type="text" class="search__input">
  <a href="#" class="search-icon">
    <svg class="icon-search-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30"
      style="enable-background:new 0 0 30 30;" xml:space="preserve">
      <line class="st1" x1="18.5" y1="18.5" x2="22" y2="22" />
      <circle class="st1" cx="14" cy="14" r="6" />
    </svg>
  </a>
</div>