<div class="pagination pagination_page">
  <div class="pagination_page__cont">
    <a href="#" class="pagination__arrow pagination__arrow_left">
      {% include '../svg/pagination-arrow_left.twig' with {"classes": "pagination__icon"} %}
    </a>
    <a href="pressroom_news_list.html" class="pagination_page__link">К списку новостей</a>
    <a href="#" class="pagination__arrow pagination__arrow_right">
      {% include '../svg/pagination-arrow_right.twig' with {"classes": "pagination__icon"} %}
    </a>
  </div>
</div>