.doc-info {
  display: flex;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px dashed #e0e0e0;

  &__icon {
    margin-right: 15px;
  }
  & &__title {
    font-size: @font-17;
    font-weight: 700;
    line-height: @font-25;
    margin-bottom: 10px;
  }
  &__meta {
    &-item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
