.page-content {
  width: 65.9%;
  z-index: 2;

  &__title {
    &-cont {
      &_with-underline {
        margin-top: 5px;
        padding-bottom: 20px;
        border-bottom: 2px solid @colorPrimary;
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: @wrapperMaxWidth) {
  .page-content {
    width: 100%;
  }
}

html.color-white {
  .page-content {
    &__title {
      &-cont {
        &_with-underline {
          border-color: @blackEye;
        }
      }
    }
  }
}

html.color-black {
  .page-content {
    &__title {
      &-cont {
        &_with-underline {
          border-color: @whiteEye;
        }
      }
    }
  }
}
