.page-content {
  width: 65.9%;
  z-index: 2;

  &__title {
    &-cont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .btn,
      .page-content__title {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .page-content__title {
        margin-right: 5px;
      }
      &_with-underline {
        padding-bottom: 10px;
        border-bottom: 2px solid @colorPrimary;
        margin-bottom: 25px;
      }
      &_without-spacing {
        margin-bottom: 0px;
        padding-bottom: 20px;
      }
    }
  }
}

@media (max-width: @wrapperMaxWidth) {
  .page-content {
    width: 100%;
  }
}

@media (max-width: @mobileW) {
  .page-content {
    &__title {
      &-cont {
        &_with-underline {
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
        &_without-spacing {
          padding-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: @mobileSSW) {
  .page-content {
    &__title {
      &-cont {
        .btn {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

html.color-white {
  .page-content {
    &__title {
      &-cont {
        &_with-underline {
          border-color: @blackEye;
        }
      }
    }
  }
}

html.color-black {
  .page-content {
    &__title {
      &-cont {
        &_with-underline {
          border-color: @whiteEye;
        }
      }
    }
  }
}
