.rows-with-icons {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    &:first-child {
      border-top: 1px solid #bdc3c6;
    }
    &:not(:last-child) {

      border-bottom: 1px dashed #bdc3c6;
      margin-bottom: 0;
    }
    svg.woman-svg {
      width: 48px;
      height: 58px;
    }
  }
  &__icon-cont {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    .analyze-with-magnifier-svg {
      margin-left: auto;
    }
  }
  
}
