.section-news-detail {
  .text {
    p {
      margin-bottom: 27px;
    }
  }
  .pagination_page {
    margin-top: 85px;
  }
  & &__title {
    margin-top: 0;
    font-weight: 600;
  }
}

@media (max-width: @tabletW) {
  .section-news-detail {
    .pagination_page {
      margin-top: 55px;
    }
  }
}

@media (max-width: @mobileLandscapeWBig) {
  .section-news-detail {
    .pagination_page {
      margin-top: 35px;
    }
  }
}

@media (max-width: @mobileLandscapeW) {
  .section-news-detail {
    .pagination_page {
      margin-top: 30px;
    }
  }
}

@media (max-width: @mobileW) {
  .section-news-detail {
    .pagination_page {
      margin-top: 20px;
    }
  }
}

@media (max-width: @mobileSSW) {
  .section-news-detail {
    .pagination_page {
      margin-top: 15px;
    }
  }
}
