.section-text-page {
  .text {
    p {
      font-size: @font-17;
      line-height: @font-25;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: @mobileLandscapeW) {
  .section-text-page {
    .text {
      p {
        font-size: @font-16;
        line-height: @font-24;
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: @mobileW) {
  .section-text-page {
    .text {
      p {
        font-size: @font-15;
        line-height: @font-23;
        margin-bottom: 15px;
      }
    }
  }
}
