.subscribe-to-news {
  position: relative;
  border: 1px solid #dce4e8;
  background: #fff;
  padding: 28px;
  border-radius: 5px;
  z-index: 2;

  p {
    margin-top: 10px;
    margin-bottom: 0;

    color: @invalidBorderColor;
    font-size: 14px;
    line-height: 1;
  }
}

html.scale {
  .subscribe-to-news {
    padding: 15px;
  }
}

html.color-white {
  .subscribe-to-news {
    .border-card-like_black();
    background: @whiteEye;
  }
}

html.color-black {
  .subscribe-to-news {
    .border-card-like_white();
    background: @blackEye;
  }
}
