{% extends "../../layouts/default.twig" %}

{% block content %}
<section class="section-std section-std_0 section_askedo">
  <img class="askedo__bg-img" src="../../assets/img/city.png" alt="">
  <img class="askedo__entertainment-img" src="../../assets/img/dog.png" alt="">

  <div class="wrapper askedo-wrapper">

    <div class="askedo-item askedo-item_left">
      <h4 class="askedo__title strong">Скоро в Барнауле!</h4>
    </div>

    <div class="askedo-item askedo-item_right">
      <h4 class="askedo__title strong">Ваш надежный помощник в быту </h4>

      <div class="askedo-item-inner-content">
        <img class="" src="../../assets/img/askedoLogo_big.png" alt="">
        
        <ul class="font-17 ul_rvk-logos ul_rvk-logos-blue ul_rvk-logos-small strong colorPrimary3">
          <li>Новый проект «Росводоканала» по развитию цифровых сервисов для клиентов </li>
          <li>Более 120 различных услуг для дома <br> и семьи</li>
          <li>Выбор исполнителя на основе объективного рейтинга пользователей</li>
          <li>Конкурентная стоимость услуг</li>
          <li>Профессионалы, гарантирующие качество и результат</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}