{% extends "../../layouts/services.twig" %}

{% block main %}
  {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Лаборатория"} %}

  <section class="section-services-type-lab">
    <div class="text">
      <p>Человек ежедневно потребляет воду и ее состав очень важен для здоровья. Убедиться в отсутствии вредных веществ и выяснить химический состав поможет анализ воды. Для промышленных предприятий анализ сточных вод позволяет сделать вывод об исправности и эффективности очистных сооружений. Лаборатория «Росводоканал Барнаул» проводит комплекс лабораторных исследований воды из источников, а также анализ состава стоков.</p>
      <article class="jumbo-icons__article">
        <hr class="dashed">
        <div class="jumbo-icons">
          <a href="services_type_meters_application.html" class="jumbo-icons__item">
            {% include '../../includes/svg/icon-drops-with-flask-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Лабораторные исследования воды</p>
          </a>

          <a href="services_type_meters_application.html" class="jumbo-icons__item">
            {% include '../../includes/svg/icon-pipe-with-flask-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Лабораторные исследования стоков </p>
          </a>
        </div>
        <hr class="dashed">
        <a href="#" class="btn btn_colorPrimary mx-auto">Прочие услуги раздела</a>
        <hr class="dashed">
      </article>
      <p>Человек ежедневно потребляет воду и ее состав очень важен для здоровья. Убедиться в отсутствии вредных веществ и выяснить химический состав поможет анализ воды. Для промышленных предприятий анализ сточных вод позволяет сделать вывод об исправности и эффективности очистных сооружений.</p>
    </div>
  </section>
{% endblock %}