{% extends "../../layouts/services.twig" %}

{% block main %}
  {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Сантехнические услуги "} %}

  <section class="section-services-type-networks">
    <div class="text">
      <p>Еще недавно «Росводоканал Барнаул» обслуживал сети только до стены дома, сегодня компания оказывает услуги на внутридомовых сетях. Все работы специалисты выполняют качественно, с соблюдением требуемых стандартов.</p>

      <article class="jumbo-icons__article">
        <hr class="dashed">
        <div class="jumbo-icons">
          <a href="services_type_meters_application.html" class="jumbo-icons__item">
            {% include '../../includes/svg/icon-sink-pipe-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Ограничение и возобновление приема сточных вод на внутридомовых сетях</p>
          </a>
        </div>
        <hr class="dashed">
        <a href="#" class="btn btn_colorPrimary mx-auto">Прочие услуги раздела</a>
        <hr class="dashed">
      </article>
      
      <p>Еще недавно «Росводоканал Барнаул» обслуживал сети только до стены дома, сегодня компания оказывает услуги на внутридомовых сетях. Все работы специалисты выполняют качественно, с соблюдением требуемых стандартов.</p>
    </div>
  </section>
{% endblock %}