{% extends "../../layouts/services.twig" %}

{% block main %}
  {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Проектирование и строительство"} %}

  <section class="section-services-type-networks">
    <div class="text">
      <p>«Росводоканал Барнаул» предлагает заказ услуг по проектированию и строительству сетей водоснабжения и водоотведения. Предприятие и наши партнеры применяют только проверенные материалы, используют лучшие отечественные и зарубежные отраслевые технологии.</p>

      <article class="jumbo-icons__article">
        <hr class="dashed">
        <div class="jumbo-icons">
          <a href="services_individual_meters_application.html" class="jumbo-icons__item">
            {% include '../../includes/svg/icon-drops-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Проектирование водопровода и канализации</p>
          </a>

          <a href="services_individual_meters_application.html" class="jumbo-icons__item">
            {% include '../../includes/svg/icon-valve-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Строительство сетей водоснабжения и водоотведения</p>
          </a>

          <a href="services_individual_meters_application.html" class="jumbo-icons__item">
          {% include '../../includes/svg/icon-waterdevice-svg.twig' with {'classes': 'jumbo-icons__icon'} %}
            <p class="jumbo-icons__p">Проектирование узлов учета</p>
          </a>
        </div>
        <hr class="dashed">
        <a href="#" class="btn btn_colorPrimary mx-auto">Прочие услуги раздела</a>
        <hr class="dashed">
      </article>
      
      <p>Проекты разрабатывается индивидуально с применением современных технических решений в соответствии с требованиями экологических и строительных нормативов.</p>

      <p>«Росводоканал Барнаул» предлагает заказ услуг по проектированию и строительству сетей водоснабжения и водоотведения. Предприятие и наши партнеры применяют только проверенные материалы, используют лучшие отечественные и зарубежные отраслевые технологии.</p>
    </div>
  </section>
{% endblock %}