{% extends "../../layouts/services.twig" %}

{% block main %}
  {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Услуги на сетях водоснабжения и водоотведения"} %}

  <section class="section-services-type-networks">
    <div class="text">
      <p>«Росводоканал Барнаул» обладает большим опытом эксплуатации и обслуживания сетей водоснабжения и водоотведения. Специалисты и партнеры предприятия выполнят спектр работ по обследованию сетей, их очистке и промывке.</p>

      <article class="jumbo-icons__article">
        <hr class="dashed">
        <div class="jumbo-icons">
          <a href="services_type_meters_application.html" class="jumbo-icons__item">
            {% include '../../includes/svg/icon-pipe-with-bubbles-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Промывка систем водоснабжения и водоотведения </p>
          </a>

          <a href="services_type_meters_application.html" class="jumbo-icons__item">
            {% include '../../includes/svg/icon-pipe-with-magnifier-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Обследование сетей </p>
          </a>

          <a href="services_type_meters_application.html" class="jumbo-icons__item">
            {% include '../../includes/svg/icon-pipe-with-drop-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Обслуживание водопроводных и канализационных сетей</p>
          </a>

          <a href="services_type_meters_application.html" class="jumbo-icons__item">
            {% include '../../includes/svg/icon-tool-on-manhole-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Ремонт  и чистка колодцев</p>
          </a>
        </div>
        <hr class="dashed">
        <a href="#" class="btn btn_colorPrimary mx-auto">Прочие услуги раздела</a>
        <hr class="dashed">
      </article>
      
      <p>«Росводоканал Барнаул» обладает большим опытом эксплуатации и обслуживания сетей водоснабжения и водоотведения. Специалисты и партнеры предприятия выполнят спектр работ по обследованию сетей, их очистке и промывке.</p>
    </div>
  </section>
{% endblock %}