.select2-dropdown {
  background: white;
  border: 1px solid #dce4e8;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.13);
  box-sizing: border-box;

  display: block;

  position: absolute;
  left: -100000px;

  width: 100%;

  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;

  user-select: none;
  -webkit-user-select: none;

  &[aria-selected] {
    cursor: pointer;
  }
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;

  .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  &.select2-search--hide {
    display: none;
  }
}

// .select-item_in-text {
//   .select2-dropdown {
//     background: #f1f3f4;
//     border-color: #dce4e8;
//   }
// }

html.color-white,
html.color-black {
  .select2-dropdown {
    box-shadow: none;
  }
}

html.color-white {
  .select2-dropdown {
    background: $whiteEye;
    border-color: $blackEye;
  }
}

html.color-black {
  .select2-dropdown {
    background: $blackEye;
    border-color: $whiteEye;
  }
}
