@import 'info-slider.less';

.section-info {
  position: relative;
  z-index: 2;
}

.info {
  &__row {
    .row-flex();
  }
  &__item {
    .col();
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    &_left {
      .size(8);
      background: #f4f4f4;
    border-radius: 5px;

    }
    &_right {
      .size(4);
    }
    .slick-dots {
      bottom: 30px;
      padding-right: 130px;
      li {
        margin-left: 0;
        margin-right: 0;
        button:before {
          font-size: @font-6;
          background: @colorPrimary2;
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: @wrapperMaxWidth) {
  .info {
    &__item {

      .slick-dots {
        bottom: 20px;
      }
    }
  }
}

@media (max-width: @tabletW) {
  .info {
    &__row {
      flex-wrap: wrap;
    }
    &__item {
      margin-top: 15px;
      margin-bottom: 15px;
      &_left {
        .size(12);
      }

      &_right {
        .size(12);
        margin-left: auto;
        margin-right: auto;
      }

      .slick-dots {
        padding-right: 0;
      }
    }
  }
}

html.scale {
  .info {
    &__item {
      .slick-dots {
        bottom: 20px;
      }
    }
  }
}
html.color-white {
  .info {
    &__item {
      &_left {
        background: @whiteEye;
      .border-card-like_black();
      }
      .slick-dots {
        li {
          button:before {
            color: @blackEye;
          }
          &.slick-active {
            button:before {
              color: @blackEye;
            }
          }
        }
      }
    }
  }
}

html.color-black {
  .info {
    &__item {
      &_left {
        .border-card-like_white();
        background: @blackEye;
      }
      .slick-dots {
        li {
          button:before {
            background: @whiteEye;
          }
          &.slick-active {
            button:before {
              border-color: @whiteEye;
            }
          }
        }
      }
    }
  }
}
