{% extends "../../layouts/about.twig" %}

{% block main %}
  <section class="section-about-development-ecology">
    {% include "../../includes/jumbo-img.twig" with {"imgSrc": "./img/about-development-ecology-img.png", "title": "Сохранность водных объектов", "subtitle": "Экологическая деятельность"} %}
    <article class="text">
      <p>Экологическая деятельность «Росводоканал Барнаул» направлена на комплексный подход  в поиске и реализации решений по сохранности водных объектов, рациональному использованию природных ресурсов, улучшение экологического ландшафта Алтайского края.</p>

      <div class="big-numbers__block">
        <div class="inText-row big-numbers">
          <div class="inText-row__left big-numbers__left">
            <p class="big-numbers__number">88</p>
            <p class="big-numbers__subtitle italic">Расходы на природоохранную деятельность</p>
          </div>
          <div class="intext-row__right big-numbers__right">
            <p class="big-numbers__L">млн. рублей</p>
            <p class="big-numbers__M colorPrimary2">2010 – 2018 гг</p>
            <p class="big-numbers__XS">в том числе</p>
            <p class="big-numbers__S">77 млн. рублей <span class="colorPrimary2"> – в 2018 г</span></p>
          </div>
        </div>
      </div>


      <p>Эти средства барнаульский водоканал направил на модернизацию очистных сооружений водоснабжения и водоотведения для повышения эффективности очистки сточных вод и минимизации воздействия на окружающую среду. </p> 
      
      <div class="big-numbers__block">
        <div class="inText-row big-numbers">
          <div class="inText-row__left big-numbers__left">
            <p class="big-numbers__number">99</p>
          </div>
          <div class="intext-row__right big-numbers__right">
            <p class="big-numbers__L">млн. рублей</p>
            <p class="big-numbers__XS_another colorPrimary2">будет направлено в 2020 г.</p>
            <p class="big-numbers__M_another">на природоохранную деятельность</p> 
          </div>
        </div>
      </div>

      <p>Большое внимание «Росводоканал Барнаул» уделяет экологическому просвещению жителей столицы Алтайского края. Для студентов и школьников регулярно проводятся экологические уроки и экскурсии.</p>

      <p>Сотрудники предприятия принимают активное участие во всероссийских экологических субботниках и акциях «Вода России». Работники водоканала наводят порядок в лесопарковых зонах, высаживают деревья, проводят очистку реки Обь.</p>
    </article>

  </section>
{% endblock %}