{% extends "../../layouts/about.twig" %}

{% block main %}
  {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Руководство «Росводоканал Барнаул»"} %}

  <section class="section-about-team">
    <div class="grid-cards-like">
      {% for teamMember in teamMembers %}
        <article class="card-like__item">
          <img data-src="../img/team-member.png" alt="{{teamMember.name}}" class="lazy card-like__img">
          <div class="card-like__footer">
            <p class="card-like__title">{{teamMember.name}}</p>
            <p class="card-like__subtitle">{{teamMember.position}}</p>
          </div>
        </article>
      {% endfor %}
    </div>

  </section>
{% endblock %}