{% extends "../../layouts/about.twig" %}

{% block main %}
  <section class="section-about-openInfo-standarts">
    {% include "../../includes/stdBlocks/jumbo-img.twig" with {"imgSrc": "../assets/img/about-openInfo-standarts-img.png", "title": "Раскрытие информации", "subtitle": "Росводоканал Барнаул"} %}
    <article class="text">
      <p>На сайте «Росводоканал Барнаул» информация размещается в соответствии с принципами открытости и добросовестности, дополняя обязательное размещение в единой информационно-аналитической системе «Федеральный орган регулирования — региональные органы регулирования — субъекты регулирования».</p>

      <p>Раскрытие информации осуществляется по формам, утверждённым Приказом ФАС России от 13.09.2018 №1288/18 «Об утверждении форм размещения информации в сфере теплоснабжения, водоснабжения и водоотведения, в области обращения с твёрдыми коммунальными отходами, подлежащей раскрытию в федеральной государственной информационной системе «Единая информационно-аналитическая система «Федеральный орган регулирования — региональные органы регулирования — субъекты регулирования».</p> 

      <hr class="dashed">
      
      <a href="about_openInfo_standarts_water.html" class="colorPrimary3 font-17">
        <strong>Раскрытие информации в сфере водоснабжения</strong>
      </a>

      <hr class="dashed">

      <a href="about_openInfo_standarts_water.html" class="colorPrimary3 font-17">
        <strong>Раскрытие информации в сфере водоотведения</strong>
      </a>
      
      <hr class="dashed">
    </article>

  </section>
{% endblock %}