{% extends "../../layouts/about.twig" %}

{% block main %}
  <section class="section-about-development-publicCouncil-info">
    {% include "../../includes/jumbo-img.twig" with {"imgSrc": "../img/about-development-publicCouncil-info-img.png", "title": "Максимальная ответственность", "subtitle": "Социальная значимость отрасли  "} %}
    <article class="text">
       <p>В 2017 году «Росводоканал» инициировал создание общественных советов в регионах присутствия группы для организации эффективного взаимодействия государства, общества и бизнеса, главная цель которых - повышение качества услуг водоснабжения и водоотведения в российских городах.</p>

       <p>28 ноября 2017 года прошло первое заседание Общественного совета барнаульского водоканала. В нем приняли участие топ-менеджеры «Росводоканала», представители Правительства Алтайского края, Алтайского краевого Законодательного Собрания и администрации города Барнаула. </p>

       <p>Участники встречи утвердили план работы, обсудили актуальные вопросы текущей финансово-хозяйственной деятельности предприятия, сформировали основные задачи совещательного органа:</p>

       <ul>
        <li>Выработка мер, направленных на повышение качества услуг в сфере ВиВ.</li>
        <li>Системное решение возникающих проблемных вопросов.</li>
        <li>Проведение независимых общественных и экспертных оценок.</li>
        <li>Рассмотрение вопросов производственно-хозяйственной деятельности водоканала.</li>
        <li>Формирование законодательных инициатив.</li>
        <li>Проведение экспертизы значимых проектов.</li>
        <li>Определение приоритетов развития предприятия и отрасли.</li>
        <li>Достижение открытости и публичности деятельности в сфере ВиВ.</li>
       </ul>
    </article>

  </section>
{% endblock %}