{% extends "../../layouts/about.twig" %}

{% block main %}
  <section class="section-about-coworkers-programms">
    {% include "../../includes/jumbo-img.twig" with {"imgSrc": "./img/about_coworkers_programms-img.png", "title": "Корпоративные программы ", "subtitle": "Росводоканал Барнаул"} %}
    <article class="text">
       <p>Сотрудники «Росводоканал Барнаул» поддерживают спорт и здоровый образ жизни, активно занимаются физической культурой. На предприятии созданы команды, которые принимают участие в городских спортивных мероприятиях.</p> 
       <p>Работники «Росводоканал Барнаул» имеют возможность получить санаторно-курортное лечение, а дети специалистов предприятия отдыхают в летних оздоровительных лагерях. </p> 
       <p>В 2019 году в группе компаний «Росводоканал» стартовал проект «Жилищная программа», предусматривающая компенсацию процентов по кредиту на улучшение жилищных условий. Программа призвана повысить уровень социальной защищенности сотрудников, повысить конкурентоспособность компании, привлечь молодых специалистов. Жилищная программа будет способствовать развитию инновационного потенциала работников, а также их профессиональному и карьерному росту.</p> 
    </article>

  </section>
{% endblock %}