{% extends "../../layouts/about.twig" %}

{% block main %}
  <section class="section-about-development-energy">
    {% include "../../includes/jumbo-img.twig" with {"imgSrc": "../assets/img/about_development_energy-img.png", "title": "Энергоэффективность", "subtitle": "Оптимизация"} %}
    <article class="text">
       <p>«Росводоканал Барнаул» успешно реализуют программы энергоресурсосбережения и повышения энергоэффективности, оптимизируя использование ресурсов и снижая объемы потребления электроэнергии. Предприятия применяют современные энергоэффективные технологии и производственные процессы, основанные на лучших региональных практиках.</p> 
       <p>Снижение затрат на электроэнергию – весомая составляющая энергоэффективности «Росводоканал Барнаул». Общее снижение объема потребления электроэнергии с 2012 по 2018 год составило 10 млн кВт·ч в год. Кроме того, на предприятии достигли снижение стоимости закупаемой электроэнергии относительно цен гарантирующего поставщика до 7% за счет закупки электроэнергии на оптовом рынке электроэнергии (ОРЭМ).</p>
    </article>

  </section>
{% endblock %}