{% extends "../../layouts/about.twig" %}

{% block main %}
  <section class="section-about-openInfo-standarts-water">
    {% include '../../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Раскрытие информации в сфере водоснабжения"} %}
    <article class="text">
      <p>В сфере водоснабжения «Росводоканал Барнаул» раскрывает информацию в соответствии со стандартами раскрытия информации, утверждёнными Постановлением Правительства РФ от 17.01.2013 №6 «О стандартах раскрытия информации в сфере водоснабжения и водоотведения».</p> 

      <div class="inText-footer">
        <div class="accord accord_inner">
          {% for idx, accordItem in accordItems %}
            <div class="accord-item">
              <div class="accord-item__head">
                <h6 class="accord-item__text colorCyan">{{2020 - idx}} год</h6>
                <div class="accord-item__icon-cont">
                  {% include "../../includes/svg/icon-arrow-accord.twig" with {"classes": "accord-item__icon"} %}
                </div>
              </div>

              <div class="accord-item__body doc-info-not-list doc-info-not-list_without-dashes doc-info-standarts">
                {% for docSection in accordItem.docSections %}
                  <h6 class="doc-info-standarts__heading colorCyan">{{docSection.title}}</h6>
                  {% for doc in docSection.docs %}
                    <a href="#скачать_документ" class="doc-info">
                      {% include "../../includes/svg/icon-doc-svg.twig" with {"classes": "doc-info__icon"} %}
                      <div class="doc-info__body">
                        <p class="doc-info__title"><strong>{{doc.title}}</strong></p>
                        <div class="doc-info__meta">
                          <span class="doc-info__meta-item doc-info__name colorCyan">{{doc.name}}</span>
                          <span class="doc-info__meta-item divider colorCyan">|</span>
                          <span class="doc-info__meta-item doc-info__size colorCyan">{{doc.size}}</span>
                        </div>
                      </div>
                    </a>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </article>

  </section>
{% endblock %}