{% extends "../../layouts/about.twig" %}

{% block main %}
  <section class="section-about-development-laborProtection-steps">
    {% include "../../includes/stdBlocks/jumbo-img.twig" with {"imgSrc": "../assets/img/about-development-laborProtection-steps-img.png", "title": "Шаг за шагом", "subtitle": "Безопасность"} %}
    <article class="text">
      <p>Культура безопасности труда - основа производственной деятельности «Росводоканал Барнаул». На предприятии реализуется программа повышения безопасности производства «Без происшествий». Среди главных целей проекта – глубокое осознание каждым работником водоканала личной и коллективной ответственности за безопасность.</p> 

      <div class="inText-footer">
        <h3 class="colorCyan">Шаги безопасности</h3>
        <ol class="rows-with-icons__cont">
          <li class="rows-with-icons__item">
            <span>Обучение персонала</span> 
            <div class="rows-with-icons__icon-cont">
              {% include '../../includes/svg/woman-svg.twig' %}
            </div>
          </li>
          <li class="rows-with-icons__item">
            <span>Идентификация и управление рисками</span> 
            <div class="rows-with-icons__icon-cont">
              {% include '../../includes/svg/attention-sign-svg.twig' %}
            </div>
          </li>
          <li class="rows-with-icons__item">
            <span>Информирование сотрудников</span> 
            <div class="rows-with-icons__icon-cont">
              {% include '../../includes/svg/info-book-svg.twig' %}
            </div>
          </li>
          <li class="rows-with-icons__item">
            <span>Мониторинг и расследование инцидентов</span> 
            <div class="rows-with-icons__icon-cont">
              {% include '../../includes/svg/analyze-with-magnifier-svg.twig' %}
            </div>
          </li>
        </ol>
      </div>
    </article>

  </section>
{% endblock %}