{% extends "../../layouts/about.twig" %}

{% block main %}
  <section class="section-about-coworkers-youth-council">
    {% include "../../includes/stdBlocks/jumbo-img.twig" with {"imgSrc": "../assets/img/about_coworkers_youth_council-img.png", "title": "Совет молодых специалистов", "subtitle": "Росводоканал"} %}
    <article class="text">
      <p>Совет молодых специалистов (СМС) – проект, который объединяет работников предприятий в возрасте до 35 лет. Главные задачи Совета – адаптация молодого сотрудника в коллективе и помощь в его профессиональном развитии. </p>

      <p>Сегодня СМС компании насчитывают в своих рядах более 400 человек. Совет ведет работу по трем направлениям: научно-производственное, учебно-информационное и культурно-массовое.</p> 

      <p>Молодые специалисты инициируют и реализуют экологические и благотворительные проекты, волонтерские акции, организовывают внутрикорпоративные мероприятия. Молодежь «Росводоканала» активно участвует в спортивной жизни компании.</p>

      <div class="youth-council__member">
        <div class="youth-council__img-cont">
          <img data-src="../assets/img/youth-council-member.png" alt="" class="youth-council__img">
          <img data-src="../assets/img/br.png" alt="" class="youth-council__gerb ">
        </div>
        <div class="youth-council__text">
          <h4 class="youth-council__name colorCyan">Галина Федюшкина</h4>
          <p class="youth-council__council-pos">Председатель Совета молодых специалистов «Росводоканал барнаул»</p>
          <p class="youth-council__position italic">Специалист отдела продаж в нерегулируемой сфере</p>
        </div>
      </div>

      <div class="youth-council__member">
        <div class="youth-council__img-cont">
          <img data-src="../assets/img/youth-council-member.png" alt="" class="youth-council__img">
          <img data-src="../assets/img/br.png" alt="" class="youth-council__gerb ">
        </div>
        <div class="youth-council__text">
          <h4 class="youth-council__name colorCyan">Галина Федюшкина</h4>
          <p class="youth-council__council-pos">Председатель Совета молодых специалистов «Росводоканал барнаул»</p>
          <p class="youth-council__position italic">Специалист отдела продаж в нерегулируемой сфере</p>
        </div>
      </div>
    </article>

  </section>
{% endblock %}