.select2-selection--single {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dce4e8;
  &.select2_grey {
    background: #f1f3f4;
    border-color: #dce4e8;
  }
  &:focus {
    outline: none;
  }
  .select2-selection__rendered {
    color: $colorPrimary3;
    line-height: 40px;
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }

  .select2-selection__placeholder {
    color: #999;
  }

  .select2-selection__arrow {
    height: 100%;
    position: absolute;
    top: 1px;
    right: 5px;
    width: 20px;
    transition: $transMid;

    b {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 10px;
      height: 7px;
      background: url('../img/svg/accord-arrow/accord-arrow_primary.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

&[dir='rtl'] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      left: 1px;
      right: auto;
    }
  }
}

&.select2-container--disabled {
  .select2-selection--single {
    opacity: 0.4;
    cursor: default;
    .select2-selection__arrow b {
      opacity: 0.3;
    }
    .select2-selection__clear {
      display: none;
    }
  }
}

&.select2-container--open {
  .select2-selection--single {
    .select2-selection__arrow {
      transform: rotate(-180deg);
      b {
      }
    }
  }
}
