<div class="chat-bots">
  <div class="wrapper">

    <a href="#" class="chat-bot__link chat-bot__link_telegram">
      {% include '../../../includes/svg/icon-telegram-chat-svg.twig' %}
    </a>

    <a href="#" class="chat-bot__link chat-bot__link_viber">
      {% include '../../../includes/svg/icon-viber-chat-svg.twig' %}
    </a>
    
  </div>
</div>