<section class="section-jumbotron">

  {% include './chat-bots.twig' %}

  <div class="jumbotron__slider">
    <article class="jumbotron-slide jumbotron-slide_poor-visible-dots">
      <img class="jumbotron-slide__img" data-lazy="../assets/img/jumbo-main-1.png" alt="Чистая вода">
      <div class="jumbotron-slide__content">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title jumbotron-slide__title_XL"><span class="toUpperCase">МЫ</span> <br>
              обеспечиваем жителей Барнаула чистой питьевой водой</h2>
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_opacity">
      <img class="jumbotron-slide__img" data-lazy="../assets/img/jumbo-main-2.png" alt="Мы часть команды «Росводоканала»">
      <div class="jumbotron-slide__content">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title jumbotron-slide__title_XL"><span class="toUpperCase">МЫ</span> <br>
              часть команды «Росводоканала» — федерального отраслевого лидера в сфере водоснабжения и водоотведения
            </h2>

            {% include '../../../includes/stdEls/btn_with-arrow.twig' with {'classes': 'btn_big btn_glass-like', 'text': 'Подробнее'} %}
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_dark-img jumbotron-slide_opacity jumbotron-slide_opacity8">
      <img class="jumbotron-slide__img" data-lazy="../assets/img/jumbo-main-3.png" alt="Мы заботимся о воде">
      <div class="jumbotron-slide__content ">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title jumbotron-slide__title_XL"><span class="toUpperCase">МЫ</span> <br>
              круглосуточно заботимся о воде, строим новые сети и объекты, делаем всё возможное для улучшения качества
              жизни жителей
              Барнаула
            </h2>
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_dark-img jumbotron-slide_opacity">
      <img class="jumbotron-slide__img" data-lazy="../assets/img/jumbo-main-4.png" alt="Мы сохраняем экосистему">
      <div class="jumbotron-slide__content ">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted-M">
            <h2 class="jumbotron-slide__title jumbotron-slide__title_XL"><span class="toUpperCase">МЫ</span> <br>
              сохраняем экосистему
              Алтайского края, используя передовые технологии очистки воды и стоков
            </h2>

            {% include '../../../includes/stdEls/btn_with-arrow.twig' with {'classes': 'btn_big btn_glass-like', 'text': 'Подробнее'} %}
          </div>
        </div>
      </div>
    </article>    

    <article class="jumbotron-slide jumbotron-slide_dark-img">
      <img class="jumbotron-slide__img" data-lazy="../assets/img/jumbo-main-5.png" alt="Мы повышаем профессиональные стандарты">
      <div class="jumbotron-slide__content">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title jumbotron-slide__title_XL"><span class="toUpperCase">МЫ</span> <br>
              повышаем профессиональные стандарты и готовы оказывать широкий спектр услуг горожанам, гарантируя
              надежность и качество</h2>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>