.banner-with-form {
  display: flex;
  width: 770px;
  height: 1030px;

  max-width: 770px;
  .banner-left,
  .banner-right {
    width: 50%;
  }
  .banner-left {
    position: relative;
    &__img {
      opacity: 0.2;
    }

    &__content {
      padding: 40px 20px 40px 40px;
    }

    &__title {
      font-weight: 600;
      color: #fff;
      margin-bottom: 40px;
    }

    &__ul {
      color: #fff;
    }

    &__footer {
      margin-top: auto;
      color: #fff;
    }
  }
  .banner-right {
    background: #f1f3f4;
  }
}
