.section-services-type {
  & > .btn {
    margin-top: 20px;
  }
}

.services-type {
  &-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 240px;
      height: 300px;
      padding: 42px 28px 30px 28px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      border-radius: 6px;
      transition: @transFast;

      &__bg {
        opacity: 0.6;
        border-radius: 6px;
      }

      &__content {
      }

      &__icon {
        margin-bottom: 25px;
        z-index: 2;

        &_mobile {
          margin-left: 10px;
        }

        &_pipe {
          margin-top: 20px;
          margin-bottom: 40px;
        }

        &_lab {
          margin-bottom: 48px;
        }

        &_tap {
          margin-bottom: 45px;
        }

        &_truck {
          margin-top: 20px;
          margin-bottom: 52px;
        }

        &_build-tools {
          margin-top: 10px;
          margin-bottom: 50px;
        }

        &_dump-truck {
          margin-top: 10px;
          margin-bottom: 65px;
        }
      }

      &__title {
        color: #fff;
        font-size: @font-18;
        font-weight: 600;
        line-height: @font-25;
        margin-bottom: 15px;
      }

      .btn {
        margin-top: auto;
      }
    }
  }
}

@media (max-width: @wrapperMaxWidth) {
  .services-type {
    &-grid {
      justify-content: space-evenly;
    }
  }
}

@media (max-width: @mobileLandscapeWBig) {
  .services-type {
    &-grid {
      .card {
        padding: 20px;
        width: 230px;
        height: 280px;

        &__title {
          font-size: @font-16;
          line-height: @font-20;
        }
      }
    }
  }
}

@media (max-width: @mobileW) {
  .services-type {
    &-grid {
      .card {
        width: 100%;
        height: auto;
        min-height: 250px;
        margin-bottom: 25px;
        &__bg {
          filter: blur(3px);
        }
        &__icon {
          margin-top: 0;
          margin-left: 0;
          margin-bottom: 20px;
        }
        &__title {
          margin-bottom: 15px;
          br {
            display: none;
          }
        }
        &__content {
          width: 100%;
          .btn {
            margin-left: auto;
            margin-right: auto;
            padding: 10px 20px;
            font-size: @font-15;
          }
        }
      }
    }
  }
}

html.scale {
  .services-type {
    &-grid {
      .card {
        padding: 20px;
      }
    }
  }
}

html.color-white {
  .services-type {
    &-grid {
      .card {
        .border-card-like_black();

        &__title {
          color: @blackEye;
        }
      }
    }
  }
}

html.color-black {
  .services-type {
    &-grid {
      .card {
        .border-card-like_white();

        &__title {
          color: @whiteEye;
        }
      }
    }
  }
}
