.section-services-individual {
}
.services-individual {
  &-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 240px;
      height: auto;
      min-height: 300px;
      padding: 42px 28px 30px 28px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      border-radius: 6px;
      transition: @transFast;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: @colorPrimary;
        z-index: 1;
        opacity: 0.4;
        border-radius: 6px;
      }

      &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        border-radius: 6px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        z-index: 2;
        max-width: 100%;
      }

      &__icon {
        margin-bottom: 25px;
        z-index: 2;

        &_mobile {
          margin-left: 10px;
        }

        &_pipe {
          margin-top: 20px;
          margin-bottom: 40px;
        }

        &_lab {
          margin-bottom: 48px;
        }
      }

      &__title {
        color: #fff;
        font-size: @font-18;
        font-weight: 700;
        line-height: @font-25;
        max-width: 100%;
        margin-bottom: 15px;
        max-width: 100%;
      }

      .btn {
        margin-top: auto;
      }
    }
  }
}

@media (max-width: @wrapperMaxWidth) {
  .services-individual {
    &-grid {
      justify-content: space-evenly;
    }
  }
}

@media (max-width: @mobileLandscapeWBig) {
  .services-individual {
    &-grid {
      .card {
        padding: 20px;
        width: 230px;
        min-height: 280px;

        &__title {
          font-size: @font-16;
          line-height: @font-20;
        }
      }
    }
  }
}

@media (max-width: @mobileW) {
  .services-individual {
    &-grid {
      .card {
        width: 100%;
        height: auto;
        min-height: 250px;
        &__icon {
          margin-top: 0;
          margin-left: 0;
          margin-bottom: 20px;
        }
        &__title {
          margin-bottom: 15px;
          br {
            display: none;
          }
        }
        &__content {
          .btn {
            margin-left: auto;
            margin-right: auto;
            padding: 10px 20px;
            font-size: @font-15;
          }
        }
      }
    }
  }
}

html.scale {
  .services-individual {
    &-grid {
      .card {
        padding: 20px;
      }
    }
  }
}

html.color-white,
html.color-black {
  .services-individual {
    &-grid {
      .card {
        &:after {
          opacity: 0.7;
        }
      }
    }
  }
}

html.color-white {
  .services-individual {
    &-grid {
      .card {
        .border-card-like_black();
        &:after {
          background: @whiteEye;
        }

        &__title {
          color: @blackEye;
        }
      }
    }
  }
}

html.color-black {
  .services-individual {
    &-grid {
      .card {
        .border-card-like_white();
        &:after {
          background: @blackEye;
        }

        &__title {
          color: @whiteEye;
        }
      }
    }
  }
}
