.buzzOutAnim {
  @keyframes hvr-buzz-out {
    10% {
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      transform: translateX(1px) rotate(0);
    }
    100% {
      transform: translateX(-1px) rotate(0);
    }
  }
  @media (min-width: @tabletW) {
    &:hover {
      svg {
        animation-name: hvr-buzz-out;
        animation-duration: 0.75s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
      }
    }
  }
}
html.color-white {
  .anim-underline-link {
    @media (min-width: @hoverW) {
      &:hover:after {
        background: @blackEye;
      }
    }
  }
}

.anim-underline-link {
  position: relative;
  max-width: fit-content;
  width: intrinsic;
  width: -moz-max-content;
  // Fallback for IE and Edge
  display: table;
  @keyframes strike {
    0% {
      transform-origin: 0% 50%;
      transform: scaleX(0);
    }
    50% {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }
    50.01% {
      transform-origin: 100% 50%;
      transform: scaleX(1);
    }
    100% {
      transform-origin: 100% 50%;
      transform: scaleX(0);
    }
  }
  @media (min-width: @hoverW) {
    &:hover:after {
      content: ' ';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      animation: strike 0.75s ease-in-out forwards;
    }
  }
}
