<div class="all-sites">
  <span class="all-sites__text">
    <span class="all-sites__text-inner">Все сайты Росводоканал</span>
    <svg class="icon-plus-in-circle-svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
      style="enable-background:new 0 0 512 512;" xml:space="preserve">
      <path d="M256,0C114.8,0,0,114.8,0,256s114.8,256,256,256s256-114.8,256-256S397.2,0,256,0z M256,480C132.5,480,32,379.5,32,256
      S132.5,32,256,32s224,100.5,224,224S379.5,480,256,480z" />
      <path class="icon-plus-in-circle-svg__horizontal-line" d="M384,240H128v32h256" />
      <path class="icon-plus-in-circle-svg__vertical-line"
        d="M240,127c0,85.3,0,170.7,0,256h32c0-85.3,0-170.7,0-256C261.3,127,250.7,127,240,127z" />
    </svg>
  </span>

  <div class="city-list">
    <div class="ciy-list__cont">
      <a href="#" rel="nofollow" class="city-list__link" target="_blank">
        <span class="city-list__city">Росводоканал</span>
        <img data-src="../img/logo_not-main-logo.png" class="lazy city-list__gerb gerb">
      </a>
      <a href="#" rel="nofollow" class="city-list__link" target="_blank">
        <span class="city-list__city">РВК Архангельск</span>
        <img data-src="../img/ak-s.png" class="lazy city-list__gerb gerb">
      </a>
      <a href="#" rel="nofollow" class="city-list__link" target="_blank">
        <span class="city-list__city">РВК Воронеж</span>
        <img data-src="../img/vr-s.png" class="lazy city-list__gerb gerb">
      </a>
      <a href="#" rel="nofollow" class="city-list__link" target="_blank">
        <span class="city-list__city">РВК Краснодар</span>
        <img data-src="../img/kr-s.png" class="lazy city-list__gerb gerb">
      </a>
      <a href="#" rel="nofollow" class="city-list__link" target="_blank">
        <span class="city-list__city">РВК Омск</span>
        <img data-src="../img/om-s.png" class="lazy city-list__gerb gerb">
      </a>
      <a href="#" rel="nofollow" class="city-list__link" target="_blank">
        <span class="city-list__city">РВК Оренбург</span>
        <img data-src="../img/og-s.png" class="lazy city-list__gerb gerb">
      </a>
      <a href="#" rel="nofollow" class="city-list__link" target="_blank">
        <span class="city-list__city">РВК Тюмень</span>
        <img data-src="../img/tm-s.png" class="lazy city-list__gerb gerb">
      </a>
    </div>
  </div>
</div>