<ul class="header-bottom__center-menu">
  <li class="header-bottom__item header-bottom__center-item">
    <a href="../users/users_info.html" class="header-bottom__link header-bottom__center-link">О водоканале</a>
  </li>

  <li class="header-bottom__item header-bottom__center-item">
    <a href="../purchases/purchases_info.html" class="header-bottom__link header-bottom__center-link">Закупки</a>
  </li>

  <li class="header-bottom__item header-bottom__center-item">
    <a href="../career/career_jobs_categories.html" class="header-bottom__link header-bottom__center-link">Карьера</a>
  </li>

  <li class="header-bottom__item header-bottom__center-item">
    <a href="../pressroom/pressroom_news_list.html" class="header-bottom__link header-bottom__center-link">Пресс-центр</a>
  </li>

  <li class="header-bottom__item header-bottom__center-item">
    <a href="../career/career_contacts.html" class="header-bottom__link header-bottom__center-link">Контакты</a>
  </li>
</ul>