<nav class="header-bottom">
  {% include './header-bottom__left-menu.twig' %}
  

  <div class="divider divider_primary3">|</div>

  {% include './header-bottom__center-menu.twig' %}

  <div class="divider divider_primary">|</div>

  {% include '../stdEls/social-icons.twig' %}

  <div class="divider divider_primary">|</div>

  {% include './all-sites.twig' %}
</nav>