<ul class="header-bottom__left-menu">

  <li class="header-bottom__item header-bottom__left-item">
    <a href="../services/users_info.html" class="header-bottom__link header-bottom__left-link ">Абонентам</a>
  </li>

  <li class="header-bottom__item header-bottom__left-item">
    <a href="../services/services.html" class="header-bottom__link header-bottom__left-link">Услуги</a>

    <ul class="submenu">
      <li class="submenu__item">
        <a href="../services/services_individual.html" class="submenu__link">Частные лица</a>
      </li>
      
      <li class="submenu__item">
        <a href="#ссылка_на_личный_кабинет_интегрированный_со_стороны_заказчика" class="submenu__link" rel="nofollow noopener" target="_blank">Юридические лица</a>
      </li>
    </ul>
  </li>
</ul>