<ul class="header-bottom__left-menu">

  <li class="header-bottom__item header-bottom__left-item active">
    <a href="programms.html" class="header-bottom__link header-bottom__left-link ">Абонентам</a>
  </li class="header-bottom__item header-bottom__left-item">

  <li class="header-bottom__item header-bottom__left-item">
    <a href="programms.html" class="header-bottom__link header-bottom__left-link">Услуги</a>

    <ul class="submenu">
      <li class="submenu__item active">
        <a href="#" class="submenu__link">Частные лица</a>
      </li>
      
      <li class="submenu__item">
        <a href="#" class="submenu__link">Юридические лица</a>
      </li>
    </ul>
  </li>
</ul>