<nav class="header-top">

  {% include '../stdEls/logo.twig' %}

  {% include '../stdEls/search-menu.twig' %}

  {% include '../stdEls/eye-version.twig' %}

  {% include '../stdEls/lk-user-link.twig' %}

  {% include '../stdEls/phone.twig' %}
  
</nav>