<nav id="my-menu"class="mobile-menu">
  <div class="mobile-menu__header">
    {% include '../stdEls/logo.twig' %}

    {% include '../stdEls/eye-version.twig' %}

    {% include '../stdEls/lk-user-link.twig' %}

    {% include '../svg/icon-cross-svg.twig' with {"attrs": "id='close-mobile-menu-btn'"} %}

  </div>

  <a class="phone mobile-menu__link" href="tel:83852282200">8 (3852) 282-200</a>

  <ul class="mobile-menu__items">
    <hr>

    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#">Абонетам</a>
    </li>

    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#">Услуги</a>
    </li>

    <hr>

    <li class="mobile-menu__item">
      <a class="mobile-menu__link mobile-menu__link_thin" href="#">О водоканале</a>
    </li>

    <li class="mobile-menu__item">
      <a class="mobile-menu__link mobile-menu__link_thin" href="#">Закупки</a>
    </li>

    <li class="mobile-menu__item">
      <a class="mobile-menu__link mobile-menu__link_thin" href="#">Карьера</a>
    </li>

    <li class="mobile-menu__item">
      <a class="mobile-menu__link mobile-menu__link_thin" href="#">Пресс-цент</a>
    </li>

    <li class="mobile-menu__item">
      <a class="mobile-menu__link mobile-menu__link_thin" href="#">Контакты</a>
    </li>
  </ul>

  <div class="mobile-menu__footer">
    {% include '../stdEls/search-menu.twig' %}

    {% include './all-sites.twig' %}

    {% include '../stdEls/social-icons.twig' %}
  </div>

</nav>