.divider {
  &_primary3 {
    color: @colorPrimary3;
  }
  &_primary {
    color: @colorPrimary;
  }
}

html.color-white {
  .divider {
    &_primary3 {
      color: @blackEye;
    }
    &_primary {
      color: @blackEye;
    }
  }
}

html.color-black {
  .divider {
    &_primary3 {
      color: @whiteEye;
    }
    &_primary {
      color: @whiteEye;
    }
  }
}
