.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;

  height: 100vh;
  width: 100%;
  max-width: calc(@wrapperMaxWidth + 35px);

  background: url(../../assets/img/overlay.png) top center repeat-y;
  background-size: 100%;
  opacity: 0.3;

  transform: translateX(-50%);

  filter: brightness(1.2) grayscale(1);
  
  pointer-events: none;
}