.section-title-std {
  margin-bottom: 30px;
}

@media (max-width: @tabletW) {
  .section-title-std {
    margin-bottom: 20px;
  }
}

@media (max-width: @mobileLandscapeWBig) {
  .section-title-std {
    text-align: center;
    word-break: break-all;
  }
}

html.color-black {
  .section-title-std {
    color: @whiteEye;
  }
}
