.section-std {
  margin-bottom: 70px;
  margin-top: 70px;

  &_S {
    margin-bottom: 35px;
    margin-top: 35px;
  }
}

@media (max-width: @wrapperMaxWidth) {
  .section-std {
    margin-top: 50px;
    margin-bottom: 50px;
    &_S {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
}

@media (max-width: @tabletW) {
  .section-std {
    margin-top: 40px;
    margin-bottom: 40px;
    &_S {
      margin-bottom: 25px;
      margin-top: 25px;
    }
  }
}
