.wrapper {
  max-width: @wrapperMaxWidth;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &:not(.wrapper_unresponsive) {
    @media (max-width: @wrapperMaxWidthAdjusted) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
