body {
  display: flex;
  flex-direction: column;
  transition: @transFast;
  .styled-scrollbar();
  cursor: url(../img/cursors/Arrow.cur), auto;

  .footer {
    margin-top: auto;
  }
}

a {
  &:hover {
    cursor: url(../img/cursors/Hand.cur), pointer;
  }
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  cursor: url(../img/cursors/IBeam.cur), pointer;
}

::selection {
  background: @colorPrimary;
  color: #fff;
}

:root {
  scrollbar-color: @colorPrimary rgba(@colorPrimary, 0.2);
  scrollbar-width: thin;
}

html.color-white {
  ::selection {
    background: @blackEye;
    color: @whiteEye;
  }
  &:root {
    scrollbar-color: @blackEye @whiteEye;
  }
  body {
    .styled-scrollbar_for-light-theme();
  }
}

html.color-black {
  ::selection {
    background: @whiteEye;
    color: @blackEye;
  }
  &:root {
    scrollbar-color: @whiteEye @blackEye;
  }
  body {
    .styled-scrollbar_for-dark-theme();
  }
}
