body {
  display: flex;
  flex-direction: column;

  .footer {
    margin-top: auto;
  }
}

::selection {
  background: @colorPrimary;
  color: #fff;
}

html.color-white {
  ::selection {
    background: @blackEye;
    color: @whiteEye;
  }
}

html.color-black {
  ::selection {
    background: @whiteEye;
    color: @blackEye;
  }
}
