.btn {
  display: table;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: @font-12;
  font-weight: 400;
  padding: 7px 11px;
  line-height: 1.2em;
  border: 1px solid rgba(@colorPrimary3, 0.3);
  border-radius: 20px;
  font-family: @title-font;
  color: @navy;
  transition: @transFast;
  background: transparent;

  &__icon {
    margin-left: 14px;
    transition: @transFast;
    * {
      stroke: #fff;
    }
  }

  &__text {
    transition: @transFast;
  }

  &_big {
    padding: 13px 19px;
  }

  &_glass-like {
    border: 1px solid rgba(#fff, 0.3);
    background: rgba(#fff, 0.1);
    .btn__text {
      color: #fff;
    }
    &.btn_dark {
      border: 1px solid rgba(#000, 0.3);
      background: rgba(#000, 0.1);
      .btn__text {
        color: #fff;
      }
    }
  }

  &_trans {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.53);
    color: white;
    font-weight: 300;
  }

  &_frost {
    border-color: transparent;
    background: rgba(#fff, 0.3);
    color: #fff;
    &.btn_dark {
      background: rgba(#000, 0.3);
      color: #fff;
    }
  }

  &_primary-color {
    border-color: transparent;
    background: @colorPrimary;
    color: #fff;
    .btn__text {
      color: #fff;
    }
    svg.btn__icon.icon-arrow-svg {
      * {
        stroke: #fff;
      }
    }
  }

  &.btn_boxy {
    border-radius: 5px;
  }

  &_with-arrow {
    &.btn_dark {
    }
  }

  &_prepend-icon {
    .btn__text {
      font-size: @font-14;
      display: table-cell;
      vertical-align: middle;
    }

    .btn__prepend-icon {
      display: table-cell;
      vertical-align: middle;
      margin-right: 15px;

      &.icon-ios-svg {
        margin-top: -1px;
        margin-bottom: 1px;
      }
    }
    @media (min-width: @hoverW) {
      &:hover {
        .btn__prepend-icon {
          animation-name: btn__prepend-icon-buzz-out;
          animation-duration: 0.75s;
          animation-timing-function: linear;
          animation-iteration-count: 1;
        }
      }
    }
  }

  @keyframes btn__prepend-icon-buzz-out {
    10% {
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      transform: translateX(1px) rotate(0);
    }
    100% {
      transform: translateX(-1px) rotate(0);
    }
  }

  &_dark {
    color: @colorPrimary3;
  }

  @media (min-width: @hoverW) {
    &:hover {
      box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    }
    &_trans {
      &:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      }
    }
    &_frost {
      &:hover {
        background: rgba(#fff, 0.4);
        &.btn_dark {
          background: rgba(#000, 0.4);
        }
      }
    }
    &_with-arrow {
      &:hover {
        .btn__text {
          text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        }
        .btn__icon {
          transform: translateX(3px);
        }
      }
    }
  }
}

html.color-white {
  .btn {
    border-color: @blackEye;
    color: @whiteEye;
    background: @blackEye;

    .btn__text {
      color: @whiteEye;
    }

    &__icon {
      * {
        stroke: @whiteEye;
      }
    }

    &_glass-like {
      border-color: @blackEye;
      background: @blackEye;
      .btn__text {
        color: @whiteEye;
      }
      &.btn_dark {
        border-color: @blackEye;
        background: @blackEye;
        .btn__text {
          color: @whiteEye;
        }
      }
    }

    &_trans {
      background: @blackEye;
      border-color: @blackEye;
    }

    &_frost {
      border-color: @blackEye;
      background: @whiteEye;
      color: @blackEye;
      &.btn_dark {
        background: rgba(@blackEye, 0.7);
        color: @whiteEye;
        .btn__text {
          color: @whiteEye;
        }
        .btn__icon {
          * {
            stroke: @whiteEye;
          }
        }
      }
      .btn__text {
        color: @blackEye;
      }
      .btn__icon {
        * {
          stroke: @blackEye;
        }
      }
    }

    &_primary-color {
      border-color: transparent;
      background: @blackEye;
      color: @whiteEye;
      svg.btn__icon.icon-arrow-svg {
        * {
          stroke: @whiteEye;
        }
      }
    }

    &_dark {
      background: @blackEye;
      color: @whiteEye;
      .btn__text {
        color: @whiteEye;
      }
    }

    @media (min-width: @hoverW) {
      &_trans {
        &:hover {
          text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
          box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        }
      }
      &_frost {
        &:hover {
          box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
          &.btn_dark {
            box-shadow: 0px 5px 40px -10px rgba(000, 000, 000, 0.57);
          }
        }
      }
      &_with-arrow {
        &:hover {
          .btn__text {
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}

html.color-black {
  .btn {
    border-color: @whiteEye;
    color: @blackEye;
    background: @whiteEye;

    .btn__text {
      color: @blackEye;
    }

    &__icon {
      * {
        stroke: @blackEye;
      }
    }

    &_glass-like {
      border-color: @whiteEye;
      background: @whiteEye;
      .btn__text {
        color: @blackEye;
      }
      &.btn_dark {
        border-color: @whiteEye;
        background: @whiteEye;
        .btn__text {
          color: @blackEye;
        }
      }
    }

    &_trans {
      background: @whiteEye;
      border-color: @whiteEye;
    }

    &_frost {
      border-color: @whiteEye;
      background: @blackEye;
      color: @whiteEye;
      &.btn_dark {
        background: rgba(@whiteEye, 0.7);
        color: @blackEye;
        .btn__text {
          color: @blackEye;
        }
        .btn__icon {
          * {
            stroke: @blackEye;
          }
        }
      }
      .btn__text {
        color: @whiteEye;
      }
      .btn__icon {
        * {
          stroke: @whiteEye;
        }
      }
    }

    &_primary-color {
      border-color: transparent;
      background: @whiteEye;
      color: @blackEye;
      svg.btn__icon.icon-arrow-svg {
        * {
          stroke: @blackEye;
        }
      }
    }

    &_dark {
      background: @whiteEye;
      color: @blackEye;
      .btn__text {
        color: @blackEye;
      }
    }

    @media (min-width: @hoverW) {
      &_trans {
        &:hover {
          text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
          box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        }
      }
      &_frost {
        &:hover {
          box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
          &.btn_dark {
            box-shadow: 0px 5px 40px -10px rgba(000, 000, 000, 0.57);
          }
        }
      }
      &_with-arrow {
        &:hover {
          .btn__text {
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}

html.scale-2 {
  .btn {
    padding-right: 10px;
    padding-left: 10px;
    &_big {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

html.scale-3 {
  .btn {
    padding-right: 9px;
    padding-left: 9px;
    &_big {
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }
}
