.input-with-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  .checkboxContainer {
    margin-top: 4px;
    margin-left: -2px;
  }
  .input_file {
    & ~ .input_file {
      margin-top: 10px;
    }
  }
  &__cont {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &_2 {
      .input-with-label,
      .input-with-label__row {
        width: calc((100% / 2) - 10px);
      }
    }
    &_3 {
      .input-with-label,
      .input-with-label__row {
        width: calc((100% / 3) - 10px);
      }
    }
  }
  &_3 {
    width: calc(25% - 10px);
  }
  &_9 {
    width: calc(75% - 10px);
  }
  &_extra-mb {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
form {
  .form-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .form-info {
    color: #9fa6aa;
    font-size: @font-13;
    font-weight: 400;
    line-height: @font-15;
    font-style: italic;
  }

  .form-titles-block {
    margin-top: 30px;
    margin-bottom: 10px;
    .form-title {
      margin-top: 0;
      margin-bottom: 0;
    }
    .form-info {
    }
  }
}

.input-cont {
  position: relative;
  input {
    width: 100%;
  }

  .input__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
}

label {
  font-size: @font-13;
  color: @colorPrimary3;
  font-weight: 600;
  margin-bottom: 3px;
}

.input_file__on-top,
input:not([type='submit']),
textarea {
  font-size: @font-14;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid #dce4e8;
  background: #ffffff;
  color: @colorPrimary3;
}

textarea {
  resize: none;
  height: 80px;
  overflow: auto;
  .styled-scrollbar();
  &:focus {
    outline: none;
  }
}

.checkboxContainer {
  display: flex;
  align-items: center;
  user-select: none;

  input[type='checkbox'] {
    display: none;
    pointer-events: none;

    & + label {
      cursor: pointer;
      font-size: 1em;
      display: grid;
      grid-template-columns: auto 3fr;

      svg {
        width: 2em;
        stroke: #dce4e8;
        stroke-width: 5;
        fill: transparent;

        .box {
          stroke-dasharray: 320;
          stroke-dashoffset: 0;
          fill: #f1f3f4;
          transition: stroke-dashoffset 0.3s linear;
        }
        .check {
          stroke-dasharray: 70;
          stroke-dashoffset: 70;
          fill: none;
          transition: stroke-dashoffset 0.3s linear;
        }
      }

      span {
        padding-top: 0.3em;
        margin-left: 0.3em;
      }
    }

    &:checked + label {
      svg {
        * {
          stroke: @colorPrimary;
        }
      }
      .box {
        stroke-dashoffset: 320;
      }
      .check {
        stroke-dashoffset: 0;
      }
    }
    &.error {
      & + label {
        svg {
          * {
            stroke: @red;
          }
        }
      }
    }
  }

  .checkboxText {
    font-size: @font-13;
    font-weight: 400;
    line-height: @font-16;
    margin-left: 10px;
  }
  .checkboxText {
    a {
      text-decoration: underline;
      color: @colorPrimary3;
      cursor: pointer;
      transition: @transFast;
      @media (min-width: @tabletW) {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: @mobileLandscapeWBig) {
  .input-with-label {
    &_3 {
      width: calc(33.3% - 10px);
    }
    &_9 {
      width: calc(66.6% - 10px);
    }
  }
}

@media (max-width: @mobileW) {
  .input-with-label {
    &__row {
      &_2 {
        flex-direction: column;
        .input-with-label,
        .input-with-label__row {
          width: 100%;
        }
      }
      &_3 {
        flex-wrap: wrap;
        .input-with-label,
        .input-with-label__row {
          width: calc((100% / 3) - 5px);
        }
      }
    }
    &_3 {
      width: calc(50% - 10px);
    }
    &_9 {
      width: calc(50% - 10px);
    }
  }
}

@media (max-width: @mobileSSW) {
  .input-with-label {
    &__row {
      &_3 {
        flex-wrap: wrap;
        .input-with-label:nth-child(1),
        .input-with-label:nth-child(2) {
          width: calc((100% / 2) - 5px);
        }
        .input-with-label:nth-child(3) {
          width: 100%;
        }
      }
    }
    &_3 {
      width: 100%;
    }
    &_9 {
      width: 100%;
    }
  }

  .checkboxContainer {
    .checkboxText {
      font-size: @font-12;
      line-height: @font-15;
      margin-left: 5px;
    }
  }
}

html.color-white {
  label {
    color: @blackEye;
  }

  .input_file__on-top,
  input:not([type='submit']),
  textarea {
    border-color: @blackEye;
    color: @blackEye;
  }

  textarea {
    .styled-scrollbar_for-light-theme();
  }

  .checkboxContainer {
    input[type='checkbox'] {
      & + label {
        svg {
          stroke: @blackEye;

          .box {
            fill: @whiteEye;
          }
        }
      }

      &:checked + label {
        svg {
          * {
            stroke: @blackEye;
          }
        }
      }
    }

    .checkboxText {
      color: @blackEye;
      a {
        color: @blackEye;
      }
    }
  }
}

html.color-black {
  label {
    color: @whiteEye;
  }

  .input_file__on-top,
  input:not([type='submit']),
  textarea {
    border-color: @whiteEye;
    color: @whiteEye;
    background: @blackEye;
  }

  textarea {
    .styled-scrollbar_for-dark-theme();
  }


  .checkboxContainer {
    input[type='checkbox'] {
      & + label {
        svg {
          stroke: @whiteEye;

          .box {
            fill: @blackEye;
          }
        }
      }

      &:checked + label {
        svg {
          * {
            stroke: @whiteEye;
          }
        }
      }
    }

    .checkboxText {
      color: @whiteEye;
      a {
        color: @whiteEye;
      }
    }
  }
}
