// Widthes
@fullWidthMaxWidth: 2560px;
@wrapperMaxWidthAdjusted: calc(@wrapperMaxWidth + 10px);
@wrapperMaxWidth: 1160px;
@laptopW: 1400px;
@tabletW: 1024px;
@hoverW: 1024px;
@mobileLandscapeWBig: 850px;
@mobileLandscapeW: 768px;
@mobileW: 500px;
@mobileSSW: 350px;

// Colors
@colorPrimary: #1074b9;
@colorPrimary2: #00a2dd;
@colorPrimary3: #243970;
@colorBlue: #1878bb;
@colorBeautifulBlue: #0070ba;
@cyan: #30afcf;
@red: #e30613;
@colorLogo_blue: #0069b4;
@colorLogo_red: #e30613;

@invalidBcColor: rgba(#e74c3c, 0.2);
@invalidBorderColor: #e74c3c;

@blackEye: #161616;
@whiteEye: #fff;

// Transitions
@transFast: all 0.25s ease-in-out;
@transMid: all 0.35s ease-in-out;
@transSlow: all 0.45s ease-in-out;

// Z-indexes
@zHeader: 3;
@zBackTop: 4;
@zMenu: 5;
@zMenuOnTop: 6;
@zOverlay: 7;
@zModal: 8;

@baseFontSize: 14px;

// Fonts
@font-5: 0.35714285714285715rem;
@font-6: 0.42857142857142855rem;
@font-7: 0.5rem;
@font-8: 0.5714285714285714rem;
@font-9: 0.6428571428571429rem;
@font-10: 0.7142857142857143rem;
@font-11: 0.7857142857142857rem;
@font-12: 0.8571428571428571rem;
@font-13: 0.9285714285714286rem;
@font-14: 1rem;
@font-15: 1.0714285714285714rem;
@font-16: 1.1428571428571428rem;
@font-17: 1.2142857142857142rem;
@font-18: 1.2857142857142858rem;
@font-19: 1.3571428571428572rem;
@font-20: 1.4285714285714286rem;
@font-21: 1.5rem;
@font-22: 1.5714285714285714rem;
@font-23: 1.6428571428571428rem;
@font-24: 1.7142857142857142rem;
@font-25: 1.7857142857142858rem;
@font-26: 1.8571428571428572rem;
@font-27: 1.9285714285714286rem;
@font-28: 2rem;
@font-29: 2.0714285714285716rem;
@font-30: 2.142857142857143rem;
@font-31: 2.2142857142857144rem;
@font-32: 2.2857142857142856rem;
@font-33: 2.357142857142857rem;
@font-34: 2.4285714285714284rem;
@font-35: 2.5rem;
@font-36: 2.5714285714285716rem;
@font-37: 2.642857142857143rem;
@font-38: 2.7142857142857144rem;
@font-39: 2.7857142857142856rem;
@font-40: 2.857142857142857rem;
@font-41: 2.9285714285714284rem;
@font-42: 3rem;
@font-43: 3.0714285714285716rem;
@font-44: 3.142857142857143rem;
@font-45: 3.2142857142857144rem;
@font-46: 3.2857142857142856rem;
@font-47: 3.357142857142857rem;
@font-48: 3.4285714285714284rem;
@font-49: 3.5rem;
@font-50: 3.5714285714285716rem;
@font-51: 3.642857142857143rem;
@font-52: 3.7142857142857144rem;
@font-53: 3.7857142857142856rem;
@font-54: 3.857142857142857rem;
@font-55: 3.9285714285714284rem;
@font-56: 4rem;
@font-57: 4.071428571428571rem;
@font-58: 4.142857142857143rem;
@font-59: 4.214285714285714rem;
@font-60: 4.285714285714286rem;
@font-61: 4.357142857142857rem;
@font-62: 4.428571428571429rem;
@font-63: 4.5rem;
@font-64: 4.571428571428571rem;
@font-65: 4.642857142857143rem;
@font-66: 4.714285714285714rem;
@font-67: 4.785714285714286rem;
@font-68: 4.857142857142857rem;
@font-69: 4.928571428571429rem;
@font-70: 5rem;
