@blue: #1074b9;
@light-blue: #00a2dd;
@navy: #243970;
@cyan: #30afcf;
@red: #d51832;
@gray: #ededed;

@box_shadow: 0 0 9px 3px rgba(0, 0, 0, 0.23);

// Widthes
@maxWidth: 1160px;
@laptopW: 1400px;
@tabletW: 1024px;
@hoverW: 1024px;
@mobileLandscapeWBig: 850px;
@mobileLandscapeW: 768px;
@mobileW: 500px;
@mobileSSW: 350px;

// Colors
@colorPrimary: #1074b9;
@colorPrimary2: #00a2dd;
@colorPrimary3: #243970;
@colorBlue: #1878bb;
@red: #e30613;
// @colorSatBc: #f7fafc;
// @colorHover: #2947ac;
// @red: #ee1b2e;
// @lightGrey: #e6e6e6;
// @blueGrey: #e8eaf1;
// @plum: #56659a;
// @colorWhiteOnHover: #dedcdc;

// Transitions
@transFast: all 0.25s ease-in-out;
@transMid: all 0.35s ease-in-out;
@transSlow: all 0.45s ease-in-out;

// Z-indexes
@zNavBar: 4;
@zMenu: 5;
@zMenuOnTop: 6;
@zOverlay: 7;
@zModal: 8;
