svg.logo-main-svg {
  height: 65px;
  transition: @transMid;
  * {
    transition: inherit;
  }
  .st0 {
    fill: #24316a;
  }

  .st1 {
    fill: #e30613;
  }

  .st2 {
    fill: #0069b4;
  }
}

svg.icon-search-svg {
  height: 31px;
  transition: @transMid;
  * {
    transition: inherit;
  }
  .st0 {
    fill: none;
  }

  .st1 {
    fill: none;
    stroke: #231f20;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-eye-svg {
  height: 14px;
  transition: @transMid;
  * {
    transition: inherit;
  }
  .st0 {
    fill: @colorPrimary3;
  }
}

svg.icon-user {
  height: 25px;
  transition: @transMid;
  g {
    fill: #fff;
  }
  .st0 {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

.icon-user__bc {
  background: @colorPrimary3;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg.social-icon {
  height: 24px;
  * {
    fill: @colorPrimary;
  }
}
svg.icon-plus-svg {
  height: 20px;
  .st0 {
    fill: none;
    stroke: #000000;
    stroke-width: 32;
    stroke-miterlimit: 10;
  }
}

svg.icon-back-svg {
  height: 15px;
}

svg.siluet-icon-svg {
  height: 27px;
  margin-top: -2px;
  * {
    fill: @colorPrimary;
  }
}

svg.icon-mobile-svg {
  min-height: 85px;
  max-height: 85px;
  height: 85px;
  .st0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: #ffffff;
  }
}

svg.icon-user-svg {
  height: 81px;
  .st0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: #ffffff;
  }
}

svg.icon-waterdevice-svg {
  height: 78px;
  * {
    fill: #ffffff;
  }
}

svg.icon-wallet-svg {
  height: 75px;
  .st0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: #ffffff;
  }
}

svg.icon-askedo-svg {
  height: 84px;
  .st0 {
    fill: #64a8df;
  }

  .st1 {
    fill: #ffffff;
  }

  .st2 {
    fill: none;
    stroke: #64a8df;
    stroke-width: 4;
  }

  .st3 {
    fill: #7fbfa8;
  }
}

svg.icon-stophand-svg {
  height: 87px;
  .st0 {
    fill: #d1d1d1;
  }

  .st1 {
    fill: none;
    stroke: #ea222d;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}
