svg.logo-main-svg {
  height: 65px;
  width: 230px;
  transition: @transMid;
  * {
    transition: inherit;
  }
  .st0 {
    fill: #24316a;
  }

  .st1 {
    fill: #e30613;
  }

  .st2 {
    fill: #0069b4;
  }
  &_textless {
    width: 49px;
  }
}

svg.icon-search-svg {
  height: 31px;
  width: 31px;
  transition: @transMid;
  * {
    transition: inherit;
  }
  .st0 {
    fill: none;
  }

  .st1 {
    fill: none;
    stroke: #231f20;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-eye-svg {
  height: 14px;
  width: 24px;
  transition: @transMid;
  * {
    transition: inherit;
  }
  .st0 {
    fill: @colorPrimary3;
  }
}

svg.icon-user {
  height: 25px;
  width: 25px;
  transition: @transMid;
  g {
    fill: #fff;
  }
  .st0 {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

.icon-user__bc {
  background: @colorPrimary3;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg.social-icon {
  height: 24px;
  width: 24px;
  * {
    fill: @colorPrimary;
  }
}
svg.icon-plus-svg {
  height: 20px;
  width: 20px;
  .st0 {
    fill: none;
    stroke: #000000;
    stroke-width: 32;
    stroke-miterlimit: 10;
  }
}

svg.icon-back-svg {
  height: 15px;
  width: 22px;
}

svg.icon-hambuger-svg {
  height: 30px;
  width: 40px;
  * {
    fill: @colorPrimary;
  }
  .bar {
    &_top {
      transition: @transFast;
    }
    &_middle {
      transition: @transFast;
    }
    &_bottom {
      transition: @transMid;
    }
  }

  .dot {
    &_top {
      transition: @transSlow;
    }

    &_middle {
      transition: @transMid;
    }

    &_bottom {
      transition: @transSlow;
    }
  }

  &:hover {
    .dot {
      &_top {
        transform: translateX(-10px);
      }
      &_middle {
        transform: translateX(-30px);
      }
      &_bottom {
        transform: translateX(-40px);
      }
    }
    .bar {
      &_top {
        transform: translateX(-25px);
      }
      &_middle {
        transform: translateX(-60px);
      }
      &_bottom {
        transform: translateX(-45px);
      }
    }
  }
}

svg.siluet-icon-svg {
  height: 27px;
  width: 27px;
  margin-top: -2px;
  * {
    fill: @colorPrimary;
  }
}

svg.icon-mobile-svg {
  min-height: 85px;
  max-height: 85px;
  height: 85px;
  width: 49px;
  .st0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: #ffffff;
  }
}

svg.icon-user-svg {
  height: 81px;
  width: 72px;
  .st0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: #ffffff;
  }
}

svg.icon-waterdevice-svg {
  height: 78px;
  width: 78px;
  * {
    fill: #ffffff;
  }
}

svg.icon-wallet-svg {
  height: 75px;
  width: 75px;
  .st0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: #ffffff;
  }
}

svg.icon-askedo-svg {
  height: 84px;
  width: 134.5px;
  .st0 {
    fill: #64a8df;
  }

  .st1 {
    fill: #ffffff;
  }

  .st2 {
    fill: none;
    stroke: #64a8df;
    stroke-width: 4;
  }

  .st3 {
    fill: #7fbfa8;
  }
}

svg.icon-stophand-svg {
  height: 87px;
  width: 87px;
  .st0 {
    fill: #d1d1d1;
  }

  .st1 {
    fill: none;
    stroke: #ea222d;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-arrow-svg {
  width: 27px;
  height: 9px;
  min-width: 27px;
  min-height: 9px;
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .stroke {
    stroke: #fff;
  }
}

svg.icon-telegram-chat-svg {
  width: 8.57rem;
  height: 2.85rem;
  .st0 {
    fill: #ffffff;
  }
  .st2 {
    font-size: 12px;
  }
  .st4 {
    font-size: 9px;
  }
  .st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }
  .st6 {
    fill: #61a8de;
  }
  text {
    font-family: @base-font;
    font-weight: 700;
  }

  @media (min-width: @tabletW) {
    &_dark {
      .st0 {
        fill: #000;
      }
      .st2 {
        font-size: 12px;
      }
      .st4 {
        font-size: 9px;
      }
      .st5 {
        stroke: #000;
      }
      .st6 {
        fill: #000;
      }
      text {
        font-family: @base-font;
        font-weight: 700;
      }
      .telegram-icon {
        fill: #fff;
      }
    }
  }
}

svg.icon-viber-chat-svg {
  width: 120px;
  height: 40px;
  * {
    transition: @transFast;
  }
  .st0 {
    fill: #ffffff;
  }

  .st2 {
    font-size: 12px;
  }

  .st4 {
    font-size: 9px;
  }

  .st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }

  .st6 {
    fill: #7f40bd;
  }
  text {
    font-family: @base-font;
    font-weight: 700;
  }

  &_dark {
    .st0 {
      fill: #000;
    }

    .st5 {
      stroke: #000;
    }

    .st6 {
      fill: #000;
    }
    text {
      font-family: @base-font;
      font-weight: 500;
    }
    .viber-icon {
      * {
        fill: #fff;
      }
    }
  }
}

svg.icon-stopwatch-svg {
  width: 50px;
  height: 55px;
  * {
    transition: @transFast;
  }
  .st0 {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-tools-svg {
  width: 51px;
  height: 52px;
  .st0 {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-plus-in-circle-svg {
  height: 20px;
  width: 20px;
  * {
    fill: @colorPrimary;
  }
}

svg.icon-cross-svg {
  height: 10px;
  width: 10px;
  .st0 {
    fill: none;
    stroke: @colorPrimary3;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-arrow-accord {
  width: 10px;
  height: 7.5px;
  .st0 {
    transition: @transFast;
    fill: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
}

svg.icon-family-svg {
  width: 118px;
  height: 126px;
  .st0 {
    fill: none;
  }
  * {
    fill: #fff;
  }
}

svg.icon-case-svg {
  width: 121px;
  height: 127px;
  .st0 {
    fill: none;
  }
  * {
    fill: #fff;
  }
}

svg.icon-back-top {
  * {
    fill: #fff;
  }
}

svg.icon-android-svg {
  height: 24px;
  width: 20px;
  .st0 {
    fill: #fff;
  }
}

svg.icon-ios-svg {
  height: 24px;
  width: 20px;

  .st0 {
    fill: #fff;
  }
}

svg.icon-waterdevice_2-svg {
  min-width: 80px;
  min-height: 80px;
  width: 80px;
  height: 80px;
  * {
    fill: #fff;
  }
}

svg.icon-lab-svg {
  min-width: 82px;
  min-height: 69px;
  width: 82px;
  height: 69px;
  .st0 {
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .fill {
    fill: #fff;
  }
  .stroke {
    fill: none;
    stroke: #fff;
  }
}

svg.icon-pipe-svg {
  width: 80px;
  height: 43px;
  min-width: 80px;
  min-height: 43px;
  * {
    fill: #fff;
  }
}

svg.icon-tap-svg {
  width: 65px;
  height: 74px;
  min-width: 65px;
  min-height: 74px;
  * {
    fill: #fff;
  }
}

svg.icon-recycle-truck-svg {
  width: 80px;
  height: 44px;
  min-width: 80px;
  min-height: 44px;
  * {
    fill: #fff;
  }
}

svg.icon-build-tools-svg {
  width: 70px;
  height: 65px;
  min-width: 70px;
  min-height: 65px;
  * {
    fill: #fff;
  }
}

svg.icon-dump-truck-svg {
  width: 80px;
  height: 51px;
  min-width: 80px;
  min-height: 51px;
  * {
    fill: #fff;
  }
}

svg.icon-clean-device-svg {
  width: 90px;
  height: 75px;
  min-width: 90px;
  min-height: 75px;
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .stroke {
    stroke: #fff;
  }

  .fill {
    fill: #fff;
  }
}

svg.icon-mail-svg {
  width: 18px;
  height: 14px;

  .fill {
    fill: @colorPrimary2;
  }
}

svg.icon-drops-with-flask-svg {
  width: 80px;
  height: 83px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st1 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-pipe-with-flask-svg {
  width: 87px;
  height: 76px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st1 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-pipe-with-bubbles-svg {
  width: 88px;
  height: 87px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-pipe-with-magnifier-svg {
  width: 89px;
  height: 89px;
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-pipe-with-drop-svg {
  width: 87px;
  height: 79px;
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-tool-on-manhole-svg {
  width: 85px;
  height: 85px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-sink-pipe-svg {
  width: 86px;
  height: 72px;
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-man-with-watermeter-svg {
  width: 85px;
  height: 81px;
  .fill {
    fill: @colorPrimary;
  }
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-checklist-with-watermeter-svg {
  width: 79px;
  height: 82px;
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-watermeter-maintenance-svg {
  width: 81px;
  height: 82px;
  .fill {
    fill: @colorPrimary;
  }
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-septic-truck-svg {
  width: 90px;
  height: 81px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-cleaning-truck_individual-svg {
  width: 90px;
  height: 80px;
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-cleaning-truck_corporate-svg {
  width: 90px;
  height: 84px;
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-drops-svg {
  width: 84px;
  height: 83px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-valve-svg {
  width: 82px;
  height: 78px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-rvk-truck-svg {
  width: 90px;
  height: 59px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-special-truck-svg {
  width: 90px;
  height: 58px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-another-build-tools {
  width: 85px;
  height: 81px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-design-tools-svg {
  width: 80px;
  height: 80px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-maintenance-tools-svg {
  width: 80px;
  height: 79px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.pagination-arrow {
  width: 6px;
  height: 9px;
  .stroke {
    stroke: @cyan;
    transition: @transFast;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}
svg.pagination-arrow_left {
}

svg.pagination-arrow_left {
}

svg.icon-warning-svg {
  width: 32px;
height: 30px;
  .fill {
    fill: @cyan;
  }
}

svg.analyze-with-magnifier-svg {
  width: 48px;
  height: 58px;
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.woman-svg {
  // width: 48px;
  // height: 58px;
  width: 73px;
  height: 87px;
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

svg.attention-sign-svg {
  width: 56px;
  height: 50px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

svg.info-book-svg {
  width: 40px;
  height: 56px;
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-doc-svg {
  width: 18px;
  min-width: 18px;
  height: 22px;
  min-height: 22px;
  .stroke {
    stroke: @colorPrimary3;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-paper-with-signature-svg {
  width: 70px;
  height: 90px;
  .stroke {
    stroke: @colorPrimary;
  }
  .fill {
    fill: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-status-list-svg {
  width: 67px;
  height: 84px;
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-clip-svg {
  width: 19px;
  height: 20px;
  .fill {
    fill: #9fa6aa;
  }
}

svg.icon-site-svg {
  width: 85px;
  height: 63px;
  .stroke {
    stroke: @colorPrimary;
  }
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-calendar-svg {
  width: 20px;
  height: 20px;

  .fill {
    fill: @colorPrimary;
  }
}

html.color-white {
  svg.logo-main-svg {
    .st0 {
      fill: @blackEye;
    }

    .st1 {
      fill: @blackEye;
    }

    .st2 {
      fill: @blackEye;
    }
  }

  svg.icon-search-svg {
    .st1 {
      stroke: @blackEye;
    }
  }

  svg.icon-eye-svg {
    .st0 {
      fill: @blackEye;
    }
  }

  svg.icon-user {
    g {
      fill: @whiteEye;
    }
    .st0 {
      stroke: @whiteEye;
    }
  }

  .icon-user__bc {
    background: @blackEye;
  }

  svg.social-icon {
    * {
      fill: @blackEye;
    }
  }
  svg.icon-plus-svg {
    .st0 {
      stroke: @blackEye;
    }
  }

  svg.siluet-icon-svg {
    * {
      fill: @blackEye;
    }
  }

  svg.icon-mobile-svg {
    .st0 {
      stroke: @blackEye;
    }

    .st1 {
      stroke: @blackEye;
    }

    .st2 {
      fill: @blackEye;
    }
  }

  svg.icon-user-svg {
    .st0 {
      stroke: @blackEye;
    }

    .st1 {
      fill: @blackEye;
    }
  }

  svg.icon-waterdevice-svg {
    * {
      fill: @blackEye;
    }
  }

  svg.icon-wallet-svg {
    .st0 {
      stroke: @blackEye;
    }

    .st1 {
      fill: @blackEye;
    }
  }

  svg.icon-stophand-svg {
    .st1 {
      stroke: @blackEye;
    }
  }

  svg.icon-telegram-chat-svg {
    .st0 {
      fill: @blackEye;
    }
    .st2 {
      font-size: 12px;
    }
    .st4 {
      font-size: 9px;
    }
    .st5 {
      stroke: @blackEye;
    }
    .st6 {
      fill: @blackEye;
    }
    text {
      font-family: @base-font;
      font-weight: 500;
    }
    .telegram-icon {
      fill: @whiteEye;
    }
  }

  svg.icon-viber-chat-svg {
    .st0 {
      fill: @blackEye;
    }

    .st5 {
      stroke: @blackEye;
    }

    .st6 {
      fill: @blackEye;
    }
    text {
      font-family: @base-font;
      font-weight: 500;
    }
    .viber-icon {
      * {
        fill: @whiteEye;
      }
    }
  }

  svg.icon-stopwatch-svg {
    .st0 {
      stroke: @whiteEye;
    }

    .st1 {
      stroke: @whiteEye;
    }
  }

  svg.icon-tools-svg {
    .st0 {
      stroke: @whiteEye;
    }
  }

  svg.icon-plus-in-circle-svg {
    * {
      fill: @blackEye;
    }
  }

  svg.icon-hambuger-svg {
    * {
      fill: @blackEye;
    }
  }

  svg.icon-arrow-svg {
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.icon-android-svg {
    .st0 {
      fill: @whiteEye;
    }
  }

  svg.icon-ios-svg {
    .st0 {
      fill: @whiteEye;
    }
  }

  svg.icon-waterdevice_2-svg {
    * {
      fill: @blackEye;
    }
  }

  svg.icon-lab-svg {
    .fill {
      fill: @blackEye;
    }
    .stroke {
      fill: none;
      stroke: @blackEye;
    }
  }

  svg.icon-pipe-svg {
    * {
      fill: @blackEye;
    }
  }

  svg.icon-tap-svg {
    * {
      fill: @blackEye;
    }
  }

  svg.icon-recycle-truck-svg {
    * {
      fill: @blackEye;
    }
  }

  svg.icon-build-tools-svg {
    * {
      fill: @blackEye;
    }
  }

  svg.icon-dump-truck-svg {
    * {
      fill: @blackEye;
    }
  }

  svg.icon-clean-device-svg {
    .stroke {
      stroke: @blackEye;
    }

    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-mail-svg {
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-drops-with-flask-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-pipe-with-flask-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-pipe-with-bubbles-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-pipe-with-magnifier-svg {
    .stroke {
      stroke: @blackEye;
    }
  }

  svg.icon-pipe-with-drop-svg {
    .stroke {
      stroke: @blackEye;
    }
  }

  svg.icon-tool-on-manhole-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-paper-with-signature-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-status-list-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }
  
  svg.icon-clip-svg {
    width: 19px;
    height: 20px;
    .fill {
      fill: #9fa6aa;
    }
  }

  svg.icon-man-with-watermeter-svg {
    .fill {
      fill: @blackEye;
    }
    .stroke {
      stroke: @blackEye;
    }
  }

  svg.icon-checklist-with-watermeter-svg {
    .stroke {
      stroke: @blackEye;
    }
  }

  svg.icon-watermeter-maintenance-svg {
    .fill {
      fill: @blackEye;
    }
    .stroke {
      stroke: @blackEye;
    }
  }

  svg.icon-septic-truck-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-cleaning-truck_individual-svg {
    .stroke {
      stroke: @blackEye;
    }
  }

  svg.icon-cleaning-truck_corporate-svg {
    .stroke {
      stroke: @blackEye;
    }
  }

  svg.icon-drops-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-valve-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-rvk-truck-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-special-truck-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-another-build-tools {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-design-tools-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.icon-maintenance-tools-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.pagination-arrow {
    .stroke {
      stroke: @blackEye;
    }
  }

  svg.analyze-with-magnifier-svg {
    .stroke {
      stroke: @blackEye;
    }
  }

  svg.woman-svg {
    .stroke {
      stroke: @blackEye;
    }
  }

  svg.attention-sign-svg {
    .stroke {
      stroke: @blackEye;
    }
    .fill {
      fill: @blackEye;
    }
  }

  svg.info-book-svg {
    .stroke {
      stroke: @blackEye;
    }
  }
  svg.icon-doc-svg {
    .stroke {
      stroke: @blackEye;
    }
  }
  svg.icon-clip-svg {
    .fill {
      fill: @blackEye;
    }
  }
  svg.icon-site-svg {
    .stroke {
      stroke: @blackEye;
    }
  }
  svg.icon-calendar-svg {
    .fill {
      fill: @blackEye;
    }
  }
}

html.color-black {
  svg.logo-main-svg {
    .st0 {
      fill: @whiteEye;
    }

    .st1 {
      fill: @whiteEye;
    }

    .st2 {
      fill: @whiteEye;
    }
  }

  svg.icon-search-svg {
    .st1 {
      stroke: @whiteEye;
    }
  }

  svg.icon-eye-svg {
    .st0 {
      fill: @blackEye;
    }
  }

  svg.icon-user {
    g {
      fill: @blackEye;
    }
    .st0 {
      stroke: @blackEye;
    }
  }

  .icon-user__bc {
    background: @whiteEye;
  }

  svg.social-icon {
    * {
      fill: @whiteEye;
    }
  }
  svg.icon-plus-svg {
    .st0 {
      stroke: @whiteEye;
    }
  }

  svg.icon-back-svg {
    * {
      fill: @whiteEye;
    }
  }

  svg.siluet-icon-svg {
    * {
      fill: @whiteEye;
    }
  }

  svg.icon-mobile-svg {
    .st0 {
      stroke: @whiteEye;
    }

    .st1 {
      stroke: @whiteEye;
    }

    .st2 {
      fill: @whiteEye;
    }
  }

  svg.icon-user-svg {
    .st0 {
      stroke: @whiteEye;
    }

    .st1 {
      fill: @whiteEye;
    }
  }

  svg.icon-waterdevice-svg {
    * {
      fill: @whiteEye;
    }
  }

  svg.icon-arrow-svg {
    .stroke {
      stroke: @blackEye;
    }
  }

  svg.icon-wallet-svg {
    .st0 {
      stroke: @whiteEye;
    }

    .st1 {
      fill: @whiteEye;
    }
  }

  svg.icon-stophand-svg {
    .st1 {
      stroke: @whiteEye;
    }
  }

  svg.icon-telegram-chat-svg {
    .st0 {
      fill: @whiteEye;
    }
    .st2 {
      font-size: 12px;
    }
    .st4 {
      font-size: 9px;
    }
    .st5 {
      stroke: @whiteEye;
    }
    .st6 {
      fill: @whiteEye;
    }
    text {
      font-family: @base-font;
      font-weight: 500;
    }
    .telegram-icon {
      fill: @blackEye;
    }
  }

  svg.icon-viber-chat-svg {
    .st0 {
      fill: @whiteEye;
    }

    .st5 {
      stroke: @whiteEye;
    }

    .st6 {
      fill: @whiteEye;
    }
    text {
      font-family: @base-font;
      font-weight: 500;
    }
    .viber-icon {
      * {
        fill: @blackEye;
      }
    }
  }

  svg.icon-stopwatch-svg {
    .st0 {
      stroke: @blackEye;
    }

    .st1 {
      stroke: @blackEye;
    }
  }

  svg.icon-tools-svg {
    .st0 {
      stroke: @blackEye;
    }
  }

  svg.icon-plus-in-circle-svg {
    * {
      fill: @whiteEye;
    }
  }

  svg.icon-hambuger-svg {
    * {
      fill: @whiteEye;
    }
  }

  svg.icon-android-svg {
    .st0 {
      fill: @blackEye;
    }
  }

  svg.icon-ios-svg {
    .st0 {
      fill: @blackEye;
    }
  }

  svg.icon-waterdevice_2-svg {
    * {
      fill: @whiteEye;
    }
  }

  svg.icon-lab-svg {
    .fill {
      fill: @whiteEye;
    }
    .stroke {
      fill: none;
      stroke: @whiteEye;
    }
  }

  svg.icon-pipe-svg {
    * {
      fill: @whiteEye;
    }
  }

  svg.icon-tap-svg {
    * {
      fill: @whiteEye;
    }
  }

  svg.icon-recycle-truck-svg {
    * {
      fill: @whiteEye;
    }
  }

  svg.icon-build-tools-svg {
    * {
      fill: @whiteEye;
    }
  }

  svg.icon-dump-truck-svg {
    * {
      fill: @whiteEye;
    }
  }

  svg.icon-clean-device-svg {
    .stroke {
      stroke: @whiteEye;
    }

    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-mail-svg {
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-drops-with-flask-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-pipe-with-flask-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-pipe-with-bubbles-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-pipe-with-magnifier-svg {
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.icon-pipe-with-drop-svg {
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.icon-tool-on-manhole-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-man-with-watermeter-svg {
    .fill {
      fill: @whiteEye;
    }
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.icon-checklist-with-watermeter-svg {
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.icon-watermeter-maintenance-svg {
    .fill {
      fill: @whiteEye;
    }
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.icon-septic-truck-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-cleaning-truck_individual-svg {
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.icon-cleaning-truck_corporate-svg {
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.icon-drops-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-valve-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-paper-with-signature-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-status-list-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-rvk-truck-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-special-truck-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-another-build-tools {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-design-tools-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-maintenance-tools-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.pagination-arrow {
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.analyze-with-magnifier-svg {
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.woman-svg {
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.attention-sign-svg {
    .stroke {
      stroke: @whiteEye;
    }
    .fill {
      fill: @whiteEye;
    }
  }

  svg.info-book-svg {
    .stroke {
      stroke: @whiteEye;
    }
  }
  svg.icon-doc-svg {
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.icon-clip-svg {
    .fill {
      fill: @whiteEye;
    }
  }

  svg.icon-site-svg {
    .stroke {
      stroke: @whiteEye;
    }
  }

  svg.icon-calendar-svg {
    .fill {
      fill: @whiteEye;
    }
  }
}
