svg.logo-main-svg {
  height: 65px;
  // width: 228px;
  transition: @transMid;
  * {
    transition: inherit;
  }
  .st0 {
    fill: #24316a;
  }

  .st1 {
    fill: #e30613;
  }

  .st2 {
    fill: #0069b4;
  }
  &_textless {
    width: 49px;
  }
}

svg.icon-search-svg {
  height: 31px;
  width: 31px;
  transition: @transMid;
  * {
    transition: inherit;
  }
  .st0 {
    fill: none;
  }

  .st1 {
    fill: none;
    stroke: #231f20;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-eye-svg {
  height: 14px;
  width: 24px;
  transition: @transMid;
  * {
    transition: inherit;
  }
  .st0 {
    fill: @colorPrimary3;
  }
}

svg.icon-user {
  height: 25px;
  width: 25px;
  transition: @transMid;
  g {
    fill: #fff;
  }
  .st0 {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

.icon-user__bc {
  background: @colorPrimary3;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg.social-icon {
  height: 24px;
  width: 24px;
  * {
    fill: @colorPrimary;
  }
}
svg.icon-plus-svg {
  height: 20px;
  width: 20px;
  .st0 {
    fill: none;
    stroke: #000000;
    stroke-width: 32;
    stroke-miterlimit: 10;
  }
}

svg.icon-back-svg {
  height: 15px;
  width: 22px;
}

svg.icon-hambuger-svg {
  height: 30px;
  width: 40px;
  * {
    fill: @colorPrimary;
  }
  .bar {
    &_top {
      transition: @transFast;
    }
    &_middle {
      transition: @transFast;
    }
    &_bottom {
      transition: @transMid;
    }
  }

  .dot {
    &_top {
      transition: @transSlow;
    }

    &_middle {
      transition: @transMid;
    }

    &_bottom {
      transition: @transSlow;
    }
  }

  &:hover {
    .dot {
      &_top {
        transform: translateX(-10px);
      }
      &_middle {
        transform: translateX(-30px);
      }
      &_bottom {
        transform: translateX(-40px);
      }
    }
    .bar {
      &_top {
        transform: translateX(-25px);
      }
      &_middle {
        transform: translateX(-60px);
      }
      &_bottom {
        transform: translateX(-45px);
      }
    }
  }
}

svg.siluet-icon-svg {
  height: 27px;
  width: 27px;
  margin-top: -2px;
  * {
    fill: @colorPrimary;
  }
}

svg.icon-mobile-svg {
  min-height: 85px;
  max-height: 85px;
  height: 85px;
  width: 49px;
  .st0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: #ffffff;
  }
}

svg.icon-user-svg {
  height: 81px;
  width: 72px;
  .st0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: #ffffff;
  }
}

svg.icon-waterdevice-svg {
  height: 78px;
  width: 78px;
  * {
    fill: #ffffff;
  }
}

svg.icon-wallet-svg {
  height: 75px;
  width: 75px;
  .st0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: #ffffff;
  }
}

svg.icon-askedo-svg {
  height: 84px;
  width: 134.5px;
  .st0 {
    fill: #64a8df;
  }

  .st1 {
    fill: #ffffff;
  }

  .st2 {
    fill: none;
    stroke: #64a8df;
    stroke-width: 4;
  }

  .st3 {
    fill: #7fbfa8;
  }
}

svg.icon-stophand-svg {
  height: 87px;
  width: 87px;
  .st0 {
    fill: #d1d1d1;
  }

  .st1 {
    fill: none;
    stroke: #ea222d;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-arrow-svg {
  width: 27px;
  height: 9px;
  .st0 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  * {
    stroke: #fff;
  }
}

svg.icon-telegram-chat-svg {
  width: 8.57rem;
  height: 2.85rem;
  .st0 {
    fill: #ffffff;
  }
  .st2 {
    font-size: 12px;
  }
  .st4 {
    font-size: 9px;
  }
  .st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }
  .st6 {
    fill: #61a8de;
  }
  text {
    font-family: @base-font;
    font-weight: 500;
  }

  @media (min-width: @tabletW) {
    &_dark {
      .st0 {
        fill: #000;
      }
      .st2 {
        font-size: 12px;
      }
      .st4 {
        font-size: 9px;
      }
      .st5 {
        stroke: #000;
      }
      .st6 {
        fill: #000;
      }
      text {
        font-family: @base-font;
        font-weight: 500;
      }
      .telegram-icon {
        fill: #fff;
      }
    }
  }
}

svg.icon-viber-chat-svg {
  width: 8.57rem;
  height: 2.85rem;
  * {
    transition: @transFast;
  }
  .st0 {
    fill: #ffffff;
  }

  .st2 {
    font-size: 12px;
  }

  .st4 {
    font-size: 9px;
  }

  .st5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }

  .st6 {
    fill: #7f40bd;
  }
  text {
    font-family: @base-font;
    font-weight: 500;
  }

  &_dark {
    .st0 {
      fill: #000;
    }

    .st5 {
      stroke: #000;
    }

    .st6 {
      fill: #000;
    }
    text {
      font-family: @base-font;
      font-weight: 500;
    }
    .viber-icon {
      * {
        fill: #fff;
      }
    }
  }
}

svg.icon-stopwatch-svg {
  width: 50px;
  height: 55px;
  * {
    transition: @transFast;
  }
  .st0 {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-tools-svg {
  width: 51px;
  height: 52px;
  .st0 {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg.icon-plus-in-circle-svg {
  height: 20px;
  width: 20px;
  * {
    fill: @colorPrimary;
  }
}

svg.icon-cross-svg {
  height: 10px;
  width: 10px;
  .st0 {
    fill: none;
    stroke: @colorPrimary3;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

html.color-white {
  svg.logo-main-svg {
    .st0 {
      fill: #000;
    }

    .st1 {
      fill: #000;
    }

    .st2 {
      fill: #000;
    }
  }

  svg.icon-search-svg {
    .st1 {
      stroke: #000;
    }
  }

  svg.icon-eye-svg {
    .st0 {
      fill: #000;
    }
  }

  svg.icon-user {
    g {
      fill: #fff;
    }
    .st0 {
      stroke: #fff;
    }
  }

  .icon-user__bc {
    background: #000;
  }

  svg.social-icon {
    * {
      fill: #000;
    }
  }
  svg.icon-plus-svg {
    .st0 {
      stroke: #000;
    }
  }

  svg.siluet-icon-svg {
    * {
      fill: #000;
    }
  }

  svg.icon-mobile-svg {
    .st0 {
      stroke: #000;
    }

    .st1 {
      stroke: #000;
    }

    .st2 {
      fill: #000;
    }
  }

  svg.icon-user-svg {
    .st0 {
      stroke: #000;
    }

    .st1 {
      fill: #000;
    }
  }

  svg.icon-waterdevice-svg {
    * {
      fill: #000;
    }
  }

  svg.icon-wallet-svg {
    .st0 {
      stroke: #000;
    }

    .st1 {
      fill: #000;
    }
  }

  svg.icon-stophand-svg {
    .st1 {
      stroke: #000;
    }
  }

  svg.icon-telegram-chat-svg {
    .st0 {
      fill: #000;
    }
    .st2 {
      font-size: 12px;
    }
    .st4 {
      font-size: 9px;
    }
    .st5 {
      stroke: #000;
    }
    .st6 {
      fill: #000;
    }
    text {
      font-family: @base-font;
      font-weight: 500;
    }
    .telegram-icon {
      fill: #fff;
    }
  }

  svg.icon-viber-chat-svg {
    .st0 {
      fill: #000;
    }

    .st5 {
      stroke: #000;
    }

    .st6 {
      fill: #000;
    }
    text {
      font-family: @base-font;
      font-weight: 500;
    }
    .viber-icon {
      * {
        fill: #fff;
      }
    }
  }

  svg.icon-stopwatch-svg {
    .st0 {
      stroke: #fff;
    }

    .st1 {
      stroke: #fff;
    }
  }

  svg.icon-tools-svg {
    .st0 {
      stroke: #fff;
    }
  }

  svg.icon-plus-in-circle-svg {
    * {
      fill: #000;
    }
  }

  svg.icon-hambuger-svg {
    * {
      fill: #000;
    }
  }
}

html.color-black {
  svg.logo-main-svg {
    .st0 {
      fill: #fff;
    }

    .st1 {
      fill: #fff;
    }

    .st2 {
      fill: #fff;
    }
  }

  svg.icon-search-svg {
    .st1 {
      stroke: #fff;
    }
  }

  svg.icon-eye-svg {
    .st0 {
      fill: #000;
    }
  }

  svg.icon-user {
    g {
      fill: #000;
    }
    .st0 {
      stroke: #000;
    }
  }

  .icon-user__bc {
    background: #fff;
  }

  svg.social-icon {
    * {
      fill: #fff;
    }
  }
  svg.icon-plus-svg {
    .st0 {
      stroke: #fff;
    }
  }

  svg.icon-back-svg {
    * {
      fill: #fff;
    }
  }

  svg.siluet-icon-svg {
    * {
      fill: #fff;
    }
  }

  svg.icon-mobile-svg {
    .st0 {
      stroke: #fff;
    }

    .st1 {
      stroke: #fff;
    }

    .st2 {
      fill: #fff;
    }
  }

  svg.icon-user-svg {
    .st0 {
      stroke: #fff;
    }

    .st1 {
      fill: #fff;
    }
  }

  svg.icon-waterdevice-svg {
    * {
      fill: #fff;
    }
  }

  svg.icon-wallet-svg {
    .st0 {
      stroke: #fff;
    }

    .st1 {
      fill: #fff;
    }
  }

  svg.icon-stophand-svg {
    .st1 {
      stroke: #fff;
    }
  }

  svg.icon-telegram-chat-svg {
    .st0 {
      fill: #fff;
    }
    .st2 {
      font-size: 12px;
    }
    .st4 {
      font-size: 9px;
    }
    .st5 {
      stroke: #fff;
    }
    .st6 {
      fill: #fff;
    }
    text {
      font-family: @base-font;
      font-weight: 500;
    }
    .telegram-icon {
      fill: #000;
    }
  }

  svg.icon-viber-chat-svg {
    .st0 {
      fill: #fff;
    }

    .st5 {
      stroke: #fff;
    }

    .st6 {
      fill: #fff;
    }
    text {
      font-family: @base-font;
      font-weight: 500;
    }
    .viber-icon {
      * {
        fill: #000;
      }
    }
  }

  svg.icon-stopwatch-svg {
    .st0 {
      stroke: #000;
    }

    .st1 {
      stroke: #000;
    }
  }

  svg.icon-tools-svg {
    .st0 {
      stroke: #000;
    }
  }

  svg.icon-plus-in-circle-svg {
    * {
      fill: #fff;
    }
  }

  svg.icon-hambuger-svg {
    * {
      fill: #fff;
    }
  }
}
