.text {
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: @colorPrimary3;
  }
  h2,
  h3 {
    margin-bottom: 25px;
  }
  h4 {
    margin-bottom: 15px;
  }
  h5,
  h6 {
    margin-bottom: 20px;
  }
  .colorPrimary {
    color: @colorPrimary;
  }
  .colorPrimary2 {
    color: @colorPrimary2;
  }
  .colorPrimary3 {
    color: @colorPrimary3;
  }
  .colorCyan {
    color: @cyan;
  }
  .underline {
    padding-bottom: 20px;
    margin-bottom: 37px;
    &_dashed {
      border-bottom: 1px dashed #cdcdcd;
    }
  }
  p {
    color: @colorPrimary3;
    font-size: @font-15;
    line-height: @font-25;
    margin-bottom: 20px;
    font-weight: 400;
  }
  .meta {
    font-size: @font-13;
    font-weight: 700;
    margin-bottom: 0 !important;
  }
  .size-M {
    font-size: @font-17;
    line-height: @font-30;
    margin-bottom: 30px;
  }
  ul {
    margin-bottom: 25px;
    li {
      position: relative;
      font-size: @font-15;
      padding-left: 20px;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: @colorPrimary3;
        top: 0.6em;
      }
    }
  }
  li,
  p {
    a {
      color: @colorPrimary2;
      text-decoration: underline;
      @media (min-width: @hoverW) {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  li {
    padding-left: 25px;
    font-size: @font-17;
    color: @colorPrimary3;
    a {
      margin-bottom: 10px;
      transition: @transFast;

      @media (min-width: @hoverW) {
        &:hover {
          color: @red;
        }
      }
    }
    ul {
      padding-left: 15px;
    }
    li,
    p {
      font-size: inherit;
    }
  }

  & > img {
    border-radius: 7px;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .inText-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .inText-footer {
    margin-top: 50px;
  }
  ol {
    & > li {
      padding-left: 30px;
    }
  }
}

@media (max-width: @laptopW) {
  .text {
    h2,
    h3,
    h4 {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: @mobileW) {
  .text {
    h2,
    h3,
    h4 {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: @mobileW) {
  .text {
    .underline {
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    p {
      font-size: @font-14;
      line-height: @font-20;
      margin-bottom: 15px;
    }
    li {
      font-size: @font-15;
      line-height: @font-24;
      padding-left: 20px;
    }
  }
}

html.color-white,
html.color-black {
  .text {
    li {
      a {
        @media (min-width: @hoverW) {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

html.color-white {
  .text {
    .colorPrimary,
    .colorPrimary2,
    .colorPrimary3,
    .colorCyan {
      color: @blackEye;
    }
    .underline {
      &_dashed {
        border-bottom-color: @blackEye;
      }
    }
    p {
      color: @blackEye;
    }
    li,
    p {
      a {
        color: @blackEye;
      }
    }
    li {
      color: @blackEye;
      a {
        color: @blackEye;

        @media (min-width: @hoverW) {
          &:hover {
            color: @blackEye;
          }
        }
      }
    }
    ul {
      li {
        &:before {
          background: @blackEye;
        }
      }
    }
    & > img {
      .border-card-like_black();
    }
  }
}

html.color-black {
  .text {
    .colorPrimary,
    .colorPrimary2,
    .colorPrimary3,
    .colorCyan {
      color: @whiteEye;
    }
    .underline {
      &_dashed {
        border-bottom-color: @whiteEye;
      }
    }
    p {
      color: @whiteEye;
    }
    li,
    p {
      a {
        color: @whiteEye;
      }
    }
    li {
      color: @whiteEye;
      a {
        color: @whiteEye;

        @media (min-width: @hoverW) {
          &:hover {
            color: @whiteEye;
          }
        }
      }
    }
    ul {
      li {
        &:before {
          background: @whiteEye;
        }
      }
    }
    & > img {
      .border-card-like_white();
    }
  }
}
