/*=====================
  Базовая типография
=====================*/

@font-face {
  font-family: 'BeauSans';
  src: url('../fonts/BeauSans/PFBeauSansPro-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'BeauSans';
  src: url('../fonts/BeauSans/PFBeauSansPro-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'BeauSans';
  src: url('../fonts/BeauSans/PFBeauSansPro-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'BeauSans';
  src: url('../fonts/BeauSans/PFBeauSansPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'BeauSans';
  src: url('../fonts/BeauSans/PFBeauSansPro-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@base-font: 'BeauSans', sans-serif;
@title-font: 'BeauSans', serif;
@text-font: 'BeauSans', sans-serif;

body {
  font-family: @base-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: @font-50;
  line-height: 60px;
}

h2 {
  font-size: @font-40;
  line-height: 50px;
}

h3 {
  font-size: @font-30;
  line-height: 40px;
}

h4 {
  font-size: @font-25;
  line-height: 30px;
}

h5 {
  font-size: @font-23;
  line-height: 33px;
}

h6 {
  font-size: @font-20;
  line-height: 30px;
}

p {
  font-size: @font-17;
  font-weight: 300;
  line-height: 30px;
}

ol {
  counter-reset: my-awesome-counter;
  li {
    counter-increment: my-awesome-counter;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &:before {
      content: counter(my-awesome-counter) '. ';
      position: absolute;
      left: 0;
      color: inherit;
      font-weight: inherit;
    }
  }
}

h1.prependLine,
h2.prependLine,
h3.prependLine,
h4.prependLine,
h5.prependLine,
h6.prependLine {
  position: relative;
  padding-left: 100px;
  margin-top: 20px;
  &:before {
    content: '';
    position: absolute;
    background: #283576;
    left: 0;
  }
}
h1.prependLine,
h2.prependLine,
h3.prependLine {
  &:before {
    width: 54px;
    height: 3px;
  }
}

h4.prependLine,
h5.prependLine,
h6.prependLine {
  margin-bottom: 25px;
  &:before {
    width: 40px;
    height: 1px;
  }
}

h1.prependLine {
  &:before {
    top: 0.6em;
  }
}
h2.prependLine {
  &:before {
    top: 0.65em;
  }
}
h3.prependLine {
  &:before {
    top: 0.6em;
  }
}
h4.prependLine {
  &:before {
    top: 0.7em;
  }
}
h5.prependLine {
  &:before {
    top: 0.7em;
  }
}
h6.prependLine {
  &:before {
    top: 0.75em;
  }
}

*.lightFont {
  font-weight: 300;
}

@media (max-width: @laptopW) {
  h1 {
    font-size: @font-48;
    line-height: 58px;
  }

  h2 {
    font-size: @font-38;
    line-height: 48px;
  }

  h3 {
    font-size: @font-28;
    line-height: 38px;
  }

  h4 {
    font-size: @font-24;
    line-height: 29px;
  }

  h5 {
    font-size: @font-22;
    line-height: 32px;
  }
}

@media (min-width: 1200px) {
  p {
    max-width: 1200px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: @font-40;
    line-height: 50px;
  }

  h2 {
    font-size: @font-35;
    line-height: 45px;
  }

  h3 {
    font-size: @font-32;
    line-height: 42px;
  }

  h4 {
    font-size: @font-23;
    line-height: 28px;
  }

  h5 {
    font-size: @font-21;
    line-height: 31px;
  }

  h6 {
    font-size: @font-18;
    line-height: 28px;
  }
}

@media (max-width: @mobileLandscapeW) {
  h1.prependLine,
  h2.prependLine,
  h3.prependLine,
  h4.prependLine,
  h5.prependLine,
  h6.prependLine {
    padding-left: 10px;
    &:before {
      display: none;
    }
  }
  h1 {
    font-size: @font-35;
    line-height: 45px;
  }

  h2 {
    font-size: @font-30;
    line-height: 40px;
  }

  h3 {
    font-size: @font-28;
    line-height: 38px;
  }

  h4 {
    font-size: @font-24;
    line-height: 27px;
  }

  h5 {
    font-size: @font-19;
    line-height: 29px;
  }

  h6 {
    font-size: @font-17;
    line-height: 27px;
  }
  ol {
    li {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: @mobileW) {
  h1 {
    font-size: @font-30;
    line-height: 40px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: @font-25;
    line-height: 35px;
  }

  h3 {
    font-size: @font-23;
    line-height: 33px;
  }

  h4 {
    font-size: @font-21;
    line-height: 26px;
  }

  h5 {
    font-size: @font-19;
    line-height: 29px;
  }

  h6 {
    font-size: @font-17;
    line-height: 27px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:before {
      display: none;
    }
  }
  ol {
    li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: @mobileSSW) {
  h1 {
    font-size: @font-28;
    line-height: 36px;
  }

  h2 {
    font-size: @font-23;
    line-height: 30px;
  }

  h3 {
    font-size: @font-21;
    line-height: 28px;
  }

  h4 {
    font-size: @font-19;
    line-height: 23px;
  }

  h5 {
    font-size: @font-17;
    line-height: 21px;
  }

  h6 {
    font-size: @font-16;
    line-height: 20px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:before {
      display: none;
    }
  }
  ol {
    li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
