.all-sites {
  position: relative;
  z-index: 4;
  &__text {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    z-index: 3;
    user-select: none;
    cursor: pointer;
    &-inner {
      color: @colorPrimary;
      font-size: @font-13;
      display: block;
      position: relative;
      z-index: 3;
      margin-right: 7px;
    }
  }
  .icon-plus-in-circle-svg {
    transform: translateY(-1px);
    z-index: 3;
  }

  &.active {
    .icon-plus-in-circle-svg {
      &__vertical-line {
        display: none;
      }
    }
  }

  .city-list {
    display: none;
    min-width: fit-content;
    border-radius: 5px;
    box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: left;
    background: #fff;
    z-index: 2;

    &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      .city-list__city {
        font-size: @font-13;
        line-height: @font-15;
        color: @navy;
        transition: @transFast;
      }
      .city-list__gerb {
        transition: @transMid;
        max-height: 30px;
      }
      @media (min-width: @hoverW) {
        &:hover {
          .city-list__city {
            color: @cyan;
          }
          .city-list__gerb {
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}

html.color-white {
  .all-sites {
    &__text {
      &-inner {
        color: @blackEye;
      }
    }

    .city-list {
      border: 1px solid #000;
      &__link {
        .city-list__city {
          color: @blackEye;
        }
      }
    }
  }
}

html.color-black {
  .all-sites {
    &__text {
      background: #000;
      &-inner {
        color: @whiteEye;
      }
    }

    .city-list {
      background: #000;
      border: 1px solid #fff;
      &__link {
        .city-list__city {
          color: @whiteEye;
        }
      }
    }
  }
}
