.header-bottom {
  &__left-menu {
    display: flex;
    align-items: center;
  }
  &__left-item {
    .header-bottom__left-link {
      color: inherit;
    }
    &.active {
      cursor: default;
      pointer-events: none;
      color: @colorPrimary2;
    }
    @media (min-width: @hoverW) {
      &:hover:not(.active) {
        color: @colorPrimary2;
      }
    }
  }
  &__left-link {
    color: @colorPrimary3;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 600;
  }
}

html.color-white {
  .header-bottom {
    &__left-item {
      color: @blackEye;
      &.active {
        color: @blackEye;
        text-decoration: underline;
      }
      @media (min-width: @hoverW) {
        &:hover:not(.active) {
          color: @blackEye;
          text-decoration: underline;
        }
      }
    }
  }
}

html.color-black {
  .header-bottom {
    &__left-item {
      color: @whiteEye;
      &.active {
        color: @whiteEye;
        text-decoration: underline;
      }
      @media (min-width: @hoverW) {
        &:hover:not(.active) {
          color: @whiteEye;
          text-decoration: underline;
        }
      }
    }
  }
}
