.header-bottom {
  &__center-menu {
    display: flex;
    align-items: center;
  }
  &__center-item {
    .header-bottom__center-link {
      color: inherit;
    }
    &.active {
      color: @colorPrimary3;
    }
    @media (min-width: @hoverW) {
      &:hover:not(.active) {
        color: @colorPrimary3;
        .header-bottom__center-link {
          background-size: 4px 50px;
        }
      }
    }
  }
  &__center-link {
    color: @colorBlue;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 400;
  }
}

html.color-white {
  .header-bottom {
    &__center-item {
      color: @blackEye;
      &.active {
        text-decoration: underline;
      }
      @media (min-width: @hoverW) {
        &:hover:not(.active) {
          color: @blackEye;
        }
      }
    }
  }
}

html.color-black {
  .header-bottom {
    &__center-item {
      color: @whiteEye;
      &.active {
        text-decoration: underline;
      }

      @media (min-width: @hoverW) {
        &:hover:not(.active) {
          color: @blackEye;
        }
      }
    }
  }
}
