// Top part of header
@import './header-top/header-top.less';
@import './header-top/logo.less';
@import './header-top/search-menu.less';
@import './header-top/eye-version.less';
@import './header-top/lk-user-link.less';
@import './header-top/phone.less';

// Bottom part of header
@import './header-bottom/header-bottom.less';
@import './header-bottom/menu-left.less';
@import './header-bottom/menu-center.less';
@import './header-bottom/all-sites.less';

.header {
  position: relative;
  margin-bottom: 0;
  transition: @transFast;
  z-index: @zHeader;
  display: flex;
  flex-direction: column;
}

// html.color-white {
//   .header {
//     .border-section-like_black();
//   }
// }

// html.color-black {
//   .header {
//     .border-section-like_white();
//   }
// }
