.footer-top {
  padding-top: 93px;
  padding-bottom: 55px;
  background: @blue;
  .wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: @wrapperMaxWidth) {
      padding-right: 50px;
    }
  }
  &__item {
    margin-bottom: 22px;
    min-width: 170px;
    max-width: 170px;
    height: 180px;
    &_social {
      display: flex;
      flex-direction: column;
      @media (min-width: @wrapperMaxWidth) {
        margin-right: 40px;
      }
    }
    .social-icons {
      margin-top: auto;
      margin-bottom: 38px;
      .social-icon {
        transition: @transFast;
        * {
          fill: #fff;
        }
        @media (min-width: @hoverW) {
          &__link {
            &:hover {
              &:nth-child(odd) {
                .social-icon {
                  transform: translateY(-4px);
                }
              }
              &:nth-child(even) {
                .social-icon {
                  transform: translateY(-2px);
                }
              }
            }
          }
        }
      }
    }
  }
  &__title {
    display: block;
    color: #ffffff;
    font-size: @font-18;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 15px;
  }
  &__hot-line-tel {
    transition: @transFast;
    margin-bottom: 0;
    @media (min-width: @hoverW) {
      &:hover {
        color: #cdcdcd;
      }
    }
  }
  &__subtitle {
    display: block;
    color: #fff;
    font-size: @font-13;
    font-weight: 300;
    line-height: 20px;
    margin-top: 5px;
  }
}

@media (max-width: @wrapperMaxWidthAdjusted) {
  .footer-top {
    &__item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media (max-width: @tabletW) {
  .footer-top {
    .wrapper {
      justify-content: space-evenly;
    }
    padding-top: 35px;
    padding-bottom: 15px;
  }
}

html.color-white {
  .footer-top {
    background: @whiteEye;
    .border-section-like_black();
    &__item {
      .social-icons {
        .social-icon {
          * {
            fill: @blackEye;
          }
        }
      }
    }
    &__title {
      color: @blackEye;
    }
    &__hot-line-tel {
      @media (min-width: @hoverW) {
        &:hover {
          color: @blackEye;
        }
      }
    }
    &__subtitle {
      color: @blackEye;
    }
  }
}

html.color-black {
  .footer-top {
    background: @blackEye;
    .border-section-like_white();
    &__item {
      .social-icons {
        .social-icon {
          * {
            fill: @whiteEye;
          }
        }
      }
    }
    &__title {
      color: @whiteEye;
    }
    &__hot-line-tel {
      @media (min-width: @hoverW) {
        &:hover {
          color: @whiteEye;
        }
      }
    }
    &__subtitle {
      color: @whiteEye;
    }
  }
}

html.scale {
  .footer-top {
    .wrapper {
      @media (min-width: @wrapperMaxWidth) {
        padding-right: 0;
      }
    }
    &__item {
      max-width: 200px;
    }
  }
}
