.footer-top {
  padding-top: 93px;
  padding-bottom: 55px;
  background: @colorPrimary;
  .wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: @wrapperMaxWidth) {
      padding-right: 50px;
    }
  }
  &__item {
    margin-bottom: 22px;
    min-width: 170px;
    max-width: 170px;
    height: 180px;
    &_social {
      display: flex;
      flex-direction: column;
      @media (min-width: @wrapperMaxWidth) {
        margin-right: 40px;
      }
    }
    .social-icons {
      margin-top: auto;
      margin-bottom: 38px;
      .social-icon {
        transition: @transFast;
        .fill {
          fill: #fff;
        }
        @media (min-width: @hoverW) {
          &__link {
            &:hover {
              &:nth-child(odd) {
                .social-icon {
                  transform: translateY(-4px);
                }
              }
              &:nth-child(even) {
                .social-icon {
                  transform: translateY(-2px);
                }
              }
            }
          }
        }
      }
    }
  }
  &__title {
    display: block;
    color: #ffffff;
    font-size: @font-18;
    font-weight: 500;
    line-height: 20px;

    &-cont {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_active {
        .footer-top__title-icon {
          transform: rotate(180deg);
        }
      }
    }

    &-icon {
      display: none;
    }
  }

  svg.footer-top__title-icon {
    width: 11px;
    height: 9px;
    box-sizing: content-box;
    padding: 4px;
    transition: @transFast;
    .st0 {
      fill: #fff;
    }
  }
  &__hot-line-tel {
    transition: @transFast;
    margin-bottom: 0;
    @media (min-width: @hoverW) {
      &:hover {
        color: #cdcdcd;
      }
    }
  }
  &__subtitle {
    display: block;
    color: #fff;
    font-size: @font-13;
    font-weight: 300;
    line-height: 20px;
    margin-top: 5px;
  }
}

@media (max-width: @wrapperMaxWidthAdjusted) {
  .footer-top {
    &__item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media (max-width: @tabletW) {
  .footer-top {
    .wrapper {
      justify-content: space-evenly;
    }
    padding-top: 35px;
    padding-bottom: 15px;
  }
}

@media (max-width: @mobileLandscapeW) {
  .footer-top {
    &__item {
      .social-icons {
        margin-bottom: 0px;
      }
    }
  }
}

@media (max-width: @mobileW) {
  .footer-top {
    padding-top: 25px;
    padding-bottom: 25px;
    .wrapper {
      flex-direction: column;
      justify-content: flex-start;
    }
    &__item {
      height: auto;
      max-width: unset;
      margin-left: auto;
      margin-right: auto;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &_social {
        min-height: 95px;
        margin-bottom: 0;
        .social-icons {
          justify-content: space-evenly;
          svg.social-icon {
            height: 35px;
            width: 35px;
          }
        }
      }
    }
    &__title-cont {
      margin-bottom: 10px;
    }
    &__title-icon {
      display: block;
    }
    &__hot-line-tel,
    &__subtitle {
      text-align: center;
    }
    &__hot-line-tel {
      font-size: @font-20;
    }
    &__subtitle {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: @mobileSSW) {
  .footer-top {
    &__item {
      &_social {
        // width: 100%;
      }
    }
  }
}

html.color-white {
  .footer-top {
    background: @whiteEye;
    .border-section-like_black();
    &__item {
      .social-icons {
        .social-icon {
          .fill {
            fill: @blackEye;
          }
        }
      }
    }
    &__title {
      color: @blackEye;
    }
    &__hot-line-tel {
      @media (min-width: @hoverW) {
        &:hover {
          color: @blackEye;
        }
      }
    }
    &__subtitle {
      color: @blackEye;
    }
  }
}

html.color-black {
  .footer-top {
    background: @blackEye;
    .border-section-like_white();
    &__item {
      .social-icons {
        .social-icon {
          .fill {
            fill: @whiteEye;
          }
        }
      }
    }
    &__title {
      color: @whiteEye;
    }
    &__hot-line-tel {
      @media (min-width: @hoverW) {
        &:hover {
          color: @whiteEye;
        }
      }
    }
    &__subtitle {
      color: @whiteEye;
    }
  }
}

html.scale {
  .footer-top {
    .wrapper {
      @media (min-width: @wrapperMaxWidth) {
        padding-right: 0;
      }
    }
    &__item {
      max-width: 200px;
    }
  }
}
