.jumbotron {
  &-slide {
    max-height: 520px;
    min-height: 520px;
    &_opacity {
      @media (max-width: 2160px) {
        background: linear-gradient(
          to bottom,
          rgba(#000, 0.8) 0%,
          rgba(#1caaf2, 0.5) 20%,
          rgba(#1caaf2, 0.95) 100%
        );
      }
      .jumbotron-slide__img {
        opacity: 0.7;
      }
      &.jumbotron-slide_opacity8 {
        .jumbotron-slide__img {
          opacity: 0.8;
        }
      }
    }
    &.jumbotron-slide_milk-bc {
      background: rgba(36, 57, 112, 0.05);
      .jumbotron-slide__subtitle,
      .jumbotron-slide__text {
        color: @colorPrimary;
      }
      .jumbotron-slide__title {
        color: @colorPrimary3;
      }
    }
    &.jumbotron-slide_dark {
      .jumbotron-slide__subtitle {
        color: #000;
      }
      .jumbotron-slide__title {
        color: #000;
      }
      .bage {
        &__icon-bc {
          background: rgba(#fff, 0.4);
        }
        &__icon {
          * {
            stroke: #000;
          }
        }
        &__title {
          color: #000;
        }
        &__text {
          color: #000;
        }
      }
    }
    &__img {
      width: 100%;
      min-height: 520px;
      object-fit: cover;
      max-width: 2160px;
      margin-left: auto;
      margin-right: auto;
    }
    &__content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      display: flex;
      align-items: center;
      .wrapper {
        margin-top: auto;
        margin-bottom: auto;
      }
      &_with-img {
        .wrapper {
          position: relative;
          height: 100%;
          display: flex;
        }
        .jumbotron-slide__inner-cont {
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
    &__inner-cont {
      margin-right: auto;
      position: relative;
      &_restricted {
        padding-right: 200px;
      }
      &_restricted-L {
        padding-right: 400px;
      }
      &_restricted-XL {
        padding-right: 550px;
      }
    }
    &__inner-img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -200px;
      height: 100%;
      z-index: -1;
    }
    &__subtitle {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 28px;
    }
    &__title {
      color: #fff;
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      margin-bottom: 25px;
      &_M {
        font-size: 35px;
        font-weight: 400;
        line-height: 40px;
      }
      &_L {
        font-size: 46px;
        font-weight: 500;
        line-height: 55px;
      }
    }
    &__text {
      color: @colorPrimary;
      font-size: 35px;
      font-weight: 400;
      line-height: 45px;
      margin-bottom: 25px;
    }
    .bage {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      &__icon-bc {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        background: rgba(#fff, 0.1);
        border-radius: 50%;
        margin-right: 40px;
      }
      &__icon {
      }
      &__title {
        color: #ffffff;
        font-size: 35px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 10px;
      }
      &__text {
        color: #ffffff;
        font-size: 25px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

html.color-white {
  .jumbotron {
    &-slide {
      background: rgba(#fff, 0.8);
      .jumbotron-slide__img {
        opacity: 0.5;
      }
      &_opacity {
        background: rgba(#fff, 0.8);
        .jumbotron-slide__img {
          opacity: 0.5;
        }
        &.jumbotron-slide_opacity8 {
          .jumbotron-slide__img {
            opacity: 0.5;
          }
        }
      }
      &.jumbotron-slide_milk-bc {
        .jumbotron-slide__subtitle,
        .jumbotron-slide__text {
          color: @blackEye;
        }
        .jumbotron-slide__title {
          color: @blackEye;
        }
      }
      &.jumbotron-slide_dark {
        .jumbotron-slide__subtitle {
          color: @blackEye;
        }
        .jumbotron-slide__title {
          color: @blackEye;
        }
        .bage {
          &__icon-bc {
            background: rgba(#fff, 0.4);
          }
          &__icon {
            * {
              stroke: @blackEye;
            }
          }
          &__title {
            color: @blackEye;
          }
          &__text {
            color: @blackEye;
          }
        }
      }
      &__subtitle {
        color: @blackEye;
      }
      &__title {
        color: @blackEye;
      }
      &__text {
        color: @blackEye;
      }
      .bage {
        &__icon-bc {
          background: #000;
        }
        &__title {
          color: @blackEye;
        }
        &__text {
          color: @blackEye;
        }
      }
    }
  }
}

html.color-black {
  .jumbotron {
    &-slide {
      background: rgba(#000, 0.8);
      .jumbotron-slide__img {
        opacity: 0.5;
      }
      &_opacity {
        background: rgba(#000, 0.8);
        .jumbotron-slide__img {
          opacity: 0.5;
        }
        &.jumbotron-slide_opacity8 {
          .jumbotron-slide__img {
            opacity: 0.5;
          }
        }
      }
      &.jumbotron-slide_milk-bc {
        .jumbotron-slide__subtitle,
        .jumbotron-slide__text {
          color: @whiteEye;
        }
        .jumbotron-slide__title {
          color: @whiteEye;
        }
      }
      &.jumbotron-slide_dark {
        .jumbotron-slide__subtitle {
          color: @whiteEye;
        }
        .jumbotron-slide__title {
          color: @whiteEye;
        }
        .bage {
          &__icon-bc {
            background: rgba(#fff, 0.4);
          }
          &__icon {
            * {
              stroke: @whiteEye;
            }
          }
          &__title {
            color: @whiteEye;
          }
          &__text {
            color: @whiteEye;
          }
        }
      }
      &__subtitle {
        color: @whiteEye;
      }
      &__title {
        color: @whiteEye;
      }
      &__text {
        color: @whiteEye;
      }
      .bage {
        &__icon-bc {
          background: #000;
        }
        &__title {
          color: @whiteEye;
        }
        &__text {
          color: @whiteEye;
        }
      }
    }
  }
}
