{% extends "../layouts/about.twig" %}

{% block main %}
  <section class="section-contacts">
    {% include '../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Контакты"} %}

    <article id="about-contacts-map" class="map map_contacts map_about-contacts"></article>

    <hr class="dashed">

    <article class="contacts-row">
      <div class="contacts-row__cont">
        <div class="contacts-row__item">
          <p class="contacts-row__title">Приемная</p>
          {% include "../includes/contacts-block.twig" with {"address": "656037, г. Барнаул, проспект Калинина, 116", "addressLink": "https://yandex.ru/maps/?pt=83.744140,53.388919&z=17&l=map", "email": "office_brn@rosvodokanal.ru", "phone": "+7 (3852) 28-29-10", "fax": "+7 (3852) 35-77-10"} %}
        </div>
 
        <div class="contacts-row__item">
          <p class="contacts-row__title">Центр обслуживания абонентов</p>
          {% include "../includes/contacts-block.twig" with {"address": "656037, г. Барнаул, проспект Калинина, 116", "addressLink": "https://yandex.ru/maps/?pt=83.744140,53.388919&z=17&l=map", "phone": "+7 (3852) 28-22-00 "} %}
        </div>

        <div class="contacts-row__item">
          <p class="contacts-row__title">Пресс-центр</p>
          {% include "../includes/contacts-block.twig" with {"address": "656037, г. Барнаул, проспект Калинина, 116", "addressLink": "https://yandex.ru/maps/?pt=83.744140,53.388919&z=17&l=map", "email": "pressabrn@rosvodokanal.ru", "phone": "+7 (3852) 28-29-84"} %}
        </div>
      </div>
    </article>
 
  </section>
{% endblock %}

{% block indvidualPageJS %}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=8e7ca4bf-0e6c-4f83-a757-531abebea7b5&lang=ru_RU" type="text/javascript"></script>
{% endblock %}