{% extends "../layouts/about.twig" %}

{% block main %}
  <section class="section-about-coworkers-youth-volunteering">
    <div class="std-grid__content news-grid__cont">
      <div class="std-grid news-grid">
        {% for idx, newsItem in newsItems %}
          {% if newsItem.fullSize is defined %}
            <a href="pressroom_news_list_detail.html" class="std-grid__item std-grid__item_full-size news-item news-item_full-size">
          {% else %}
            <a href="pressroom_news_list_detail.html" class="std-grid__item news-item">
          {% endif %}
            <div class="news-item__img-cont">
              <img data-src="./img/about-coworkers-youth-volunteering-img.png" alt="" class="lazy news-item__img">
            </div>

            <div class="news-item__bage">
              <div class="news-item__info">
                {% if newsItem.fullSize is defined %}
                  <p class="news-item__title">{{newsItem.title}}</p>
                  <div class="news-item__row">
                    <p class="news-item__meta">{{newsItem.meta}}</p>
                    {% include '../includes/svg/icon-arrow-svg.twig' with {'classes': 'std-grid__arrow news-item__arrow'} %}
                  </div>
                {% else %}
                  <div class="news-item__row news-item__row_on-top">
                    <p class="news-item__meta">{{newsItem.meta}}</p>
                    {% include '../includes/svg/icon-arrow-svg.twig' with {'classes': 'std-grid__arrow news-item__arrow'} %}
                  </div>
                  <p class="news-item__title">{{newsItem.title}}</p>
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>

    {% include '../includes/pagination_pages.twig' %}
  </section>
{% endblock %}