{% extends "../layouts/about.twig" %}

{% block main %}
  <section class="section-about-coworkers-values">
    {% include "../includes/jumbo-img.twig" with {"imgSrc": "./img/about-coworkers-values-img.png", "title": "Корпоративные ценности"} %}
    <article class="text">
      <p>В основе корпоративной культуры «Росводоканал Барнаул» пять ценностей, которые объединяют работников предприятия, являются критериями оценки личного вклада руководителей цехов, отделов и служб водоканала.</p>

      <div class="section-about-coworkers-values__splashes">
        <div class="inText-row text-and-splash">
          <div class="inText-row__left text-and-splash__text"> 
            <h4 class="colorCyan">Добросовестность</h4>
            <ul>
              <li>Добросовестно следовать правилам, стандартам и политикам компании.</li>
              <li>Демонстрировать высокий профессионализм, позволяющий качественно выполнять работу.</li>
              <li>Не замалчивать риски и проблемы, выносить их на обсуждение.</li>
              <li>Предлагать инициативы по оптимизации бизнес-процессов, повышению качества и скорости выполнения работ.</li>
              <li>Вносить коррективы в работу других людей при несоблюдении ими должного качества работ, отклонении от существующих стандартов.</li>
            </ul>
          </div>
          <img data-src="./img/splash-img-1.png" alt="" class="inText-row__right text-and-splash__img">
        </div>

        <div class="inText-row text-and-splash">
          <div class="inText-row__left text-and-splash__text"> 
            <h4 class="colorCyan">Ответственность</h4>
            <ul>
              <li>Принимать ответственность за свои действия.</li>
              <li>Не списывать неудачи на внешние обстоятельства.</li>
              <li>Выполнять взятые на себя обязательства.</li>
              <li>Сталкиваясь со сложностями и препятствиями, не отступать и повторять попытки добиться поставленных целей.</li>
              <li>Достигать поставленных целей через принятие и реализацию эффективных решений.</li>
            </ul>
          </div>
          <img data-src="./img/splash-img-2.png" alt="" class="inText-row__right text-and-splash__img">
        </div>

        <div class="inText-row text-and-splash">
          <div class="inText-row__left text-and-splash__text"> 
            <h4 class="colorCyan">Партнерство</h4>
            <ul>
              <li>Налаживать партнерское взаимодействие с коллегами.</li>
              <li>Проявлять инициативу, предлагая свою помощь коллегам.</li>
              <li>Создавать и поддерживать в команде атмосферу доверия и взаимопомощи. </li>
              <li>Находить разумный баланс индивидуальных и командных интересов, для достижения общей цели.</li>
              <li>Придерживаться принципов справедливого разрешения конфликтных ситуаций.</li>
            </ul>
          </div>
          <img data-src="./img/splash-img-3.png" alt="" class="inText-row__right text-and-splash__img">
        </div>

        <div class="inText-row text-and-splash">
          <div class="inText-row__left text-and-splash__text"> 
            <h4 class="colorCyan">Развитие команды</h4>
            <ul>
              <li>Уделять внимание развитию команды и подготовке преемника. Передавать свой опыт, быть наставником для подчиненных.</li>
              <li>Грамотно оценивать знания и навыки подчиненных.</li>
              <li>Предоставлять развивающую обратную связь.</li>
              <li>Ставить перед сотрудниками сложные развивающие задачи, делегировать полномочия.</li>
              <li>Иметь преемника в оперативном и стратегическом кадровом резерве.</li>
            </ul>
          </div>
          <img data-src="./img/splash-img-4.png" alt="" class="inText-row__right text-and-splash__img">
        </div>

        <div class="inText-row text-and-splash">
          <div class="inText-row__left text-and-splash__text"> 
            <h4 class="colorCyan">Безопасность</h4>
            <ul>
              <li>Поддерживать безопасную среду, где каждый отвечает за собственную и коллективную безопасность.</li>
              <li>Критично относиться к любым небезопасным действиям.</li>
              <li>Достигать целей только безопасными методами.</li>
              <li>Решения отражают приоритет безопасности.</li>
            </ul>
          </div>
          <img data-src="./img/splash-img-5.png" alt="" class="inText-row__right text-and-splash__img">
        </div>
      </div>
    </article>

  </section>
{% endblock %}