{% extends "../layouts/about.twig" %}

{% block main %}
  <section class="section-about-development-publicCouncil-info">
    {% include "../includes/jumbo-img.twig" with {"imgSrc": "./img/about-development-laborProtection-steps-img.png", "title": "Шаг за шагом", "subtitle": "Безопасность"} %}
    <article class="text">
       <p>Культура безопасности труда - основа производственной деятельности «Росводоканал Барнаул». На предприятии реализуется программа повышения безопасности производства «Без происшествий». Среди главных целей проекта – глубокое осознание каждым работником водоканала личной и коллективной ответственности за безопасность.</p> 
    </article>

  </section>
{% endblock %}