{% extends "../layouts/career.twig" %}

{% block main %}
  <section class="section-contacts section-career-contacts">
    {% include "../includes/jumbo-img.twig" with {"imgSrc": "./img/career-contacts-img.png", "title": "Работа в водоканале", "subtitle": "Росводоканал Барнаул"} %}

    {% include "../includes/contacts-block.twig" with {"address": "656037, г. Барнаул, проспект Калинина, 116", "addressLink": "https://yandex.ru/maps/?pt=83.744140,53.388919&z=17&l=map", "email": "e.frank@rosvodokanal.ru", "phone": "+7 (3852) 29-61-82", "fax": "+7 (3852) 35-77-10"} %}

    <hr class="dashed">

    <article id="contacts-map" class="map map_contacts"></article>
  </section>
{% endblock %}

{% block indvidualPageJS %}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=8e7ca4bf-0e6c-4f83-a757-531abebea7b5&lang=ru_RU" type="text/javascript"></script>
{% endblock %}