{% extends "../layouts/career.twig" %}

{% block main %}
  <section class="section-career-study">
    {% include "../includes/jumbo-img.twig" with {"imgSrc": "./img/career-study-img.png", "title": "Молодым специалистам", "subtitle": "Карьера"} %}
    <article class="text">
      <p>В «Росводоканал Барнаул» значительное внимание уделяется обучению персонала, формированию и расширению компетенций, отвечающим текущим требованиям и перспективам развития предприятия.</p>

      <h4 class="colorCyan">Основными принципами обучения являются: </h4> 

      <ul>
        <li>Направленность на цели компании.</li>
        <li>Доступность для всех сотрудников.</li>
        <li>Адресность программ.</li>
        <li>Непрерывность..</li>
        <li>Преемственность.</li>
      </ul>

      <h4 class="colorCyan">Комплексный подход к корпоративному обучения позволяет:</h4> 

      <ul>
        <li>Ускорять процесс адаптации новых сотрудников.</li>
        <li>Повышать квалификацию специалистов через обновление знаний, умений и навыков.</li>
        <li>Сохранять преемственность экспертизы и опыта на предприятии.</li>
        <li>Создавать условия и возможности для карьерного роста.</li>
      </ul>

      <p>Разработку программ, обучение и проведение итоговых оценочных мероприятий осуществляет дирекция по персоналу. </p>
    </article>
  </section>
{% endblock %}