{% extends "../layouts/services.twig" %}

{% block main %}
  {% include '../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Приборы учета воды"} %}

  <section class="section-services-type-networks">
    <div class="text">
      <p>Прибор учета – это индикатор прозрачных взаимоотношений между потребителем и ресурсоснабжающей организацией. Абонент платит только за то, что потребил, экономно расходуя жизненно важный ресурс. Весомый аргумент в пользу счетчика, это стоимость потребления воды по нормативу, которая гораздо выше, чем расчеты по прибору.</p>

      <article class="jumbo-icons__article">
        <hr class="dashed">
        <div class="jumbo-icons">
          <a href="#" class="jumbo-icons__item">
            {% include '../includes/svg/icon-sink-pipe-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Ограничение и возобновление приема сточных вод на внутридомовых сетях</p>
          </a>
        </div>
        <hr class="dashed">
        <a href="#" class="btn btn_colorPrimary mx-auto">Прочие услуги раздела</a>
        <hr class="dashed">
      </article>
      
      <p>Прибор учета – это индикатор прозрачных взаимоотношений между потребителем и ресурсоснабжающей организацией. Абонент платит только за то, что потребил, экономно расходуя жизненно важный ресурс. Весомый аргумент в пользу счетчика, это стоимость потребления воды по нормативу, которая гораздо выше, чем расчеты по прибору.</p>
    </div>
  </section>
{% endblock %}