{% extends "../layouts/services.twig" %}

{% block main %}
  {% include '../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Услуги Росводоканал Барнаул"} %}

  <section class="section-services-type">
    <div class="services-types">
      <artcile class="card apply-overlay">
        <img class="card__bg img-as-bg lazy" data-src="./img/serivces-types_1.png" width="350" height="430">
        <div class="card__content">
          {% include "../includes/svg/icon-family-svg.twig" with {"classes" : "card__icon"} %}
          <h4 class="card__title">Частным <br> лицам</h4>
          <p class="card__text">Ознакомьтесь с перечнем услуг для частных лиц.</p>
          <a href="services_type.html" class="btn btn_trans">Подробнее</a>
        </div>
      </artcile>

      <artcile class="card apply-overlay">
        <img class="card__bg img-as-bg lazy" data-src="./img/serivces-types_2.png" width="350" height="430">
        <div class="card__content">
          {% include "../includes/svg/icon-case-svg.twig" with {"classes" : "card__icon"} %}
          <h4 class="card__title">Юридическим <br> лицам</h4>
          <p class="card__text">Ознакомьтесь с перечнем услуг для юридческих лиц.</p>
          <a href="services_type.html" class="btn btn_trans">Подробнее</a>
        </div>
      </artcile>
    </div>
  </section>
{% endblock %}