{% extends "../layouts/services.twig" %}

{% block main %}

  <section class="section-text-page">
    <article class="jumbo-img__cont">
      <img data-src="./img/text-page-img.png" alt="" class="lazy jumbo-img" width="770" height="370">
      <div class="jumbo-img__marker">
        <div class="jumbo-img__marker-cont">
          <p class="jumbo-img__subtitle">Общая информация</p>
          <h3 class="jumbo-img__title">«Росводоканал Барнаул»</h3>
        </div>
      </div>
    </article>

    <article class="text">
      <p>Более 650 тысяч жителей столицы Алтайского края «Росводоканал Барнаул» обеспечивает питьевой водой и оказывает услуги водоотведения.</p>

      <p>Для удобства потребителей в главном офисе компании (проспект Калинина 116) открыт Центр обслуживания абонентов. Центр работает принципу «единого окна». Посетители могут в одном месте заплатить за услуги водоснабжения и водоотведения, погасить долги, получить консультацию специалистов по начислениям платы, оформить документы на присоединение к сетям, получение технических условий и т.д. </p>
      <p>За последнее время предприятие значительно расширило спектр дополнительных услуг. Среди них – установка и поверка приборов учета, строительство и ремонт водопровода и канализации, промывка сетей, аренда автотранспорта. Все их можно заказать, посетив Центр. </p>
    </article>
  </section>
{% endblock %}