{% extends "../layouts/users.twig" %}

{% block main %}
  {% include '../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Получить технические условия"} %}

  <section class="section-users-individuals-connection-tu">
    <div class="text">
      <p>Технические условия (ТУ) – информационный документ, который определяет максимальную нагрузку в возможных точках подключения и срок подключения объекта капитального строительства к сетям водопровода и канализации, а также позволяет максимально достоверно рассчитать плату за подключение, опираясь на проверенные экспертом данные.</p>  
      
      <p>Срок действия технических условий – не более года от даты выдачи, после чего технические параметры в документе могут измениться. </p>
      
      <p>Для получения заключения необходимо предоставить полный комплект документов, указанный в данном разделе, после чего специалист выдаст вам технические условия, подписанные главным инженером предприятия. </p> 
      
      <p>Вы можете отправить сканы документов для предварительной проверки и записаться на сдачу оригинального пакета через сайт. Статус исполнения заявления можно посмотреть здесь. </p>

      <article class="jumbo-icons__article">
        <hr class="dashed">
        <div class="jumbo-icons">
          <a href="users_individuals_connection_tu_application.html" class="jumbo-icons__item">
            {% include '../includes/svg/icon-paper-with-signature-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Подать заявление </p>
          </a>

          <a href="users_individuals_connection_tu_application.html" class="jumbo-icons__item">
            {% include '../includes/svg/icon-status-list-svg.twig' with {"classes": "jumbo-icons__icon"} %}
            <p class="jumbo-icons__p">Статус исполнения заявления</p>
          </a>
        </div>
        <hr class="dashed">
      </article>

    </div>
  </section>
{% endblock %}