{% extends "../layouts/users.twig" %}

{% block main %}
  <section class="section-users-application">
    {% include '../includes/stdEls/page-content__title_with-underline.twig' with {"title" : "Заявка" } %}
    <article class="text">
      <p>В верхней части страницы расположен текстовый блок с пояснением к разделу. Редактируется через административную панель.</p>
      <hr class="dashed"> 

      <form action="" class="form form-in-text">
        <div class="input-with-label input-with-label_extra-mb">
          <label class="strong">Выберите категорию</label>
          <select class="select-item_general select-item_in-text">
            <option value="1">Частное лицо</option>
            <option value="2">Юридические лица</option>
          </select>
        </div>

        <div class="input-with-label input-with-label_extra-mb">
          <label class="strong">Выберите тип услуги</label>
          <select class="select-item_general select-item_in-text">
            <option value="1">Услуги на сетях водоснабжения и водоотведения</option>
            <option value="2">Услуги вне сетей</option>
            <option value="3">Сетевые дела</option>
          </select>
        </div>
        
        <div class="input-with-label input-with-label_extra-mb">
          <label class="strong">Выберите вид услуги</label>
          <select class="select-item_general select-item_in-text">
            <option value="1">Промывка систем водоснабжения и водоотведения </option>
            <option value="2">Закачка отходов в системы</option>
            <option value="3">Откачка отходов из систем</option>
          </select>
        </div>

        <div class="form-footer">
          <button type="submit" class="btn btn_colorPrimary btn_big btn_big-text submit-element mx-auto">Перейти к оформлению</button>
        </div>
      </form>
    </article>
  </section>
{% endblock %}