.header {
  position: relative;
  margin-bottom: 0;
  // padding: 40px 0 15px;
  transition: @transFast;
  // & .right-block {
  //   text-align: right;
  //   display: inline-block;
  //   margin-top: 27px;
  // }
  // &.zfixed {
  //   z-index: 24;
  // }
  // .mobile-header {
  //   display: none;
  //   position: relative;
  //   background: #fff;
  //   padding: 25px 0 7px 19px;
  //   & .logo {
  //     margin-right: 36px;
  //   }
  //   & .eye-version_mob {
  //     position: relative;
  //     top: 10px;
  //   }
  // }
  // & .mobile-close {
  //   position: absolute;
  //   right: 25px;
  //   top: 40px;
  // }

  // &.active {
  //   background: #f6f6f6;
  //   box-shadow: 0px 5px 18px 4px #e5e5e5;
  // }
  // & .logo {
  //   display: inline-block;
  // }

  // & .menu-block {
  //   position: relative;
  //   z-index: 100;
  //   //text-align: center;
  // }
  // & .mobile-menu {
  //   display: inline-block;
  //   margin: 0;
  //   vertical-align: middle;
  // }
}

// .mobile-toggle {
//   position: absolute;
//   right: 22px;
//   top: 2px;
//   display: none;
// }

// .btn_mob {
//   width: 18px;
//   padding: 15px 0 11px;
//   margin: 9px 0 0;
//   float: right;
//   cursor: pointer;
//   margin-right: 10px;
//   margin-top: auto;
//   margin-bottom: auto;
// }

// .btn_mob span {
//   background: #000;
//   height: 3px;
//   display: block;
//   margin: 0 0 3px;
//   left: 0;
//   width: 100%;
//   position: relative;
//   -webkit-border-radius: 5px;
//   -moz-border-radius: 5px;
//   border-radius: 5px;
//   -webkit-transition: 0.3s linear;
//   -moz-transition: 0.3s linear;
//   -ms-transition: 0.3s linear;
//   -o-transition: 0.3s linear;
//   transition: 0.3s linear;
//   -moz-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   -ms-transform: rotate(0deg);
//   -webkit-transform: rotate(0deg);
//   transform: rotate(0deg);
// }

// .btn_mob.open span:nth-child(1) {
//   top: 6px;
//   -moz-transform: rotate(45deg);
//   -o-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   -webkit-transform: rotate(45deg);
//   transform: rotate(45deg);
// }

// .btn_mob.open span:nth-child(2) {
//   width: 0;
//   left: 50%;
// }

// .btn_mob.open span:nth-child(3) {
//   top: -6px;
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   -ms-transform: rotate(-45deg);
//   -webkit-transform: rotate(-45deg);
//   transform: rotate(-45deg);
// }

// .navbar .menu-block .cart-icon img {
//   width: 50px;
// }

// @media screen and (max-width: 960px) {
//   .navbar .submenu::before {
//     content: '';
//     display: none;
//   }
// }
