.container-404 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-top: 15px;
  margin-bottom: 50px;
  padding: 30px;
  z-index: 2;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  text-align: center;
}

html.color-black {
  .container-404 {
    border-radius: 50px;
    background: #161616;
    box-shadow: 20px 20px 60px #131313, -20px -20px 60px #191919;
  }
}
