.contacts-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &__title {
    color: @colorPrimary;
    font-size: @font-20;
    font-weight: 700;
    line-height: @font-25;
  }
}
