.form {
  &_flex {
    &-vertical {
      display: flex;
      flex-direction: column;
    }
  }
  &_bc-grey {
    background: #f1f3f4;
  }

  &_subscribe-to-news {
    label {
      font-size: @font-18;
      line-height: @font-20;
      margin-bottom: 15px;
    }
    .btn {
      margin-top: 15px;
    }
  }

  &_autorization {
    .input-with-label {
      margin-bottom: 15px;
    }
    .form-footer {
      margin-top: 10px;
    }
  }

  &_arrange-appointment {
    .form-title {
      margin-bottom: 24px;
    }
    .input-with-label {
      margin-bottom: 15px;
    }
    label {
      margin-bottom: 4px;
    }
  }

  &-footer {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &_vertical {
      flex-direction: column;
    }
    .checkboxContainer,
    .submit-element {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    &__p {
      color: @colorPrimary3;
      font-size: @font-13;
      font-weight: 500;
      line-height: @font-20;
      margin-bottom: 15px;
      a {
        color: @colorPrimary;
        text-decoration: underline;
        @media (min-width: @hoverW) {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    &__link {
      color: @colorPrimary3;
      font-size: @font-13;
      font-weight: 500;
      line-height: @font-20;
      text-decoration: underline;
      @media (min-width: @hoverW) {
        &:hover {
          text-decoration: none;
        }
      }
    }
    &_spacing {
      &-S {
        margin-top: 10px;
      }
    }
  }

  &-title {
    &:not(.form-title_space-bottom) {
      margin-top: 30px;
    }
    margin-bottom: 10px;
    &.form-title_without-space {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &-info {
    color: #9fa6aa;
    font-size: @font-13;
    font-weight: 400;
    line-height: @font-15;
    font-style: italic;
  }

  &-titles-block {
    margin-top: 30px;
    margin-bottom: 10px;
    .form-title {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.forget-password {
  margin-right: auto;
  text-decoration: underline;
  transition: @transFast;
  margin-bottom: 15px;
  @media (min-width: @hoverW) {
    &:hover {
      color: @red;
      text-decoration: none;
    }
  }
}

@media (max-width: @tabletW) {
  .form {
    &-footer {
      margin-top: 30px;
    }
  }
}

@media (max-width: @mobileLandscapeWBig) {
  .form {
    &-footer {
      margin-top: 25px;
    }
  }
}

@media (max-width: @mobileW) {
  .form {
    &-footer {
      margin-top: 15px;
    }
  }
}

@media (max-width: 450px) {
  .form {
    &-footer {
      flex-direction: column;
      align-items: flex-start;

      .submit-element {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

html.color-white,
html.color-black {
  .form {
    &_bc-grey {
      border-bottom: 2px solid @whiteEye;
      border-left: 2px solid @whiteEye;
      border-right: 2px solid @whiteEye;
    }
  }
}
html.color-white {
  .form {
    &_bc-grey {
      border-color: @blackEye;
      background: @whiteEye;
    }
    &-footer {
      &__p {
        color: @blackEye;
        a {
          color: @blackEye;
        }
      }
    }
  }
}

html.color-black {
  .form {
    &_bc-grey {
      border-color: @whiteEye;
      background: @blackEye;
    }
    &-footer {
      &__p {
        color: @whiteEye;
        a {
          color: @whiteEye;
        }
      }
    }
  }
}
