.input-cont {
  position: relative;
  input {
    width: 100%;
  }

  .input__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
}

.input_file__on-top,
input:not([type='submit']),
textarea {
  font-size: @font-14;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid #dce4e8;
  background: #ffffff;
  color: @colorPrimary3;
  transition: @transFast;

  &.input_grey {
    border: 1px solid #dce4e8;
    background: #f1f3f4;
  }
}

input:not([type='submit']),
textarea {
  &.required[data-isValid='false'] {
    border-color: @invalidBorderColor !important;
  }
}

.input_file {
  input.required[data-isValid='false'] {
    & ~ .input_file__on-top {
      border-color: @invalidBorderColor !important;
    }
  }

  &.disabled {
    input.required[data-isValid='false'] {
      & ~ .input_file__on-top {
        border-color: #dce4e8 !important;
        background: #f1f3f4;
      }
    }
  }
}

.input_file_dashed {
  .input_file__on-top {
    border-style: dashed !important;
  }
}

input.input_dashed:not([type='submit']),
textarea.textarea_dashed {
  border-style: dashed !important;
}

textarea {
  resize: none;
  height: 80px;
  overflow: auto;
  .styled-scrollbar();
  &:focus {
    outline: none;
  }
}

html.color-white {
  .input_file__on-top,
  input:not([type='submit']),
  textarea {
    border-color: @blackEye;
    color: @blackEye;
    &.input_grey {
      border-color: @blackEye;
      color: @blackEye;
      background: @whiteEye;
    }
  }

  textarea {
    .styled-scrollbar_for-light-theme();
  }
}

html.color-black {
  .input_file__on-top,
  input:not([type='submit']),
  textarea {
    border-color: @whiteEye;
    color: @whiteEye;
    background: @blackEye;

    &.input_grey {
      border-color: @whiteEye;
      color: @whiteEye;
      background: @blackEye;
    }
  }

  textarea {
    .styled-scrollbar_for-dark-theme();
  }
}
