.input_file {
  position: relative;

  input[type='file'] {
    position: relative;
    opacity: 0;
    z-index: 2;
    width: 100%;
  }

  &__filename {
    display: block;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__on-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: @transFast;
  }

  

  &-grey {
    .input_file__on-top {
      border: 1px solid #dce4e8;
      background: #f1f3f4;
    }
  }

  &.input_file-with-file {
    .input_file__btn_add {
      display: none;
    }
    .input_file__btn_delete {
      display: table;
      pointer-events: initial;
    }
    .input_file__btn__on-top {
      z-index: 2;
    }

    input[type='file'] {
      z-index: -1;
    }
  }

  & &__btn {
    &_add {
      display: table;
    }
    &_delete {
      display: none;
      pointer-events: none;
    }
  }
}

html.color-white {
  .input_file {
    &-grey {
      .input_file__on-top {
        border-color: @blackEye;
        background: @whiteEye;
      }
    }
  }
}

html.color-black {
  .input_file {
    &-grey {
      .input_file__on-top {
        border-color: @whiteEye;
        background: @blackEye;
      }
    }
  }
}
