{% extends "../../layouts/purchase.twig" %}

{% block main %}
  <section class="section-purchase-info">
    {% include "../../includes/jumbo-img.twig" with {"imgSrc": "../assets/img/purchases-info-img.png", "title": "Информация о закупках"} %}
    <article class="text">
       <p>«Росводоканал Барнаул» осуществляет закупочную деятельность, обеспечивая конкурентный подход, эффективное взаимодействие и партнёрские отношения с поставщиками и подрядчиками. Для этих целей в компании используются принципы:</p>
       <ul>
        <li>информационной открытости закупок;</li>
        <li>обеспечения равноправия, справедливости, отсутствия дискриминации;</li>
        <li>сохранения непредвзятости в процессе закупок;</li>
        <li>принятия объективных решений.</li>
       </ul>
       <p>С 1 января 2012 года предприятия ГК «Росводоканал» проводят закупки в соответствии с Федеральным Законом № 223-ФЗ «О закупках товаров, работ, услуг отдельными видами юридических лиц» от 19.07.2011 г. и на основании <a href="#">Положения о Закупках</a>).</p>
    </article>

    {% include '../../includes/stdEls/info-hot.twig' with {"classes": "info-hot_horizontal"} %}
  </section>
{% endblock %}