.section-career-jobs-categories {
}

.form_jobs-categories {
  padding: 25px;
}

@media (max-width: @mobileLandscapeW) {
  .form_jobs-categories {
    padding: 20px;
  }
}

@media (max-width: @mobileW) {
  .form_jobs-categories {
    padding: 15px;
  }
}

html.scale {
  .form_jobs-categories {
    padding: 10px;
  }
}