.section-career-jobs-categories {
  .std-grid.jobs-grid {
    margin-bottom: -40px;
  }
  .jobs-categories-form__cont {
    margin-top: 45px;
  }
}

.form_jobs-categories {
  padding: 25px;
}

@media (max-width: @mobileLandscapeW) {
  .form_jobs-categories {
    padding: 20px;
  }
  .section-career-jobs-categories {
    .std-grid.jobs-grid {
      margin-bottom: -30px;
    }
    .jobs-categories-form__cont {
      margin-top: 15px;
    }
  }
}

@media (max-width: @mobileW) {
  .form_jobs-categories {
    padding: 15px;
  }
}

html.scale {
  .form_jobs-categories {
    padding: 10px;
  }
}
