.section-career-jobs-list {
  .page-content__title-cont {
    flex-wrap: nowrap;
  }
}

@media (max-width: @mobileLandscapeW) {
  .section-career-jobs-list {
    .page-content__title-cont {
      flex-wrap: wrap;
      .btn {
        margin-left: 0;
      }
    }
  }
}