.section-news {
  position: relative;
  z-index: 2;
  & &__title {
    margin-bottom: 28px;
  }
}

.news {
  &__row {
    .row-flex();
  }
  &__item {
    .col();
    .size(4);
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
    @media (min-width: @hoverW) {
      &:hover {
        .news__icon {
          transform: translateX(5px);
        }
        .news__img {
          opacity: 0.7;
        }
      }
    }
  }
  &__meta {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
  }
  &__date {
    color: @colorPrimary;
    font-size: 13px;
    font-weight: 700;
  }
  &__item &__icon {
    margin-left: 8px;
    transition: @transFast;
    .st0 {
      stroke: @colorPrimary;
    }
  }
  &__title {
    color: @colorPrimary3;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 5px;
  }
  &__img-container {
    background: @colorPrimary3;
    border-radius: 5px;
    width: 370px;
    height: 210px;
  }
  &__img {
    transition: @transFast;
    opacity: 0.5;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
