.section-quick-menu {
  margin-top: 60px;
  margin-bottom: 0px;
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: -5px;
    margin-right: -5px;
  }
  .quick-menu {
    &__item {
      margin-left: 5px;
      margin-right: 5px;
      width: calc(16.666666666666668% - 10px);
      min-width: 185px;
      height: 350px;
      position: relative;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;

      &:not(.quick-menu__item_contentfull) {
        padding: 20px 10px 30px 20px;
      }
      &_contentfull {
        padding: 30px 10px 12px 20px;
        .quick-menu__icon {
          margin-bottom: 20px;
          margin-left: 10px;
        }
        .quick-menu__title{
          margin-bottom: 3px;
        }
        .btn:not(:last-child) {
          margin-bottom: 5px;
        }
      }
      &:not(.quick-menu__item_contentfull) {
        .quick-menu__icon {
          margin-bottom: 30px;
          margin-top: 10px;
        }
        .quick-menu__title {
          margin-bottom: 13px;
        }
      }

      .btn {
        margin-top: auto;
        z-index: 1;
      }

      &.quick-menu__item_with-wallet {
        .quick-menu__title {
          margin-bottom: 35px;
        }
      }
      &.quick-menu__item_with-askedo {
        .quick-menu__title {
          margin-bottom: 10px;
        }
      }
    }
    &__content {
    }
    &__bg {
      opacity: 0.3;
    }
    &__title {
      color: #ffffff;
      font-size: @font-16;
      font-weight: 600;
      line-height: 20px;
    }
    &__p {
      color: #ffffff;
      font-size: @font-14;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: auto;
    }
  }
}

@media (max-width: @wrapperMaxWidth) {
  .section-quick-menu {
    &.wrapper {
      max-width: 630px;
    }
  }
}

@media (max-width: @mobileLandscapeWBig) {
  .section-quick-menu {
    margin-top: 30px;
  }
}

@media (max-width: @mobileW) {
  .section-quick-menu {
    &__row {
      margin-right: -10px;
      margin-left: -10px;
    }
  }
}

html.color-white {
  .section-quick-menu {
    .quick-menu {
      &__item {
        .border-card-like_black(2px);
      }
      &__title {
        color: #000;
      }
      &__p {
        color: #000;
      }
    }
  }
}

html.color-black {
  .section-quick-menu {
    .quick-menu {
      &__item {
        .border-card-like_white(2px);
      }
      &__title {
        color: #fff;
      }
      &__p {
        color: #fff;
      }
    }
  }
}

html.scale {
  .section-quick-menu {
    .quick-menu {
      &__item {
        &:not(.quick-menu__item_contentfull) {
          padding: 25px 10px 25px 15px;
          .quick-menu__icon {
            margin-bottom: 10px;
          }
        }
        &_contentfull {
          padding: 10px 5px;
        }
        &_with-two-btns {
          .btn {
            &:not(:last-child) {
              margin-bottom: 3px;
            }
            &:last-child {
              margin-top: 3px;
            }
          }
        }
      }
      &__title {
        margin-bottom: 5px;
      }
    }
  }
}
