.section-news {
  position: relative;
  z-index: 2;
}

.news {
  &__row {
    .row-flex();
    justify-content: space-evenly;
  }
  &__item {
    .col();
    .size(4);
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
    min-width: 280px;
    @media (min-width: @hoverW) {
      &:hover {
        .news__icon {
          transform: translateX(5px);
        }
        .news__img {
          opacity: 0.7;
        }
      }
    }
    &:nth-child(4) {
      display: none;
    }
  }
  &__meta {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
  }
  &__date {
    color: @colorPrimary;
    font-size: @font-13;
    font-weight: 600;
  }
  &__item &__icon {
    margin-left: 8px;
    transition: @transFast;
    .st0 {
      stroke: @colorPrimary;
    }
  }
  &__title {
    color: @colorPrimary3;
    font-size: @font-15;
    font-weight: 400;
    line-height: 20px;
    padding-left: 5px;
  }
  &__img-container {
    background: @colorPrimary3;
    border-radius: 5px;
    width: 370px;
    height: 210px;
    max-width: 100%;
  }
  &__img {
    transition: @transFast;
    opacity: 0.5;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: @tabletW) {
  .section-news {
    &.wrapper {
      max-width: 630px;
    }
    .btn {
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: fit-content;
    }
  }

  .news {
    &__item {
      &:nth-child(4) {
        display: block;
      }
    }
  }
}

@media (max-width: 700px) {
  .news {
    &__item {
      width: 85%;
    }
    &__meta {
      margin-top: 5px;
      margin-bottom: 0px;
    }
    &__img {
      &-container {
        width: 100%;
        height: 250px;
      }
    }
  }
}

html.color-white,
html.color-black {
  .news {
    &__item {
      border-radius: 6px;
      padding-bottom: 1rem;

      @media (min-width: @hoverW) {
        &:hover {
          .news__img {
            opacity: 1;
          }
        }
      }
    }

    &__img-container {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 2px solid #000;
    }
    &__img {
      opacity: 1;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

html.color-white {
  .news {
    &__item {
      .border-card-like_black();
    }

    &__date {
      color: @blackEye;
    }
    &__icon {
      .st0 {
        stroke: @blackEye;
      }
    }
    &__title {
      color: @blackEye;
    }
    &__img-container {
      background: @blackEye;
      border-bottom-color: @blackEye;
    }
  }
}

html.color-black {
  .news {
    &__item {
      .border-card-like_white();
    }

    &__date {
      color: @whiteEye;
    }
    &__icon {
      .st0 {
        stroke: @whiteEye;
      }
    }
    &__title {
      color: @whiteEye;
    }
    &__img-container {
      background: @whiteEye;
      border-bottom-color: @whiteEye;
    }
  }
}
