html.color-white {
  .header-bottom {
    &__left-link {
      color: @blackEye !important;
    }
  }
}

html.color-black {
  .header-bottom {
    &__left-link {
      color: @whiteEye !important;
    }
  }
}

.header-bottom {
  &__left-menu {
    display: flex;
    align-items: center;
  }
  &__left-item {
    &.active {
      .header-bottom__left-link {
        color: @colorPrimary;
      }
    }
    @media (min-width: @hoverW) {
      &:hover:not(.active) {
        .header-bottom__left-link {
          color: @colorPrimary;
        }
      }
    }
  }
  &__left-link {
    color: @colorPrimary3;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 700;
  }
}
