html.color-white {
  &__center-item {
    .header-bottom__center-link {
      color: @blackEye !important;
    }
  }
  &__center-link {
    color: @blackEye !important;
  }
}

html.color-black {
  &__center-item {
    .header-bottom__center-link {
      color: @whiteEye !important;
    }
  }
  &__center-link {
    color: @whiteEye !important;
  }
}

.header-bottom {
  &__center-menu {
    display: flex;
    align-items: center;
  }
  &__center-item {
    &.active {
      .header-bottom__center-link {
        color: @colorPrimary3;
      }
    }
    @media (min-width: @hoverW) {
      &:hover:not(.active) {
        .header-bottom__center-link {
          color: @colorPrimary3;
          background-size: 4px 50px;
        }
      }
    }
  }
  &__center-link {
    color: @colorBlue;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 400;
  }
}
