.header {
  .eye-version {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 50px;
    border: 2px solid @colorPrimary3;
    padding: 6px 15px;
    transition: @transMid;
    background: #fff;

    &-std {
      min-width: 235px;
    }

    &__text {
      font-size: 13px;
      color: @colorPrimary3;
      margin-left: 10px;
      transition: @transMid;
    }

    &__spez {
      display: block;
    }

    &__std {
      display: none;
    }

    &-active {
      .eye-version__spez {
        display: none;
      }

      .eye-version__std {
        display: block;
      }
    }

    @media (min-width: @hoverW) {
      &:hover {
        background: @colorPrimary3;
        .eye-version__text {
          color: #fff;
        }
        .icon-eye-svg {
          * {
            fill: #fff;
          }
        }
      }
    }
  }
}
