.header {
  .lk-user-link {
    display: flex;
    align-items: center;
    &__text {
      font-size: 13px;
      text-decoration: underline;
      margin-left: 8px;
      font-weight: 500;
      color: @colorPrimary3;
    }
    @media (min-width: @hoverW) {
      &:hover {
        .lk-user-link__text {
          text-decoration: none;
        }
      }
    }
  }
}
