.header {
  .phone {
    &__top-text {
      color: @colorPrimary;
      font-size: 19px;
      font-weight: 600;
      display: block;
      text-align: right;
    }
    &__bottom-text {
      color: @colorPrimary3;
      font-size: 12px;
      line-height: 13px;
      font-weight: 400;
      display: block;
      text-align: right;
    }
    &__top-text,
    &__bottom-text {
      transition: @transFast;
    }
    @media (min-width: @hoverW) {
      &:hover {
        .phone__top-text {
          color: @colorPrimary3;
        }
      }
    }
  }
}
