.contacts {
  &__list {
    margin-top: 19px;
    margin-bottom: 35px;

    &.press-list {
      margin-bottom: 0;
    }
    & li {
      margin-bottom: 13px;
      color: @blue;
      font-size: 17px;
      & p {
        margin-top: 0;
        line-height: 20px;
        color: @blue;
        font-size: 17px;
        &.adress {
          font-size: 17px;
        }
      }
      & a {
        display: block;
      }
    }
    .title {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 5px;
      color: @blue;
    }
  }
  &__adress {
    padding: 48px 0;
  }
  &__item {
    position: relative;
    padding-left: 75px;
    margin-bottom: 79px;
    & a {
      font-size: 15px;
      line-height: 20px;
      &.link {
        margin-top: -13px;
        display: block;
        & img {
          margin-left: 10px;
        }
      }
    }

  }
  &-form {
    border-top: 1px solid #cacaca;
    padding-left: 75px;
    position: relative;
    padding-top: 46px;
    margin-top: 8px;
    & .checkbox {
      margin-top: 10px;
      display: block;
    }
    & .title {
      position: relative;
      margin-bottom: 38px;
      &:before {
        content: url("../img/icon_comment.png");
        position: absolute;
        left: -68px;
        top: -4px;
      }
    }
  }
}
.contact-block {
  background: @cyan;
  border-radius: 5px;
  padding: 48px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  margin-top: 63px;
  & .descr {
    padding-left: 10px;
    padding-top: 6px;
    & p {
      font-size: 13px;
      line-height: 20px;
    }
  }
  & .info {
    position: relative;
    margin-bottom: 5px;
    &:after {
      right: 13px;
      width: 3px;
      height: 110%;
      top: 4px;
      position: absolute;
      content: '';
      background: white;
    }
  }
  & .subtitle, & p, & a {
    color: white;
  }
  & .phone {
    font-weight: 600;
    font-size: 31px;
    margin: 12px 0;
    display: block;
    white-space: nowrap;
  }
  & .mail {
    font-weight: 600;
    font-size: 18px;
  }
}


#map {
  border-top: 1px dashed #bdc3c6;
  padding-top: 51px;
  width: 100%;
  min-height: 431px;
  margin-top: 53px;
  margin-bottom: 60px;
  &.press-map {
    margin-top: 31px;
    margin-bottom: 50px;
  }
}
