.jumbotron {
  min-height: 520px;
  position: relative;
  margin-bottom: 0 !important;
  & .wrapper
  {
    height: 100%;
  }

  &__slider {
    height: 100%;
    min-height: 520px;
    &-text {

      & .title {
        color:white;
        font-size: 60px;
        line-height: 70px;
        font-weight: 300;
        margin: 0;
        width: 80%;
        & span
        {
          text-transform: uppercase;
          display: block;
        }
      }

    }
    & .slide {
      position: relative;
      height: 520px;
      &-img {
        position: absolute;
        z-index: -1;
        width: 100%;
        min-height: 100%;
      }
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 0;
    top: 109px;
    right: 19.2%;
    display: block;
    width: 30px;
    padding: 0;
    margin: auto;
    list-style: none;
    text-align: center;
    li {
      position: relative;
      display: block;
      /* margin-bottom: 39px; */
      width: 20px;
      height: 20px;
      margin: 30px 5px;
      padding: 0;
      cursor: pointer;
      button {
        font-size: 12px;
        line-height: 0;
        display: block;
        width: 20px;
        font-weight: 600;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: #ffffff;
        border: 0;
        outline: none;
        background: transparent;
        &:before {
          top: 9px;
          right: 27px;
          left:auto;
          width: 10px;
          height: 2px;
          content: '';
          text-align: center;
          opacity: 1;
          background: white;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transition:0.5s;
        }
      }
      &.slick-active button:before {
        opacity: 1;
        width: 24px;
      }
    }
  }
}
