.main {
  &-tabs {
    padding: 42px 0 40px;
    & .col-md-2-5 {
      padding-right: 10px;
      padding-left: 10px;
    }
    & .tab {
      position: relative;
      height: 350px;
      & .icon {
        position: absolute;
        top: 30px;
        left: 28px;
      }
      &-text {
        position: absolute;
        top: 160px;
        left: 22px;
        & p {
          color: white;
          font-size: 15px;
          margin: 0;
          line-height: 20px;
          &.title {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            margin-bottom: 14px;
          }
        }
      }
      & .trans-btn {
        position: absolute;
        bottom: 30px;
        left: 25px;
      }
      & > a {
        display: block;
      }
    }
  }
  &-numbers {
    padding: 52px 0;

    & .number {
      text-align: center;
      & .img-container {
        height: 100px;
        margin-bottom: 11px;
      }
      & .count {
        font-size: 40px;
        font-weight: 600;
        color: @navy;
        margin: 0;
        margin-bottom: 20px;
      }
      & .descr {
        font-size: 13px;
        line-height: 15px;
        color: @navy;
        margin: 0;
      }
    }
    &.info-numbers {
      padding: 52px 0 0;
      margin: 47px 0;
      border-top: 1px dashed #bdc3c6;
      border-bottom: 1px dashed #bdc3c6;

      & .number {
        margin-bottom: 96px;
        .img-container {
          margin-bottom: 6px;
        }
        .count {
          margin-bottom: 20px;
        }
      }
      .list .col-md-3:nth-child(n + 4) .number {
        margin-bottom: 51px;
      }
    }
  }
  &-new {
    .news__item {
      position: relative;
      margin-bottom: 59px !important;
      & .info {
        position: absolute;
        bottom: 0;
        padding-left: 25px;
        padding-bottom: 16px;
        padding-top: 23px;
        width: 100%;
        background: rgba(0, 0, 0, 0.14);
        & .date {
          line-height: 0;
          & p {
            font-size: 12px;
          }
        }
        & .title p {
          font-weight: 600;
        }
        & .date p,
        & .title p {
          color: white;
        }
      }
    }
  }
  &-news {
    padding: 50px 0 30px;
    &.volun-news {
      padding-top: 0;
      .main-new .city {
        position: absolute;
        top: 28px;
        left: -3px;
        background: #00a2dd;
        border-radius: 5px;
        padding: 12px 16px;
        height: 30px;
        & span {
          font-size: 15px;
        }
      }
      .news__item {
        margin-bottom: 40px;
        .city {
          background: #00a2dd;
        }
      }
    }
    & .h2-main {
      margin-bottom: 27px;
    }
    .news__item {
      margin-bottom: 52px;
    }
    & .more-btn {
      float: right;
      font-size: 13px;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
  &-map {
    background: @navy;
    padding: 74px 0 83px;
    & .h3-main {
      color: white;
      margin-bottom: 8px;
      margin-top: 9px;
    }
    & .map-col {
      padding-right: 0;
    }
    & .map-container {
      position: relative;
      line-height: 0;
    }
    & .regions-map {
      & .region {
        position: absolute;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          filter: grayscale(1) contrast(10);
        }
        &.active-region,
        &.hover-region {
          filter: grayscale(1) contrast(10);
        }
      }
      #archangelsk {
        top: 109px;
        left: 142px;
      }
      #barnaul {
        left: 262px;
        bottom: 43px;
      }
      #omsk {
        left: 229px;
        bottom: 87px;
      }
      #tumen {
        top: 229px;
        left: 262px;
      }
      #voronezh {
        top: 185px;
        left: 66px;
      }
      #krasnodar {
        left: 22px;
        bottom: 131px;
      }
      #orenburg {
        left: 120px;
        bottom: 109px;
      }
    }
    & .regions-list {
      margin: 0;
      padding-left: 38px;
      & > li {
        margin-bottom: 5px;
        position: relative;
        padding-left: 12px;
        &:before {
          content: url('../img/plus-blue.png');
          left: -10px;
          position: absolute;
        }
        &.active-region {
          &:before {
            content: url('../img/minus-blue.png');
            top: -3px;
          }
        }
        & a.city {
          font-size: 14px;
          font-weight: 800;
          color: @cyan;
          transition: 0.5s;
          cursor: pointer;
        }
        &:hover {
          & a.city {
            color: white;
          }
        }
        & .hide-block {
          display: none;
          margin-top: 13px;
          padding-left: 20px;
          margin-bottom: 19px;
          & ul {
            & li {
              color: white;
              font-size: 13px;
              line-height: 17px;
              margin-bottom: 2px;
              position: relative;
              &:before {
                position: absolute;
                left: -20px;
                top: -1px;
                content: '•';
                color: @cyan;
              }
            }
          }
        }
        &.active-region,
        &.hover-region {
          & a.city {
            color: white;
          }
        }
      }
    }
  }
}
