body.spez {
  &.scale-1 {
    font-size: 16px !important;
    .header .logo {
      margin-right: 20px;
    }
    .header-menu > li:hover,
    .header-phone:hover {
      background: #dedede;
      box-shadow: 0 0 0 8px #dedede;
    }
    .header-menu > li > a:hover {
      color: #000;
    }
    .navbar .right-block {
      float: left;
      margin-top: 0;
      padding-bottom: 20px;
    }
    .main-learning__item .info .descr {
      line-height: 20px;
    }
    .footer p,
    .footer a {
      line-height: 30px;
    }
    .footer a:hover {
      color: rgba(0, 0, 0, 0.5);
    }
    .siluet {
      white-space: normal;
    }
    .header-menu li,
    .header-btn,
    .header-phone,
    .header-lang,
    .main-news .more-btn,
    .btn,
    .news__item .info .date .month,
    .news__item .info .title p,
    .main-learning__item .info .title,
    .main-learning__item .info .descr,
    .main-about p,
    .main-about__slider-navigate .pagingInfo .slide__count,
    .footer li,
    .footer p,
    .footer li a,
    input,
    textarea,
    .contact-col .checkbox__text,
    .contact-col .checkbox__text a {
      font-size: 16px !important;
    }
  }
  &.scale-2 {
    font-size: 18px !important;

    .header .logo {
      margin-right: 20px;
    }
    .header-menu > li:hover,
    .header-phone:hover {
      background: #dedede;
      box-shadow: 0 0 0 8px #dedede;
    }
    .header-menu > li > a:hover {
      color: #000;
    }
    .navbar .submenu-block {
      width: 290px;
    }
    .navbar .right-block {
      float: left;
      margin-top: 0;
      padding-bottom: 20px;
    }
    .news__item .info .title p,
    .main-learning__item .info .descr {
      line-height: 27px;
    }
    .main-learning__item .info .title {
      margin-bottom: 10px;
    }
    .footer p,
    .footer a {
      line-height: 30px;
    }
    .footer a:hover {
      color: rgba(0, 0, 0, 0.5);
    }
    .siluet {
      white-space: normal;
    }
    .header-menu li,
    .header-btn,
    .header-phone,
    .header-lang,
    .main-news .more-btn,
    .btn,
    .news__item .info .date .month,
    .news__item .info .title p,
    .main-learning__item .info .title,
    .main-learning__item .info .descr,
    .main-about p,
    .main-about__slider-navigate .pagingInfo .slide__count,
    .footer li,
    .footer p,
    .footer li a,
    input,
    textarea,
    .contact-col .checkbox__text,
    .contact-col .checkbox__text a {
      font-size: 18px !important;
    }
  }
  &.scale-3 {
    font-size: 20px !important;

    .header .logo {
      margin-right: 20px;
    }
    .header-menu > li:hover,
    .header-phone:hover {
      background: #dedede;
      box-shadow: 0 0 0 8px #dedede;
    }
    .header-menu > li > a:hover {
      color: #000;
    }
    .navbar .submenu-block {
      width: 290px;
    }
    .navbar .right-block {
      float: left;
      margin-top: 0;
      padding-bottom: 20px;
    }
    .news__item .info .title p,
    .main-learning__item .info .descr {
      line-height: 25px;
    }
    .main-learning__item .info .title {
      margin-bottom: 10px;
    }
    .footer p,
    .footer a {
      line-height: 30px;
    }
    .footer a:hover {
      color: rgba(0, 0, 0, 0.5);
    }
    .siluet {
      white-space: normal;
    }
    .header-menu li,
    .header-btn,
    .header-phone,
    .header-lang,
    .main-news .more-btn,
    .btn,
    .news__item .info .date .month,
    .news__item .info .title p,
    .main-learning__item .info .title,
    .main-learning__item .info .descr,
    .main-about p,
    .main-about__slider-navigate .pagingInfo .slide__count,
    .footer li,
    .footer p,
    .footer li a,
    input,
    textarea,
    .contact-col .checkbox__text,
    .contact-col .checkbox__text a {
      font-size: 20px !important;
    }
  }
  &.color-white {
    color: #000 !important;
    background-color: #fff !important;
    filter: grayscale(1);
  }
  &.color-black {
    color: #fff !important;
    background-color: #000 !important;
    filter: grayscale(1);

    .header-menu li,
    .header-phone {
      color: #fff;
    }
    .header-menu li:hover,
    .header-phone:hover {
      background: #ccc;
      color: #000;
      box-shadow: 0 0 0 8px #ccc;
    }
    .search-icon img,
    .header .eye-version {
      background: #ededed;
      box-shadow: 0 0 0 12px #ededed;
      border-radius: 50%;
    }
    .header .eye-version {
      line-height: 0;
      box-shadow: 0 0 0 7px #ededed;
    }
    .news__item .info .date .day,
    .news__item .info .title p,
    .main-about h2,
    .main-about p,
    .main-about .pagingInfo,
    .main-learning h2,
    .main-learning .title,
    .main-learning .descr,
    .footer p,
    .footer a,
    .footer li,
    .footer li a,
    .footer p.footer-subtitle,
    .footer .checkbox__text,
    .footer-btm p,
    .footer-btm .copy {
      color: #fff;
    }
    .main-learning {
      background: #222;
    }
    .main-about img,
    .siluet:before {
      filter: invert(1);
    }
    .footer a:hover {
      color: #999 !important;
    }
    .footer-top {
      background: #222;
    }
    .footer-btm {
      background: #000;
      .siluet a {
        color: #fff !important;
      }
    }
  }
}
