.team {
  &__person {
    & .info .text {
      & p {
        margin-bottom: 30px;
      }
    }
    & .title {
      font-size: 30px;
      font-weight: 600;
      margin: 23px 0 38px;
    }
    & .occupation {
      position: relative;
      padding-left: 68px;
      margin-bottom: 32px;
      &:before {
        content: url("../img/icon_user.png");
        position: absolute;
        left: 0;
        top: -3px;
      }
      & p {
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: 27px;
        margin: 0;
      }
    }
  }
  &__list {
    margin: 36px 0 20px;
    & .item {
      margin-bottom: 50px;
      & .img-container {
        & img {
          border-radius: 5px;
          margin: 0;
        }
      }
      & .descr {
        margin-top: 19px;
        & .name {
          font-size: 17px;
          line-height: 20px;
          color: @blue;
          margin: 0;
          font-weight: 600;
          margin-bottom: 10px;
          & span {
            display: block;
          }
        }
        .occupation {
          font-size: 13px;
          line-height: 20px;
          color: @navy;
          margin: 0;
        }
        & .descr {
          font-size: 13px;
          line-height: 20px;
          margin: 0;
          color: @navy;

        }
      }
    }
  }
}

.youth {
  &__list {
    margin: 56px 0 -20px;
    & .item {
      margin-bottom: 43px;
      & .img-container {
        //background: grey;
        position: relative;
        min-height: 30px;
        border-radius: 5px;
        line-height: 0;
        & img {
          border-radius: 5px;
          margin: 0;
        }
        & .gerb
        {
          position: absolute;
          right: 10px;
          top: -10px;
        }
      }
      & .descr {
        margin-top: 25px;
        padding-right: 30px;
        padding-left: 2px;
        & .name {
          font-size: 17px;
          line-height: 20px;
          color: @blue;
          margin: 0;
          font-weight: 600;
          margin-bottom: 12px;
          & span {
            display: block;
          }
        }
        .occupation {
          font-size: 13px;
          line-height: 20px;
          color: @navy;
          margin: 0;
          & .reg
          {
            font-weight: 600;
            display: block;
            text-decoration: underline;
          }
        }
        & .descr {
          font-size: 13px;
          line-height: 20px;
          margin: 0;
          color: @navy;

        }
      }
    }
  }
}