{% macro displayPage(page) %}
  {% import _self as self %}
  <li>
    <a href="{{ page.link }}">
        {{ page.title }} 
    </a>

    {% if page.pages is not empty %}
      <ul>
        {% for page in page.pages %}
          {{ self.displayPage(page) }}
        {% endfor %}
      </ul>
    {% endif %}

  </li>
{% endmacro %}