<section class="section-std section-news wrapper">
  <h2 class="section-news__title in_block h2-main">Новости компании</h2>
  <div class="news__row">

    <a href="#" class="news__item">
      <div class="news__img-container">
        <img src="../img/news-1.png" class="news__img">
      </div>
      <div class="news__text">
        <div class="news__meta">
          <p class="news__date">29.11.18</p>
          <svg class="news__icon icon-arrow-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 8"
            style="enable-background:new 0 0 26.4 8;" xml:space="preserve">
            <line class="st0" x1="1" y1="4" x2="24" y2="4" />
            <polyline class="st0" points="22,1 25,4 22,7 " />
          </svg>
        </div>
        <p class="news__title">
          Для заречной части Барнаула запустили новые коллекторы
        </p>
      </div>
    </a>

    <a href="#" class="news__item">
      <div class="news__img-container">
        <img src="../img/news-2.png" class="news__img">
      </div>
      <div class="news__text">
        <div class="news__meta">
          <p class="news__date">09.08.18</p>
          <svg class="news__icon icon-arrow-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 8"
            style="enable-background:new 0 0 26.4 8;" xml:space="preserve">
            <line class="st0" x1="1" y1="4" x2="24" y2="4" />
            <polyline class="st0" points="22,1 25,4 22,7 " />
          </svg>
        </div>
        <p class="news__title">
          Барнаульский водоканал запустил сервис онлайн-оплаты на новом сайте
        </p>
      </div>
    </a>

    <a href="#" class="news__item">
      <div class="news__img-container">
        <img src="../img/news-3.png" class="news__img">
      </div>
      <div class="news__text">
        <div class="news__meta">
          <p class="news__date">21.07.18</p>
          <svg class="news__icon icon-arrow-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 8"
            style="enable-background:new 0 0 26.4 8;" xml:space="preserve">
            <line class="st0" x1="1" y1="4" x2="24" y2="4" />
            <polyline class="st0" points="22,1 25,4 22,7 " />
          </svg>
        </div>
        <p class="news__title">
          На очистных сооружениях канализации Барнаула идет масштабная стройка
        </p>
      </div>
    </a>

  </div>

  <a href="#" class="btn btn_primary-color btn_with-arrow">
    <span class="btn__text">Все новости</span>
    <svg class="btn__icon icon-arrow-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 8"
      style="enable-background:new 0 0 26.4 8;" xml:space="preserve">
      <line class="st0" x1="1" y1="4" x2="24" y2="4" />
      <polyline class="st0" points="22,1 25,4 22,7 " />
    </svg>
  </a>
</section>