<section class="section-jumbotron">

  {% include './chat-bots.twig' %}

  <div class="jumbotron__slider">
    <article class="jumbotron-slide jumbotron-slide_poor-visible-telegram jumbotron-slide_poor-visible-dots">
      <img class="jumbotron-slide__img" data-lazy="./img/jumbo-main-1.png">
      <div class="jumbotron-slide__content">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title"><span class="toUpperCase">МЫ</span> <br>
              обеспечиваем жителей Барнаула чистой питьевой водой</h2>

            {% include '../includes/stdEls/btn_with-arrow.twig' with {'classes': 'btn_big btn_glass-like', 'text': 'Подробнее'} %}
          </div>
        </div>
      </div>
    </article>

    {# <article class="jumbotron-slide jumbotron-slide_opacity">
      <img class="jumbotron-slide__img" data-lazy="./img/jumbo-main-2.png">
      <div class="jumbotron-slide__content ">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont">
            <h6 class="jumbotron-slide__subtitle">Услуги</h6>
            <h2 class="jumbotron-slide__title jumbotron-slide__title_L toUpperCase">Установка и замена счетчиков воды
            </h2>
            <div class="bage">
              <div class="bage__icon-bc">
                {% include '../includes/svg/icon-stopwatch-svg.twig' with {'classes': 'bage__icon '} %}
              </div>

              <div class="bage__content">
                <h4 class="bage__title">Экономьте время</h4>
                <h6 class="bage__text">Монтаж прибора учета и ввод в эксплуатацию производятся за 1 визит</h6>
              </div>
            </div>

            <div class="bage">
              <div class="bage__icon-bc">
                {% include '../includes/svg/icon-tools-svg.twig' with {'classes': 'bage__icon '} %}
              </div>
              <div class="bage__content">
                <h4 class="bage__title">Быстро и качественно</h4>
                <h6 class="bage__text">Выезд мастера в удобное время</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_opacity">
      <img class="jumbotron-slide__img" data-lazy="./img/jumbo-main-3.png">
      <div class="jumbotron-slide__content">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h6 class="jumbotron-slide__subtitle">Мобильное приложение</h6>
            <h2 class="jumbotron-slide__title jumbotron-slide__title_M">Создание «умных» сервисов
              для комфортного обслуживания
              абонентов и повышения
              качества услуг</h2>
            <div class="row-with-btns">
              {% include '../includes/stdEls/btn_with-arrow.twig' with {'classes': 'btn_big btn_frost', 'text': 'Скачать приложение Android'} %}

              {% include '../includes/stdEls/btn_with-arrow.twig' with {'classes': 'btn_big btn_frost', 'text': 'Скачать приложение IOS'} %}
            </div>
          </div>
        </div>
    </article> #}

    <article class="jumbotron-slide jumbotron-slide_opacity">
      <img class="jumbotron-slide__img" data-lazy="./img/jumbo-main-4.png">
      <div class="jumbotron-slide__content">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title"><span class="toUpperCase">МЫ</span>
              часть команды «Росводоканала» — федерального отраслевого лидера в сфере водоснабжения и водоотведения
            </h2>

            {% include '../includes/stdEls/btn_with-arrow.twig' with {'classes': 'btn_big btn_glass-like', 'text': 'Подробнее'} %}
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_dark-img jumbotron-slide_opacity jumbotron-slide_opacity8">
      <img class="jumbotron-slide__img" data-lazy="./img/jumbo-main-5.png">
      <div class="jumbotron-slide__content ">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title"><span class="toUpperCase">МЫ</span> <br>
              круглосуточно заботимся о воде, строим новые сети и объекты, делаем всё возможное для улучшения качества
              жизни жителей
              Барнаула
            </h2>
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_dark-img jumbotron-slide_opacity">
      <img class="jumbotron-slide__img" data-lazy="./img/jumbo-main-6.png">
      <div class="jumbotron-slide__content ">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title"><span class="toUpperCase">МЫ</span> <br>
              сохраняем экосистему
              Алтайского края, используя передовые технологии очистки воды и стоков
            </h2>
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_dark-img">
      <img class="jumbotron-slide__img" data-lazy="./img/jumbo-main-7.png">
      <div class="jumbotron-slide__content">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title"><span class="toUpperCase">МЫ</span> <br>
              повышаем профессиональные стандарты и готовы оказывать широкий спектр услуг горожанам, гарантируя
              надежность и качество</h2>

            {% include '../includes/stdEls/btn_with-arrow.twig' with {'classes': 'btn_big btn_glass-like', 'text': 'Подробнее'} %}
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_milk-bc">
      <div class="jumbotron-slide__content jumbotron-slide__content_with-img">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted-L">
            <h6 class="jumbotron-slide__subtitle">Услуги</h6>
            <h2 class="jumbotron-slide__title jumbotron-slide__title_L strong toUpperCase">Вывоз стоков</h2>
            <p class="jumbotron-slide__text">Весь цикл «откачка – вывоз – утилизация» проводится в соответствии с
              экологическими и санитарными нормами</p>

            {% include '../includes/stdEls/btn_with-arrow.twig' with {'classes': 'btn_big btn_primary-color', 'text': 'Подробнее'} %}
          </div>
          <img class="jumbotron-slide__inner-img" data-lazy="./img/jumbo-services-1.png">
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_milk-bc">
      <div class="jumbotron-slide__content jumbotron-slide__content_with-img">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted-L">
            <h6 class="jumbotron-slide__subtitle">Услуги</h6>
            <h2 class="jumbotron-slide__title jumbotron-slide__title_L strong toUpperCase">Установка и поверка
              приборов учета</h2>
            <p class="jumbotron-slide__text">Экономьте время. Быстро и качественно выполним монтаж и поверку счетчиков
              воды.</p>

            {% include '../includes/stdEls/btn_with-arrow.twig' with {'classes': 'btn_big btn_primary-color', 'text': 'Подробнее'} %}
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_milk-bc">
      <div class="jumbotron-slide__content jumbotron-slide__content_with-img">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h6 class="jumbotron-slide__subtitle">Услуги</h6>
            <h2 class="jumbotron-slide__title jumbotron-slide__title_L strong toUpperCase">Проектирование и строительство</h2>
            <p class="jumbotron-slide__text">Мы применяем только проверенные материалы, используем лучшие отечественные и зарубежные отраслевые технологии</p>

            {% include '../includes/stdEls/btn_with-arrow.twig' with {'classes': 'btn_big btn_primary-color', 'text': 'Подробнее'} %}
          </div>
          <img class="jumbotron-slide__inner-img" data-lazy="./img/jumbo-services-3.png">
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_milk-bc">
      <div class="jumbotron-slide__content jumbotron-slide__content_with-img">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted-L">
            <h6 class="jumbotron-slide__subtitle">Услуги</h6>
            <h2 class="jumbotron-slide__title jumbotron-slide__title_L strong toUpperCase">Промывка систем водоснабжения и водоотведения</h2>
            <p class="jumbotron-slide__text">У нас большой опыт обслуживания сетей ВиВ. Выполним самый широкий спектр работ по очистке и промывке коммуникаций.</p>

            {% include '../includes/stdEls/btn_with-arrow.twig' with {'classes': 'btn_big btn_primary-color', 'text': 'Подробнее'} %}
          </div>
          <img class="jumbotron-slide__inner-img" data-lazy="./img/jumbo-services-4.png">
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_milk-bc">
      <div class="jumbotron-slide__content jumbotron-slide__content_with-img">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted-L">
            <h6 class="jumbotron-slide__subtitle">Услуги</h6>
            <h2 class="jumbotron-slide__title jumbotron-slide__title_L strong toUpperCase">Аренда спецтехники</h2>
            <p class="jumbotron-slide__text">Предоставим нашим клиентам самую различную специальную технику и автомобили.</p>

            {% include '../includes/stdEls/btn_with-arrow.twig' with {'classes': 'btn_big btn_primary-color', 'text': 'Подробнее'} %}
          </div>
          <img class="jumbotron-slide__inner-img jumbotron-slide__inner-img_S" data-lazy="./img/jumbo-services-5.png">
        </div>
      </div>
    </article>

  </div>
</section>