<section class="section-jumbotron">
  <div class="chat-bots">
    <div class="wrapper">
      <a href="#" class="chat-bot__link chat-bot__link_telegram">
        <svg class="icon-telegram-chat-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 40"
          style="enable-background:new 0 0 120 40;" xml:space="preserve">
          <circle class="st0" cx="100" cy="20" r="19" />
          <text transform="matrix(1 0 0 1 16 20.1484)" class="st0 st1 st2">ЧАТ-БОТ</text>
          <text transform="matrix(1 0 0 1 17 29.1484)" class="st0 st3 st4">TELEGRAM</text>
          <path class="st5" d="M100,38.5H20C9.78,38.5,1.5,30.22,1.5,20v0C1.5,9.78,9.78,1.5,20,1.5h80c10.22,0,18.5,8.28,18.5,18.5v0
            C118.5,30.22,110.22,38.5,100,38.5z" />
          <path class="st6 telegram-icon" d="M107.34,12.51l-18.29,7.13c-0.59,0.23-0.56,1.08,0.05,1.26l4.65,1.37l1.73,5.5c0.18,0.57,0.91,0.75,1.33,0.32
            l2.4-2.45l4.72,3.46c0.58,0.42,1.4,0.11,1.55-0.59l3.12-14.93C108.75,12.85,108.03,12.24,107.34,12.51z M105.04,15.82l-8.5,7.51
            c-0.08,0.07-0.14,0.18-0.15,0.29l-0.33,2.91c-0.01,0.09-0.14,0.11-0.17,0.02l-1.35-4.34c-0.06-0.2,0.02-0.41,0.2-0.52l10.03-6.22
            C105.01,15.32,105.25,15.64,105.04,15.82z" />
        </svg>
      </a>
      <a href="#" class="chat-bot__link chat-bot__link_viber">
        <svg class="icon-viber-chat-svg" version="1.1" id="Layer_1_copy" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 40"
          style="enable-background:new 0 0 120 40;" xml:space="preserve">
          <circle class="st0" cx="100" cy="20" r="19" />
          <text transform="matrix(1 0 0 1 16 20.1484)" class="st0 st1 st2">ЧАТ-БОТ</text>
          <text transform="matrix(1 0 0 1 17 29.1484)" class="st0 st3 st4">VIBER</text>
          <path class="st5" d="M100,38.5H20C9.78,38.5,1.5,30.22,1.5,20v0C1.5,9.78,9.78,1.5,20,1.5h80c10.22,0,18.5,8.28,18.5,18.5v0
          C118.5,30.22,110.22,38.5,100,38.5z" />
          <g class="viber-icon">
            <path class="st6" d="M107.3,19.35c0.02-2.9-2.44-5.55-5.5-5.92c-0.06-0.01-0.13-0.02-0.2-0.03c-0.15-0.03-0.31-0.05-0.47-0.05
            c-0.63,0-0.79,0.44-0.84,0.7c-0.04,0.26,0,0.47,0.12,0.64c0.21,0.28,0.57,0.33,0.87,0.37c0.09,0.01,0.17,0.02,0.23,0.04
            c2.75,0.61,3.67,1.58,4.12,4.3c0.01,0.07,0.02,0.15,0.02,0.24c0.02,0.33,0.06,1,0.79,1h0c0.06,0,0.13-0.01,0.19-0.02
            c0.68-0.1,0.66-0.72,0.65-1.02c0-0.08-0.01-0.16,0-0.22C107.3,19.38,107.3,19.36,107.3,19.35z" />
            <path class="st6" d="M100.96,12.37c0.08,0.01,0.16,0.01,0.22,0.02c4.51,0.69,6.58,2.83,7.16,7.37c0.01,0.08,0.01,0.17,0.01,0.27
            c0.01,0.36,0.02,1.09,0.81,1.11l0.02,0c0.25,0,0.45-0.08,0.59-0.22c0.25-0.26,0.23-0.64,0.22-0.95c0-0.08-0.01-0.15-0.01-0.21
            c0.06-4.65-3.97-8.86-8.61-9.02c-0.02,0-0.04,0-0.06,0c-0.01,0-0.03,0-0.06,0c-0.05,0-0.1,0-0.16-0.01
            c-0.07-0.01-0.16-0.01-0.24-0.01c-0.74,0-0.88,0.53-0.9,0.84C99.93,12.29,100.63,12.35,100.96,12.37z" />
            <path class="st6" d="M108.12,25.64c-0.1-0.07-0.19-0.15-0.29-0.22c-0.49-0.4-1.02-0.76-1.52-1.11c-0.11-0.07-0.21-0.15-0.31-0.22
            c-0.65-0.46-1.23-0.68-1.78-0.68c-0.74,0-1.39,0.41-1.92,1.22c-0.24,0.36-0.52,0.53-0.88,0.53c-0.21,0-0.45-0.06-0.71-0.18
            c-2.09-0.95-3.59-2.41-4.44-4.33c-0.41-0.93-0.28-1.54,0.45-2.03c0.41-0.28,1.18-0.8,1.13-1.8c-0.06-1.14-2.57-4.55-3.62-4.94
            c-0.45-0.16-0.92-0.17-1.4,0c-1.21,0.41-2.08,1.12-2.52,2.07c-0.42,0.92-0.4,1.99,0.05,3.11c1.32,3.23,3.17,6.05,5.5,8.37
            c2.28,2.28,5.09,4.14,8.35,5.54c0.29,0.13,0.6,0.19,0.83,0.25c0.08,0.02,0.14,0.03,0.19,0.05c0.03,0.01,0.05,0.01,0.08,0.01l0.03,0
            c0,0,0,0,0,0c1.53,0,3.37-1.4,3.93-2.99C109.75,26.88,108.85,26.19,108.12,25.64z" />
            <path class="st6" d="M101.64,16.06c-0.26,0.01-0.81,0.02-1,0.58c-0.09,0.26-0.08,0.48,0.03,0.67c0.16,0.27,0.47,0.35,0.76,0.4
            c1.03,0.16,1.55,0.73,1.66,1.79c0.05,0.49,0.38,0.83,0.8,0.83h0c0.03,0,0.06,0,0.1-0.01c0.51-0.06,0.76-0.44,0.74-1.12
            c0.01-0.71-0.36-1.51-0.99-2.16C103.1,16.41,102.33,16.04,101.64,16.06z" />
          </g>
        </svg>
      </a>
    </div>
  </div>

  <div class="jumbotron__slider">
    <article class="jumbotron-slide">
      <img class="jumbotron-slide__img" src="../img/jumbo-main-1.png">
      <div class="jumbotron-slide__content">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title"><span class="toUpperCase">МЫ</span> <br>
              обеспечиваем жителей Барнаула чистой питьевой водой</h2>
            <a href="#" class="btn btn_with-arrow btn_big btn_glass-like">
              <div class="btn__text">Подробнее</div>
              <svg class="btn__icon icon-arrow-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 8"
                style="enable-background:new 0 0 26.4 8;" xml:space="preserve">
                <line class="st0" x1="1" y1="4" x2="24" y2="4" />
                <polyline class="st0" points="22,1 25,4 22,7 " />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_opacity">
      <img class="jumbotron-slide__img" src="../img/jumbo-main-2.png">
      <div class="jumbotron-slide__content ">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont">
            <h6 class="jumbotron-slide__subtitle">Услуги</h6>
            <h2 class="jumbotron-slide__title jumbotron-slide__title_L toUpperCase">Установка и замена счетчиков воды
            </h2>
            <div class="bage">
              <div class="bage__icon-bc">
                <svg class="bage__icon icon-stopwatch-svg" version="1.1" id="Слой_1"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 50 54" style="enable-background:new 0 0 50 54;" xml:space="preserve">
                  <g>
                    <circle class="st0" cx="25" cy="29" r="24" />
                    <circle class="st0" cx="25" cy="29" r="2" />
                    <circle class="st0" cx="25" cy="29" r="14" />
                    <line class="st1" x1="21" y1="1" x2="29" y2="1" />
                    <line class="st1" x1="23" y1="2" x2="23" y2="4" />
                    <line class="st1" x1="27" y1="2" x2="27" y2="4" />
                    <line class="st1" x1="27" y1="27" x2="32" y2="22" />
                    <line class="st1" x1="25" y1="8" x2="25" y2="10" />
                    <line class="st1" x1="25" y1="48" x2="25" y2="50" />
                    <line class="st1" x1="39.8" y1="14.2" x2="38.4" y2="15.6" />
                    <line class="st1" x1="11.6" y1="42.4" x2="10.2" y2="43.8" />
                    <line class="st1" x1="10.2" y1="14.2" x2="11.6" y2="15.6" />
                    <line class="st1" x1="38.4" y1="42.4" x2="39.8" y2="43.8" />
                    <line class="st1" x1="46" y1="29" x2="44" y2="29" />
                    <line class="st1" x1="6" y1="29" x2="4" y2="29" />
                    <line class="st1" x1="42" y1="12" x2="44" y2="10" />
                    <line class="st1" x1="43" y1="8" x2="46" y2="11" />
                  </g>
                </svg>
              </div>

              <div class="bage__content">
                <h4 class="bage__title">Экономьте время</h4>
                <h6 class="bage__text">Монтаж прибора учета и ввод в эксплуатацию производятся за 1 визит</h6>
              </div>
            </div>

            <div class="bage">
              <div class="bage__icon-bc">
                <svg class="bage__icon icon-tools-svg" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 49.9 50.2"
                  style="enable-background:new 0 0 49.9 50.2;" xml:space="preserve">
                  <g>
                    <path class="st0" d="M12.7,7.4l-5.1,5.1L1.8,6.8c-0.4,1-0.6,2.1-0.6,3.2c0,5,4,9,9,9c5,0,9-4,9-9c0-5-4-9-9-9C9,1,7.9,1.2,6.9,1.6
                  L12.7,7.4z" />
                    <path class="st0"
                      d="M19.2,14l28.9,28.9c1.2,1.2,1.2,3.1,0,4.2l-0.7,0.7c-1.2,1.2-3.1,1.2-4.3,0L14.2,18.7" />
                    <line class="st0" x1="19.2" y1="19" x2="45.2" y2="45" />
                    <polyline class="st0" points="29.2,24 39.2,14 44.2,12 48.2,4 46.2,2 38.2,6 36.2,11 26.2,21 	" />
                    <line class="st0" x1="19.2" y1="28" x2="21.2" y2="26" />
                    <path class="st0"
                      d="M23.2,33L7.6,48.6c-0.8,0.8-2,0.8-2.8,0l-3.2-3.2c-0.8-0.8-0.8-2,0-2.8L17.2,27L23.2,33z" />
                    <line class="st0" x1="24.2" y1="29" x2="22.2" y2="31" />
                    <line class="st0" x1="17.2" y1="33" x2="6.2" y2="44" />
                  </g>
                </svg>
              </div>
              <div class="bage__content">
                <h4 class="bage__title">Быстро и качественно</h4>
                <h6 class="bage__text">Выезд мастера в удобное время</h6>
              </div>

            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_opacity">
      <img class="jumbotron-slide__img" src="../img/jumbo-main-3.png">
      <div class="jumbotron-slide__content">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h6 class="jumbotron-slide__subtitle">Мобильное приложение</h6>
            <h2 class="jumbotron-slide__title jumbotron-slide__title_M">Создание «умных» сервисов
              для комфортного обслуживания
              абонентов и повышения
              качества услуг</h2>
            <div class="row-with-btns">
              <a href="#" class="btn btn_with-arrow btn_big btn_frost">
                <div class="btn__text">Скачать приложение Android</div>
                <svg class="btn__icon icon-arrow-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 8"
                  style="enable-background:new 0 0 26.4 8;" xml:space="preserve">
                  <line class="st0" x1="1" y1="4" x2="24" y2="4" />
                  <polyline class="st0" points="22,1 25,4 22,7 " />
                </svg>
              </a>

              <a href="#" class="btn btn_with-arrow btn_big btn_frost">
                <div class="btn__text">Скачать приложение IOS</div>
                <svg class="btn__icon icon-arrow-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 8"
                  style="enable-background:new 0 0 26.4 8;" xml:space="preserve">
                  <line class="st0" x1="1" y1="4" x2="24" y2="4" />
                  <polyline class="st0" points="22,1 25,4 22,7 " />
                </svg>
              </a>
            </div>
          </div>
        </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_opacity">
      <img class="jumbotron-slide__img" src="../img/jumbo-main-4.png">
      <div class="jumbotron-slide__content">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title"><span class="toUpperCase">МЫ</span>
              часть команды «Росводоканала» — федерального отраслевого лидера в сфере водоснабжения и водоотведения
            </h2>
            <a href="#" class="btn btn_with-arrow btn_big btn_glass-like">
              <div class="btn__text">Подробнее</div>
              <svg class="btn__icon icon-arrow-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 8"
                style="enable-background:new 0 0 26.4 8;" xml:space="preserve">
                <line class="st0" x1="1" y1="4" x2="24" y2="4" />
                <polyline class="st0" points="22,1 25,4 22,7 " />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_opacity jumbotron-slide_opacity8">
      <img class="jumbotron-slide__img" src="../img/jumbo-main-5.png">
      <div class="jumbotron-slide__content ">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title"><span class="toUpperCase">МЫ</span> <br>
              круглосуточно заботимся о воде, строим новые сети и объекты, делаем всё возможное для улучшения качества
              жизни жителей
              Барнаула
            </h2>
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_opacity">
      <img class="jumbotron-slide__img" src="../img/jumbo-main-6.png">
      <div class="jumbotron-slide__content ">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title"><span class="toUpperCase">МЫ</span> <br>
              сохраняем экосистему
              Алтайского края, используя передовые технологии очистки воды и стоков
            </h2>
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide">
      <img class="jumbotron-slide__img" src="../img/jumbo-main-7.png">
      <div class="jumbotron-slide__content">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted">
            <h2 class="jumbotron-slide__title"><span class="toUpperCase">МЫ</span> <br>
              повышаем профессиональные стандарты и готовы оказывать широкий спектр услуг горожанам, гарантируя
              надежность и качество</h2>
            <a href="#" class="btn btn_with-arrow btn_big btn_glass-like">
              <div class="btn__text">Подробнее</div>
              <svg class="btn__icon icon-arrow-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 8"
                style="enable-background:new 0 0 26.4 8;" xml:space="preserve">
                <line class="st0" x1="1" y1="4" x2="24" y2="4" />
                <polyline class="st0" points="22,1 25,4 22,7 " />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_milk-bc">
      <div class="jumbotron-slide__content jumbotron-slide__content_with-img">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted-L">
            <h6 class="jumbotron-slide__subtitle">Услуги</h6>
            <h2 class="jumbotron-slide__title jumbotron-slide__title_L strong toUpperCase">Вывоз стоков</h2>
            <p class="jumbotron-slide__text">Весь цикл «откачка – вывоз – утилизация» проводится в соответствии с
              экологическими и санитарными нормами</p>
            <a href="#" class="btn btn_with-arrow btn_big btn_primary-color">
              <div class="btn__text">Подробнее</div>
              <svg class="btn__icon icon-arrow-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 8"
                style="enable-background:new 0 0 26.4 8;" xml:space="preserve">
                <line class="st0" x1="1" y1="4" x2="24" y2="4" />
                <polyline class="st0" points="22,1 25,4 22,7 " />
              </svg>
            </a>
          </div>
          <img class="jumbotron-slide__inner-img" src="../img/jumbotron-services-1.png">
        </div>
      </div>
    </article>

    <article class="jumbotron-slide jumbotron-slide_milk-bc">
      <div class="jumbotron-slide__content jumbotron-slide__content_with-img">
        <div class="wrapper">
          <div class="jumbotron-slide__inner-cont jumbotron-slide__inner-cont_restricted-L">
            <h6 class="jumbotron-slide__subtitle">Услуги</h6>
            <h2 class="jumbotron-slide__title jumbotron-slide__title_L strong toUpperCase">Установка и поверка
              приборов учета</h2>
            <p class="jumbotron-slide__text">Экономьте время. Быстро и качественно выполним монтаж и поверку счетчиков
              воды.</p>
            <a href="#" class="btn btn_with-arrow btn_big btn_primary-color">
              <div class="btn__text">Подробнее</div>
              <svg class="btn__icon icon-arrow-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 8"
                style="enable-background:new 0 0 26.4 8;" xml:space="preserve">
                <line class="st0" x1="1" y1="4" x2="24" y2="4" />
                <polyline class="st0" points="22,1 25,4 22,7 " />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </article>

  </div>
</section>