<section class="section-std section-news wrapper">

  <h2 class="section-title-std">Новости компании</h2>

  <div class="news__row">
    {% for idx, newsItem in newsItems  %}
      <a href="#" class="news__item">
        <div class="news__img-container">
          <img data-src="./img/news-{{idx + 1}}.png" width="367" height="210" class="news__img lazy" alt="{{ newsItem.title }}">
        </div>

        <div class="news__text">
          <div class="news__meta">
            <p class="news__date">
              {{ newsItem.date }}
            </p>

            {% include '../includes/svg/icon-arrow-svg.twig' with {'classes': 'news__icon'} %}
            
          </div>

          <p class="news__title">
            {{ newsItem.title }}
          </p>
        </div>
      </a>
    {% endfor %}
  </div>

  {% include '../includes/stdEls/btn_with-arrow.twig' with {'text' : 'Все новости', 'classes' : 'btn_colorPrimary'} %}
  
</section>