html.scale {
  .info {
    &-hot {
      &-subtitle {
        margin-bottom: 10px;
      }
      &-email {
        margin-bottom: 15px;
      }
    }
  }
}

html.color-white {
  .info {
    &-hot {
      &-subtitle {
        color: @blackEye;
      }
      &-text {
        color: @blackEye;
      }
      &-phone {
        color: @blackEye;
      }
      &-email {
        color: @blackEye;
      }
      &-text {
        color: @blackEye;
      }
      @media (min-width: @hoverW) {
        &-phone,
        &-email {
          &:hover {
            color: @blackEye;
          }
        }
      }
    }
  }
}

html.color-black {
  .info {
    &-hot {
      &-subtitle {
        color: @whiteEye;
      }
      &-text {
        color: @whiteEye;
      }
      &-phone {
        color: @whiteEye;
      }
      &-email {
        color: @whiteEye;
      }
      &-text {
        color: @whiteEye;
      }
      @media (min-width: @hoverW) {
        &-phone,
        &-email {
          &:hover {
            color: @whiteEye;
          }
        }
      }
    }
  }
}

.info {
  &-hot {
    &-subtitle {
      color: #fff;
      font-size: @font-15;
      font-weight: 600;
      margin: 0;
      margin-bottom: 10px;
    }
    &-text {
      color: #fff;
      font-size: @font-13;
      line-height: 20px;
    }
    &-phone {
      color: #fff;
      font-size: @font-31;
      line-height: 31px;
      font-weight: 600;
      margin-bottom: 9px;
      display: block;
    }
    &-email {
      color: #fff;
      font-size: @font-18;
      font-weight: 600;
      margin-bottom: 26px;
      display: block;
    }
    &-text {
      color: #fff;
      font-size: @font-13;
      font-weight: 400;
      line-height: 20px;
    }
    .btn {
      margin-top: auto;
    }
    &-phone,
    &-email {
      transition: @transFast;
    }
    @media (min-width: @hoverW) {
      &-phone,
      &-email {
        &:hover {
          color: @colorPrimary3;
        }
      }
    }
  }
}
