{% extends "../../layouts/pressroom.twig" %}

{% block undersidemenu %}
  {% include '../../includes/subscribe-to-news.twig' %}
{% endblock %}

{% block main %}
  <section class="section-news-detail">
    <article class="text">
      <p class="meta">20.11.2019</p>
      <h3 class="colorPrimary2">«Росводоканал Барнаул» примет на обслуживание сети в селе Лебяжье</h3>
      <img data-src="../img/pressroom_news_list_detail.png" alt="">
      
      <p class="size-M"><strong>Барнаульский водоканал с 1 декабря начнет предоставлять услуги водоснабжения горожанам, проживающим в селе Лебяжье на улицах Опытная станция, Придорожная, Широкая просека, переулке Малый. </strong></p>
      <p>Новыми абонентами предприятия станут владельцы более 130 домов и 8 нежилых помещений. Сейчас водоканал в Лебяжьем оказывает услуги только жителей до улиц Придорожная и Связистов. В ближайшее время список абонентов расширится.</p>
      <p>Ранее жителям улиц Опытная станция, Придорожная, Широкая просека и Малого переулка услуги водоснабжения предоставлял МУП «Энергетик», но с 1 эксплуатацию и обслуживание более 3 км водопроводных сетей будет осуществлять «Росводоканал Барнаул».</p>
      <p>Подавать воду новым абонентам водоканал будет с артезианского водозабора на улице Придорожная.</p>
      <p>Для заключения договора на оказание услуги «водоснабжение» и открытия нового лицевого счета жителям вышеперечисленных улиц необходимо обратиться в Центр обслуживания абонентов (Барнаул, пр. Калинина, 116). Список необходимых документов можно уточнить по тел. 28-22-00. </p>
    </article>

    {% include '../../includes/pagination_page.twig' %}
  </section>
{% endblock %}

{% block indvidualPageJS %}
{% endblock %}