<div class="footer-top">
  <nav class="wrapper">
    <div class="footer-top__item">
      <div class="footer-top__title-cont">
        <a  href="text_page.html" class="footer-top__title anim-underline-link">Абонентам</a>
        {% include "../svg/icon-arrow-accord.twig" with {"classes": "footer-top__title-icon"} %}
      </div>
      <div class="footer-menu">
        <a class="footer-menu__item anim-underline-link" href="text_page.html">Общая информация</a>
        <a class="footer-menu__item anim-underline-link" href="users_individuals_menu.html">Частные лица</a>
        <a class="footer-menu__item anim-underline-link" href="ссылка_на_личный_кабинет_интегрированный_со_стороны_заказчик">Юридические лица</a>
        <a class="footer-menu__item anim-underline-link" href="users_individuals_connection.html">Подключение</a>
        <a class="footer-menu__item anim-underline-link" href="services_type_networks.html">Услуги</a>
      </div>
    </div>

    <div class="footer-top__item">
      <div class="footer-top__title-cont">
        <a href="pressroom_news_list.html" class="footer-top__title anim-underline-link">Пресс-центр</a>
        {% include "../svg/icon-arrow-accord.twig" with {"classes": "footer-top__title-icon"} %}
      </div>
      <div class="footer-menu">
        <a class="footer-menu__item anim-underline-link" href="pressroom_news_list.html">Новости компании</a>
        <a class="footer-menu__item anim-underline-link" href="pressroom_media.html">СМИ о нас</a>
        <a class="footer-menu__item anim-underline-link" href="#popup_subscribe-to-news">Подписка на новости</a>
        <a class="footer-menu__item anim-underline-link" href="pressroom_news_contacts.html">Контакты для СМИ</a>
      </div>
    </div>


    <div class="footer-top__item">
      <div class="footer-top__title-cont">
        <a href="career_contacts.html" class="footer-top__title anim-underline-link">Контакты</a>
        {% include "../svg/icon-arrow-accord.twig" with {"classes": "footer-top__title-icon"} %}
      </div>
      <div class="footer-menu">
        <a class="footer-menu__item anim-underline-link" href="https://yandex.ru/maps/?pt=83.744140,53.388919&z=17&l=map" rel="nofollow noopener" target="_blank">656037, Барнаул, пр. Калинина, 116</a>
        <a class="footer-menu__item anim-underline-link"
          href="mailto:office_brn@rosvodokanal.ru">office_brn@rosvodokanal.ru</a>
        <a class="footer-menu__item anim-underline-link" href="tel:83852282200">8 (3852) 282-200</a>
        </dvi>
      </div>
    </div>

    <div class="footer-top__item footer-top__item_social">
      <a class="footer-top__title footer-top__hot-line-tel" href="tel:88002501747">8-800-250-17-47</a>
      <span class="footer-top__subtitle">Горячая линия</span>
      
      {% include '../stdEls/social-icons.twig' %}
    </div>
  </nav>
</div>