<div class="footer-top">
  <nav class="wrapper wrapper_responsive">
    <div class="footer-top__item">
      <p class="footer-top__title">Абонентам</p>
      <div class="footer-menu">
        <a class="footer-menu__item anim-underline-link" href="#">Общая информация</a>
        <a class="footer-menu__item anim-underline-link" href="#">Частные лица</a>
        <a class="footer-menu__item anim-underline-link" href="#">Юридические лица</a>
        <a class="footer-menu__item anim-underline-link" href="#">Подключение</a>
        <a class="footer-menu__item anim-underline-link" href="#">Услуги</a>
      </div>
    </div>

    <div class="footer-top__item">
      <p class="footer-top__title">Пресс-центр</p>
      <div class="footer-menu">
        <a class="footer-menu__item anim-underline-link" href="#">Новости компании</a>
        <a class="footer-menu__item anim-underline-link" href="#">СМИ о нас</a>
        <a class="footer-menu__item anim-underline-link" href="#">Подписка на новости</a>
        <a class="footer-menu__item anim-underline-link" href="#">Контакты для СМИ</a>
      </div>
    </div>


    <div class="footer-top__item">
      <p class="footer-top__title">Контакты</p>
      <div class="footer-menu">
        <p class="footer-menu__item">656037, Барнаул, пр. Калинина, 116</p>
        <a class="footer-menu__item anim-underline-link"
          href="mailto:office_brn@rosvodokanal.ru">office_brn@rosvodokanal.ru</a>
        <a class="footer-menu__item anim-underline-link" href="tel:83852282200">8 (3852) 282-200</a>
        </dvi>
      </div>
    </div>

    <div class="footer-top__item footer-top__item_social">
      <a class="footer-top__title footer-top__hot-line-tel" href="tel:88002501747">8-800-250-17-47</a>
      <span class="footer-top__subtitle">Горячая линия</span>
      
      {% include '../stdEls/social-icons.twig' %}
    </div>
  </nav>
</div>