<div class="footer-bottom wrapper">
  <small class="footer-bottom__item copyright">
    <span class="copyright-mark footer-bottom__item-icon">&copy;</span>Росводоканал, 2020
  </small>

  <a class="footer-bottom__item " href="#">Условия работы сайта</a>

  <a class="footer-bottom__item " href="../other-pages/sitemap.html">Карта сайта</a>
  
  <small class="footer-bottom__item siluet-link__cont">
    {% include '../svg/siluet-icon-svg.twig' with {'classes' : 'footer-bottom__item-icon'} %}

    <a class="siluet-link" target="_blank" href="http://siluetstudio.com"> Веб-студия «Силуэт»: создание
      сайтов</a>
  </small>
</div>