.section_with-payment-widget-and-text {
  .grid-icons {
    margin-top: 70px;
  }

  .payment-widget-with-text {
    margin-top: 65px;
    margin-bottom: 60px;
  }
}

@media (max-width: @tabletW) {
  .section_with-payment-widget-and-text {
    .grid-icons {
      margin-top: 60px;
    }

    .payment-widget-with-text {
      margin-top: 55px;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: @mobileLandscapeWBig) {
  .section_with-payment-widget-and-text {
    .grid-icons {
      margin-top: 50px;
    }
    .payment-widget-with-text {
      margin-top: 45px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: @mobileLandscapeW) {
  .section_with-payment-widget-and-text {
    .grid-icons {
      margin-top: 40px;
    }
    .payment-widget-with-text {
      margin-top: 35px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: @mobileW) {
  .section_with-payment-widget-and-text {
    .grid-icons {
      margin-top: 30px;
    }
    .payment-widget-with-text {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}
