.section-users-questions {
  .form-in-text {
    margin-bottom: 20px;
  }
  hr.dashed {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: @mobileW) {
  .section-users-questions {
    hr.dashed {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
