.viv-calc {
  &__checkbox {
    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 28px;
    }
    &-prepend-text {
      margin-right: 10px;
    }
  }
  .input-with-label {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  label {
    font-size: @font-15;
  }
  .btn {
    padding-right: 45px;
    padding-left: 45px;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    height: 80%;
    width: 2px;
    border-left: 1px dashed @colorPrimary;
  }
}

.viv-calc__bottom {
  position: relative;
  width: 100%;

  &-line {
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 0;
    height: 1px;
    background: #1074b9;
    z-index: -1;
  }
}

.viv-calc__block {
  width: 310px;
  position: relative;
  margin-bottom: 40px;
}

#viv-calc-submit-btn {
  margin: auto;
}

.viv-calc__left {
  margin-right: auto;
}

.viv-calc__right {
  margin-left: auto;
}

@media (max-width: 1160px) {
  .viv-calc__left {
    margin-right: 55px;
    margin-left: auto;
  }

  .viv-calc__right {
    margin-left: 55px;
    margin-right: auto;
  }
}

@media (max-width: @mobileLandscapeW) {
  .viv-calc {
    margin-top: 20px;

    &__checkbox {
      &-row {
        margin-bottom: 15px;
      }
    }
    .input-with-label {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &:after {
      display: none;
    }
  }

  .viv-calc__left {
    margin-right: auto;
    margin-left: auto;
  }

  .viv-calc__right {
    margin-left: auto;
    margin-right: auto;
  }
}

html.color-white {
  .viv-calc {
    &__bottom {
      &-line {
        border-color: @blackEye;
      }
    }
    &__vertical-divider {
      border-color: @blackEye;
    }
  }
}

html.color-black {
  .viv-calc {
    &__bottom {
      &-line {
        border-color: @whiteEye;
      }
    }
    &__vertical-divider {
      border-color: @whiteEye;
    }
  }
}