.eye-version {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 50px;
  border: 2px solid @colorPrimary3;
  padding: 6px 15px;
  transition: @transMid;
  background: #fff;
  cursor: pointer;
  user-select: none;

  &__text {
    font-size: @font-13;
    color: @colorPrimary3;
    margin-left: 10px;
    transition: @transMid;
    line-height: 1.7em;
    cursor: pointer;
  }

  &__spez,
  &__std {
    font-weight: normal;
  }
  &__spez {
    display: block;
  }

  &__std {
    display: none;
  }

  &-active {
    .eye-version__spez {
      display: none;
    }

    .eye-version__std {
      display: block;
    }
  }

  @media (min-width: @hoverW) {
    &:hover {
      background: @colorPrimary3;
      .eye-version__text {
        color: #fff;
      }
      .icon-eye-svg {
        transform: translateY(-1px);
        .fill {
          fill: #fff;
        }
      }
    }
  }
}

html.color-white {
  .eye-version {
    background: @blackEye;
    border-color: @blackEye;

    &__text {
      color: @whiteEye;
    }

    .icon-eye-svg {
      .fill {
        fill: @whiteEye;
      }
    }

    @media (min-width: @hoverW) {
      &:hover {
        background: @whiteEye;
        .eye-version__text {
          color: @blackEye;
        }
        .icon-eye-svg {
          .fill {
            fill: @blackEye;
          }
        }
      }
    }
  }
}

html.color-black {
  .eye-version {
    background: @whiteEye;
    border-color: @blackEye;

    &__text {
      color: @blackEye;
    }

    .icon-eye-svg {
      .fill {
        fill: @blackEye;
      }
    }

    @media (min-width: @hoverW) {
      &:hover {
        .eye-version__text {
          color: @blackEye;
        }
        .icon-eye-svg {
          .fill {
            fill: @blackEye;
          }
        }
      }
    }
  }
}
