.header-top {
  margin-top: 35px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: @wrapperMaxWidth) {
  .header-top {
    padding-left: 10px;
    padding-right: 10px;
  }
}
