html.color-white {
  .header {
    .phone {
      &__top-text {
        color: @blackEye;
      }
      &__bottom-text {
        color: @blackEye;
      }
    }
  }
}

html.color-black {
  .header {
    .phone {
      &__top-text {
        color: @whiteEye;
      }
      &__bottom-text {
        color: @whiteEye;
      }
    }
  }
}

.header {
  .phone {
    &__top-text {
      color: @colorPrimary;
      font-size: @font-19;
      font-weight: 700;
      display: block;
      text-align: right;
    }
    &__bottom-text {
      color: @colorPrimary3;
      font-size: @font-12;
      line-height: 13px;
      font-weight: 600;
      display: block;
      text-align: right;
    }
    &__top-text,
    &__bottom-text {
      transition: @transFast;
    }
    @media (min-width: @hoverW) {
      &:hover {
        .phone__top-text {
          color: @colorPrimary3;
        }
      }
    }
  }
}
