<div id="modal_autorization" class="modal modal_autorization">
  <form action="" class="form form_autorization {{ classes }}">
    <div class="input-with-label">
      <label>E-mail *</label>
      <input class="required grey"></input>
    </div>
    <div class="input-with-label">
      <label>Пароль *</label>
      <input class="required grey"></input>
    </div>
    <div class="form-footer form-footer_vertical">
      <a href="#" class="forget-password colorPrimary">Забыли пароль?</a>
      <button type="submit" class="btn btn_wide btn_low-L btn_colorPrimary mx-auto">Войти</button>
    </div>
  </form>
</div>
