<article class="container-404">
  <div class="title-404">
    <h1 class="title-404__number title-404__number_left">4</h1>
    {% include './svg/logo-main-svg_textless.twig' with {"classes": "title-404__logo"} %}
    <h1 class="title-404__number title-404__number_right">4</h1>
  </div>
  <h2 class="strong subtitle-404">Страница не найдена</h2>
</article>