<div class="eye-version-panel">
  <div class="wrapper wrapper_responsive">

    <div class="eye-version-item eye-version-item_color-theme">
      <div class="eye-version__color_text">
        Цветовая схема:
      </div>
      <div class="eye-version__colors">
        <a href="#" class="eye-version__color m--current" data-color="white">A</a>
        <a href="#" class="eye-version__color" data-color="black">A</a>
      </div>
    </div>

    <div class="eye-version-item eye-version-item_font">
      <div class="eye-version__scale_text">
        Размер шрифта:
      </div>
      <div class="eye-version__scales">
        <a href="#" class="eye-version__scale" data-scale="1">A</a>
        <a href="#" class="eye-version__scale" data-scale="2">A</a>
        <a href="#" class="eye-version__scale" data-scale="3">A</a>
      </div>
    </div>

    <a href="#" class="eye-version-item eye-version-item_back">
      <span class="eye-version-item_back__text">Обычная версия сайта</span>
      <svg class="icon-back-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 495.9 345.7"
        style="enable-background:new 0 0 495.9 345.7;" xml:space="preserve">
        <g>
          <g>
            <path d="M489.3,54.2c-111.6-88.4-278.9-66.2-379.2,49L52,56c-13.7-11.1-33.9-9-45,4.6c-5,6.2-7.5,14-6.9,22.1
              c0,0,11.9,183.4,17.7,238c0.7,6.7,4.5,13.1,10.6,18.1c6.1,5,13.2,7.3,19.9,6.7C102.9,340,284.8,314,284.8,314
              c8-1.1,15.2-5.2,20.2-11.3c11.1-13.7,9-33.9-4.7-45l-57.9-47C340.9,92.9,443,44.1,478.2,72.6c4.6,3.7,11.3,3,15-1.5
              c0.1-0.1,0.2-0.3,0.3-0.3c3.7-4.6,3-11.3-1.6-15C491.1,55.1,490.2,54.6,489.3,54.2z" />
          </g>
        </g>
      </svg>
    </a>
  </div>
</div>