<div class="eye-version-panel">
  <div class="wrapper wrapper_responsive">

    <a href="#" class="eye-version-item eye-version-item_back">
      {% include './svg/icon-eye-svg.twig' %}

      <span class="eye-version-item__text">Вернуться к обычной версии сайта</span>
    </a>

     <div class="eye-version-item eye-version-item_font">
      <span class="eye-version-item__text">
        Размер шрифта:
      </span>
      <div class="eye-version__scales">
        <a href="#" class="eye-version__inner-item eye-version__scale eye-version__scale_1" data-scale="1">A</a>
        <a href="#" class="eye-version__inner-item eye-version__scale eye-version__scale_2" data-scale="2">A</a>
        <a href="#" class="eye-version__inner-item eye-version__scale eye-version__scale_3" data-scale="3">A</a>
      </div>
    </div>

    <div class="eye-version-item eye-version-item_color-theme">
      <span class="eye-version-item__text">
        Цветовая схема:
      </span>
      <div class="eye-version__colors">
        <a href="#" class="eye-version__inner-item eye-version__color eye-version__color_white m--current" data-color="white">A</a>
        <a href="#" class="eye-version__inner-item eye-version__color eye-version__color_black" data-color="black">A</a>
      </div>
    </div> 
    
  </div>
</div>