<div class="eye-version-panel">
  <div class="wrapper wrapper_responsive">

    <div class="eye-version-item eye-version-item_color-theme">
      <div class="eye-version__color_text">
        Цветовая схема:
      </div>
      <div class="eye-version__colors">
        <a href="#" class="eye-version__color m--current" data-color="white">A</a>
        <a href="#" class="eye-version__color" data-color="black">A</a>
      </div>
    </div>

    <div class="eye-version-item eye-version-item_font">
      <div class="eye-version__scale_text">
        Размер шрифта:
      </div>
      <div class="eye-version__scales">
        <a href="#" class="eye-version__scale" data-scale="1">A</a>
        <a href="#" class="eye-version__scale" data-scale="2">A</a>
        <a href="#" class="eye-version__scale" data-scale="3">A</a>
      </div>
    </div>

    <a href="#" class="eye-version-item eye-version-item_back">
      <span class="eye-version-item_back__text">Обычная версия сайта</span>
      
      {% include './svg/icon-back-svg.twig' %}
    </a>
  </div>
</div>