<form action="" class="form form_subscribe-to-news {{ classes }}">
  <div class="input-with-label">
    <label>Подписка на новости</label>
    <div class="input-cont">
      <input type="text" placeholder="Вам e-mail" class="required">
      {% include './svg/icon-mail-svg.twig' with {"classes": "input__icon"} %}
    </div>
  </div>
  <button type="submit" class="btn btn_colorPrimary2">Подписаться</button>
</form>