.eye-version {
  &-panel {
    display: none;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #ededed;
    * {
      user-select: none;
    }
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;

    &__text {
      margin-right: 10px;
      font-size: @font-14;
      font-weight: 400;
      color: #000;
      line-height: 20px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &_back {
      cursor: pointer;

      .icon-eye-svg {
        margin-right: 15px;
        transition: @transFast;
      }

      @media (min-width: @hoverW) {
        &:hover {
          .icon-eye-svg {
            transform: translateY(2px);
          }
        }
      }
    }
  }

  &__inner-item {
    &.m--current,
    &:not(.m--current):hover {
      &:after {
        position: absolute;
        content: '';
        width: 15px;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        background: #000;
      }
    }
  }

  &__scale {
    position: relative;
    font-weight: 600;
    color: #000;
    line-height: 1rem;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;

    &_1 {
      font-size: 19px;

      &:after {
        bottom: -6.1px;
      }
    }

    &_2 {
      font-size: 25px;

      &:after {
        bottom: -4.9px;
      }
    }

    &_3 {
      font-size: 30px;

      &:after {
        bottom: -4px;
      }
    }
  }

  &__colors {
    display: flex;
    align-items: center;
  }

  &__color {
    position: relative;
    font-size: 22px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: 600;
    text-align: center;
    line-height: 28px;
    border: 2px solid;
    margin-left: 3px;
    margin-right: 3px;

    &[data-color='black'] {
      background: #000;
      color: #fff;
      border-color: #000;
    }

    &.m--current,
    &:not(.m--current):hover {
      &:after {
        bottom: -7px;
      }
    }
  }
}

html.color-white {
  .eye-version {
    &-panel {
      border-bottom: 2px solid @blackEye;
      background: @whiteEye;
    }
  }
}

html.color-black {
  .eye-version {
    &-panel {
      border-bottom: 2px solid @whiteEye;
      background: @blackEye;
    }

    &-item {
      &__text {
        color: @whiteEye;
      }

      &_back {
        cursor: pointer;

        .icon-eye-svg {
          .st0 {
            fill: @whiteEye;
          }
        }
      }
    }

    &__inner-item {
      &.m--current,
      &:not(.m--current):hover {
        &:after {
          background: @whiteEye;
        }
      }
    }

    &__scale {
      color: @whiteEye;
    }

    &__color {
      &_white {
        background: #fff;
        color: #000;
        border-color: #fff;
      }
      &_black {
        background: #000;
        color: #fff;
        border-color: #fff;
      }
    }
  }
}
